.component-inner {
    width: 400px;
    .section {
        margin-top: 50px;
        &:first-child {
            margin-top: 0;
        }
        > .title {
            color: black;
            font-weight: bold;
        }
        .subtitle{
            white-space: pre;
            overflow: hidden;
            text-overflow: ellipsis;
            &.course-description{
                white-space: normal;
            }
        }
        .hr-lines-wrapper {
            display: flex;
            margin-top: 10px;
            margin-bottom: 20px;
            div {
                height: 4px;
                margin-right: 3px;
                &.hr-line-black {
                    width: 50px;
                    background-color: var(--color-content);
                }
                &.hr-line-red {
                    width: 100px;
                    background-color: var(--color-red-thick);
                }
            }
        }
        .content {
            .input-group {
                input {
                    padding-left: 2px;
                    border: none;
                    border-bottom: 1px solid #67757c;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    border-radius: 0;
                    &:focus {
                        box-shadow: none;
                        border-bottom: 1px solid #67757c;
                        z-index: 0;
                    }
                }
                .input-group-addon {
                    margin-left: -15px;
                    z-index: 1;
                }
            }
            p {
                margin: 0;
            }
            .hr-line {
                width: 100%;
                height: 2px;
                background-color: #F4F4F4;
                margin: 5px 0 10px;
            }
            .images {
                margin-bottom: 15px;
                padding-left: 15px;
                &:last-child {
                    margin-bottom: 0;
                }
                .col-md-3 {
                    padding-left: 0;
                    padding-bottom: 15px;
                }
            }
            a {
                color: inherit;
                &:hover{
                    color: black;
                }
            }
            .social-grid{
                display: flex;
                flex-wrap: wrap;
                .instagram-item{
                    min-width: 0px;
                    flex-basis: calc(100% / 4);
                    box-sizing: border-box;
                    border: 1px solid white;
                    flex-shrink: 0;
                    flex-grow: 0;
                    img{
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }
    }
    @media all and (max-width: 768px) {
        width: 100%;
    }
}