<div class="component-inner">
  <div class="section">
    <div class="title">
      MOST Courses
    </div>
    <div class="hr-lines-wrapper">
      <div class="hr-line-black"></div>
      <div class="hr-line-red"></div>
    </div>
    <div class="content">
      <a class="d-block" *ngFor="let courseType of courseTypes" [href]="'/course-detail/' + courseType.id">
        <p class="title">{{courseType.name}}</p>
        <div class="subtitle course-description" [innerHTML]="courseType.small_description"></div>
        <div class="hr-line"></div>
      </a>
    </div>
  </div>
  <div class="section">
    <div class="title">
      MOST Resources
    </div>
    <div class="hr-lines-wrapper">
      <div class="hr-line-black"></div>
      <div class="hr-line-red"></div>
    </div>
    <div class="content">
      <a class="d-block" *ngFor="let post of permanentResources" [href]="'/view-post/' + post.id">
        <p class="title">{{post.title}}</p>
        <div class="hr-line"></div>
      </a>
    </div>
  </div>
  <div class="section">
    <div class="title">
      TWITTER FEED
    </div>
    <div class="hr-lines-wrapper">
      <div class="hr-line-black"></div>
      <div class="hr-line-red"></div>
    </div>
    <div class="content">
      <a data-height="500" class="twitter-timeline" href="https://twitter.com/CSP_MOST?ref_src=twsrc%5Etfw">Tweets by CSP_MOST</a>
    </div>
  </div>
  <div class="section">
    <div class="title">
      MOST EVENTS
    </div>
    <div class="hr-lines-wrapper">
      <div class="hr-line-black"></div>
      <div class="hr-line-red"></div>
    </div>
    <div class="content">
      <div class="event-list">
        <a class="event-item d-block" *ngFor="let event of eventbriteEvents" [href]="event.url" target="_self">
          <p class="title">{{event.title}}</p>
          <p class="date-time">Starting {{event.startTime | date : 'MMMM d, h a'}}</p>
          <p class="subtitle">{{event.description.text}}</p>
          <div class="hr-line"></div>
        </a>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="title">
      FACEBOOK FEED
    </div>
    <div class="hr-lines-wrapper">
      <div class="hr-line-black"></div>
      <div class="hr-line-red"></div>
    </div>
    <div class="content">
      <div class="facebook--feed" #socialFacebook>
        <div *ngIf="facebookReady">
          <iframe [src]="facebookEmbedUrl" [width]="socialFacebookWidth" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="title">
      INSTAGRAM
    </div>
    <div class="hr-lines-wrapper">
      <div class="hr-line-black"></div>
      <div class="hr-line-red"></div>
    </div>
    <div class="content">
      <div class="social-grid" #socialInstagramGrid [ngStyle]="{height: socialInstagramHeight}">
        <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/96d5d323296c590dbf388089d0cedddc.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
      </div>
    </div>
  </div>
</div>
