<div class="card">
    <div class="card-body">
        <header class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h2 class="page-title">Add Course</h2>
                </div>
                <div class="col-auto">
                    <button class="app-btn" (click)="courseTypeEditor.open()">Add type</button>
                </div>
                <div class="col-auto">
                    <button class="app-btn" (click)="courseProviderEditor.open()">Add provider</button>
                </div>
            </div>
        </header>
        <div class="page-content">
            <form #f="ngForm" enctype="multipart/form-data"(ngSubmit)="f.form.valid && save()">
                <div class="app-form-group form-group">
                    <label for="" class="control-label">Name of Course:</label>
                    <input type="text" class="form-control" name="name" [(ngModel)]="sets.name"/>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="app-form-group form-group">
                            <label for="" class="control-label">Type of Course:</label>
                            <select class="form-control" name="type" [(ngModel)]="sets.type" id="">
                                <option *ngFor="let type of courseTypes" [value]="type.id">{{type.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="app-form-group form-group">
                            <label for="" class="control-label">Course Provider Company</label>
                            <select name="provider_company" [(ngModel)]="sets.provider_company" class="form-control">
                                <option *ngFor="let provider of courseProviders" [value]="provider.id">{{provider.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="app-form-group form-group">
                    <label for="" class="form-control-label">Description of Course:</label>
                    <app-ngx-editor [config]="editorConfig" name="content" [placeholder]="'type your description...'" [spellcheck]="true" [(ngModel)]="sets.description"></app-ngx-editor>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="app-form-group form-group">
                            <label for="" class="form-control-label">Instructor:</label>
                            <input type="text" class="form-control" name="instructor" [(ngModel)]="sets.instructor" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="app-form-group form-group">
                            <label for="" class="form-control-label">Date and time:</label>
                            <input type="text" class="form-control" name="date_time" [(ngModel)]="sets.date_time" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="app-form-group form-group">
                            <label for="" class="control-label">Address:</label>
                        <input type="text" class="form-control" name="address" [(ngModel)]="sets.address"/>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="app-form-group form-group">
                            <label for="" class="control-label">City:</label>
                        <input type="text" class="form-control" name="city" [(ngModel)]="sets.city"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="app-form-group form-group">
                            <label for="" class="control-label">State:</label>
                        <input type="text" class="form-control" name="state" [(ngModel)]="sets.state"/>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="app-form-group form-group">
                            <label for="" class="control-label">Zip:</label>
                        <input type="text" class="form-control" name="zip" [(ngModel)]="sets.zip"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="app-form-group form-group">
                            <label for="" class="control-label">Phone:</label>
                            <input type="text" class="form-control" name="phone" [(ngModel)]="sets.phone"/>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="app-form-group form-group">
                            <label for="" class="control-label">Email:</label>
                            <input type="text" class="form-control" name="email" [(ngModel)]="sets.email"/>
                        </div>
                    </div>
                </div>
                <div class="app-form-group form-group">
                    <label for="" class="control-label">Upload cover image for this Course (optional):</label>
                    <div class="cover-image-wrapper">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-auto">
                                <div class="img-wrapper">
                                    <img [src]="coverImageSrc || './assets/images/icon/cloud-computing.svg'">
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="upload-helper-txt">Drag Image here to upload</div>
                            </div>
                        </div>
                        <input class="form-control" type="file" name="image" (change)="updateCoverImage($event)"/>
                    </div>
                </div>
                <div class="button-box">
                    <button class="app-btn" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-course-type-editor #courseTypeEditor (create)="onTypeCreate($event)"></app-course-type-editor>
<app-course-provider-editor #courseProviderEditor (create)="onProviderCreate($event)"></app-course-provider-editor>