<div class="card">
    <div class="card-body">
        <div class="app-form-group form-group">
            <label for="" class="form-control-label">Screen Name</label>
            <input type="text" class="form-control" name="screen_name" [(ngModel)]="screenName"/>
        </div>
        <div class="form-group">
            <button class="btn pull-tweets-btn" (click)="pullRecentTweets()">
                <fa name="twitter"></fa>&nbsp;
                <span>Pull recent Tweets</span>
            </button>
        </div>
        <h3 class="select-tweet">Select Tweet to show on Home Page</h3>
        <div class="tweet-list">
            <div class="tweet-item mb-2" *ngFor="let tweet of tweets" [ngClass]="{selected: tweet.selected}">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <div class="checkbox-wrapper" (click)="tweet.selected = !tweet.selected; setTweets();">
                            <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M 16.084,0c-8.836,0-16,7.164-16,16s 7.164,16, 16,16s 16-7.164, 16-16S 24.92,0, 16.084,0z M 23.496,11.574l-7.664,11.714 c-0.002,0.002-0.006,0.004-0.006,0.006c-0.040,0.060-0.062,0.128-0.112,0.184c-0.070,0.076-0.16,0.116-0.24,0.174 c-0.020,0.014-0.040,0.030-0.062,0.044c-0.124,0.078-0.252,0.13-0.392,0.164c-0.046,0.012-0.088,0.024-0.136,0.032 c-0.114,0.016-0.222,0.016-0.336,0.004c-0.080-0.006-0.156-0.016-0.234-0.036c-0.080-0.022-0.154-0.056-0.23-0.092 c-0.064-0.030-0.132-0.038-0.192-0.076c-0.044-0.028-0.068-0.072-0.106-0.106c-0.016-0.014-0.036-0.018-0.052-0.032L 9.272,19.428 C 8.704,18.902, 8.67,18.016, 9.194,17.45s 1.41-0.602, 1.978-0.078l 3.23,2.988l 6.75-10.318c 0.424-0.646, 1.29-0.828, 1.938-0.406 C 23.738,10.060, 23.92,10.928, 23.496,11.574z"></path></g></svg>
                        </div>
                    </div>
                    <div class="col">
                        <div class="tweet-title">{{tweet.text}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>