.pull-tweets-btn{
    background-color: #4AB3F4;
    color: white;
    border-radius: 20px;
    &:hover{
        background-color: #1DA1F2;
    }
}
.tweet-list{
    .tweet-item{
        .checkbox-wrapper{
            line-height: 0;
            cursor: pointer;
            opacity: .3;
            svg{
                g, path{
                    fill: var(--color-grey-light);
                }
            }
            &:hover{
                opacity: .8;
                svg{
                    g, path{
                        fill: #4AB3F4;
                    }
                }
            }
        }
        &.selected{
            .checkbox-wrapper{
                opacity: 1;
                svg{
                    g, path{
                        fill: #4AB3F4;
                    }
                }
            }
        }
    }
}