@import "_variables.scss";

.component-inner{
    margin-bottom: 15px;
    .item-action{
        display: block;
        line-height: 0;
        svg{
            width: 25px;
            height: 25px;
            g, path {
                fill: $colorLightGrey;
            }
        }
        &.edit-action {
            display: flex;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 1px solid $colorLightGrey;
            svg {
                width: 12px;
                height: 12px;
            }
        }
        &:hover{
            svg{
                g, path {
                    fill: $colorContent;
                }
            }
            &.edit-action {
                border-color: $colorContent;
            }
        }
    }
    .item-img-wrapper{
        flex-basis: 90px;
        text-align: center;
        opacity: 1;
        position: relative;
        cursor: pointer;
        width: 87px;
        max-height: 70px;
        min-height: 50px;
        border: 1px solid $colorLightGrey;
        img{
            width: 100%;
            max-height: 70px;
        }
        .image-input{
            display: block;
            position: absolute;
            z-index: 1;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }
    }
    .form-group{
        margin-bottom: 0px;
        input{
            padding-left: 0px;
            border: none;
            border-bottom: 1px solid $colorLightGrey;
            box-shadow: none;
            border-radius: 0px;
            font-size: 1.1rem;
            &::placeholder{
                color: $colorLightGrey;
            }
            &[name="strSeries_title"]{
                max-width: 385px;
            }
        }
    }
    .app-btn{
        font-size: 1.1rem;
        padding: 7px 30px;
        position: relative;
        min-width: 200px;
        &:after{
            content: '';
            display: none;
            width: 30px;
            height: 30px;
            position: absolute;
            right: 10px;
            top: calc((100% - 30px) / 2);
            background-image: url("../../../assets/images/icon/check_arrow_2.svg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 20px 20px;
        }
        &.active{
            &:after{
                display: block;
            }
        }
        &:focus{
            outline: none;
        }
    }
}