<div class="component-inner">
    <div class="row align-items-center">
        <div class="col-auto">
            <a class="item-action delete-action" href="javascript:;" (click)="deleteItem()">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 width="612px" height="612px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
<g>
    <g>
        <polygon points="424.032,443.7 443.7,424.032 325.667,306 443.7,187.967 424.032,168.3 306,286.333 187.967,168.3 168.3,187.967
			286.333,306 168.3,424.032 187.967,443.7 306,325.667 		"/>
        <path d="M612,306C612,137.004,474.995,0,306,0C137.004,0,0,137.004,0,306c0,168.995,137.004,306,306,306
			C474.995,612,612,474.995,612,306z M27.818,306C27.818,152.36,152.36,27.818,306,27.818S584.182,152.36,584.182,306
			S459.64,584.182,306,584.182S27.818,459.64,27.818,306z"/>
    </g>
</g>
</svg>
            </a>
        </div>
        <div class="col-auto">
            <div class="item-img-wrapper">
                <img class="item-img" [src]="item.image || imageSrc" />
                <input type="file" class="image-input" (change)="updateImageFile($event)"/>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <input type="text" class="form-control item-title-input" name="title" [(ngModel)]="item.title" />
            </div>
        </div>
        <div class="col-auto data-generate-col" *ngIf="item.canConvert">
            <button (click)="asKeep()" class="app-btn keep-btn" [ngClass]="{active: !item.converted}">Keep format</button>
        </div>
        <div class="col-auto data-generate-col" *ngIf="item.canConvert">
            <button (click)="asConvert()" class="app-btn convert-btn" [ngClass]="{active: item.converted}">Convert</button>
        </div>
    </div>
</div>