<div class="card">
    <div class="card-body">
        <form #f="ngForm" (ngSubmit)="save()">
            <div class="form-group app-form-group">
                <label for="" class="form-control-label">Approve Message</label>
                <app-ngx-editor [config]="editorConfig" name="approve_message" [placeholder]="'type approve message...'" [spellcheck]="true" [(ngModel)]="options.renewal_approve_msg"></app-ngx-editor>
            </div>
            <div class="form-group app-form-group">
                <label for="" class="form-control-label">Deny Message</label>
                <app-ngx-editor [config]="editorConfig" name="deny_message" [placeholder]="'type deny message...'" [spellcheck]="true" [(ngModel)]="options.renewal_deny_msg"></app-ngx-editor>
            </div>
            <div>
                <button class="app-btn">SAVE</button>
            </div>
        </form>
    </div>
</div>