<div class="card">
    <div class="card-body">
        <form  name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
            <div class="form-group">
                <label class="form-control-label">Name</label>
                <input type="text" class="form-control" [(ngModel)]="user.name" name="name" required/>
            </div>
            <div class="form-group">
                <label class="form-control-label">Email</label>
                <input type="text" class="form-control" [(ngModel)]="user.email" name="email"/>
            </div>
            <div class="form-group">
                <label class="form-control-label">Level</label>
                <div class="form-control d-block">
                    {{levelName}}
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label">Company</label>
                <input type="text" class="form-control" [(ngModel)]="user.company" name="company"/>
            </div>
            <div class="form-group">
                <label class="form-control-label">Address</label>
                <input type="text" class="form-control" [(ngModel)]="user.address" name="address"/>
            </div>
            <div class="form-group">
                <label class="form-control-label">Phone</label>
                <input type="text" class="form-control" [(ngModel)]="user.phone" name="phone"/>
            </div>
            <div class="form-group">
                <label class="form-control-label">Password</label>
                <input type="password" name="password" [(ngModel)]="password" class="form-control" />
            </div>
            <div class="form-group">
                <button class="btn btn-md btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>