<header class="app-public-header">
    <div class="header-top">
        <div class="public-section-inner">
            <div class="row">
                <div class="col">
                    <div class="logo-wrapper">
                        <a href="/" class="d-inline-block">
                            <img src="./assets/images/icon/logo.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-auto d-none d-md-block">
                    <div class="row mb-4 pb-2 d-none d-md-flex">
                        <div class="col-auto">
                            <a class="phone-wrapper d-block" href="javascript:;">
                                <svg width="15" height="15" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff"><g><path d="M 13.216,8.064C 12.834,3.67, 8.25,1.514, 8.056,1.426C 7.874,1.34, 7.67,1.314, 7.474,1.348 c-5.292,0.878-6.088,3.958-6.12,4.086C 1.31,5.614, 1.318,5.8, 1.374,5.974c 6.312,19.584, 19.43,23.214, 23.742,24.408 c 0.332,0.092, 0.606,0.166, 0.814,0.234c 0.1,0.034, 0.204,0.048, 0.308,0.048c 0.142,0, 0.284-0.030, 0.414-0.090 c 0.132-0.060, 3.248-1.528, 4.010-6.316c 0.034-0.208,0-0.424-0.096-0.612c-0.068-0.132-1.698-3.234-6.218-4.33 c-0.316-0.082-0.64,0.002-0.884,0.21c-1.426,1.218-3.396,2.516-4.246,2.65c-5.698-2.786-8.88-8.132-9-9.146 C 10.148,12.46, 11.454,10.458, 12.956,8.83C 13.146,8.624, 13.242,8.344, 13.216,8.064z"></path></g></svg>
                                <span class="phone-number">303-273-1844</span>
                            </a>
                        </div>
                        <div class="col-auto">
                            <a class="email-wrapper d-block" href="mailto:cspmost@state.co.us">
                                <svg width="15" height="15" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff"><g><path d="M 30,8L 2,8 C 0.896,8,0,8.896,0,10l0,3.358 l 16,6.4l 16-6.4L 32,10 C 32,8.896, 31.104,8, 30,8zM0,16.624L0,30 c0,1.104, 0.896,2, 2,2l 28,0 c 1.104,0, 2-0.896, 2-2L 32,16.624 l-16,6.4L0,16.624z"></path></g></svg>
                                <span class="phone-number">cspmost@state.co.us</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <div class="public-section-inner">
            <nav>
                <div class="row align-items-center d-block d-md-flex">
                    <div class="col-auto mr-auto d-none d-md-block">
                        <div class="social-links">
                            <div class="row align-items-center">
                                <div class="col-auto pr-0">
                                    <a [href]="social.social_link_twitter" class="social-link flex-center" target="_self">
                                        <svg width="13" height="13" viewBox="0 0 32.003997802734375 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g><path d="M 31.118,3.48c-1.268,0.752-2.674,1.298-4.17,1.594C 25.75,3.796, 24.044,3, 22.156,3 c-3.626,0-6.566,2.94-6.566,6.564c0,0.514, 0.058,1.016, 0.17,1.496c-5.456-0.274-10.294-2.888-13.532-6.86 C 1.662,5.168, 1.34,6.296, 1.34,7.5c0,2.278, 1.16,4.288, 2.92,5.464C 3.184,12.928, 2.172,12.632, 1.286,12.14c0,0.028,0,0.054,0,0.082 c0,3.18, 2.264,5.834, 5.266,6.438C 6.002,18.81, 5.422,18.89, 4.822,18.89c-0.424,0-0.834-0.042-1.236-0.118 c 0.836,2.608, 3.26,4.506, 6.132,4.56c-2.246,1.76-5.078,2.81-8.154,2.81c-0.53,0-1.052-0.032-1.566-0.092 C 2.904,27.912, 6.354,29, 10.062,29c 12.076,0, 18.68-10.004, 18.68-18.68c0-0.284-0.006-0.568-0.020-0.85 c 1.286-0.922, 2.4-2.078, 3.28-3.394c-1.178,0.522-2.442,0.876-3.77,1.034C 29.588,6.298, 30.628,5.010, 31.118,3.48z"></path></g></svg>
                                    </a>
                                </div>
                                <div class="col-auto pr-0 pl-2">
                                    <a [href]="social.social_link_facebook" class="social-link flex-center" target="_self">
                                        <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g><path d="M 12.054,32l 5.996,0 l 0.004-16l 5.446-0.002l 0.584-5.514L 18.050,10.484 l 0.008-2.76c0-1.438, 0.098-2.208, 2.162-2.208l 3.812,0 L 24.032,0 L 18.566,0 C 13.268,0, 12.048,2.738, 12.048,7.236l 0.006,3.248L 8.032,10.486L 8.032,16 l 4.022,0 L 12.054,32 z"></path></g></svg>
                                    </a>
                                </div>
                                <div class="col-auto pr-0 pl-2">
                                    <a [href]="social.social_link_instagram" class="social-link flex-center" target="_self">
                                        <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g><path d="M 30.556,0L 1.444,0 C 0.648,0,0,0.646,0,1.442l0,29.116 C0,31.352, 0.648,32, 1.444,32l 29.112,0 C 31.352,32, 32,31.352, 32,30.558L 32,1.442 C 32,0.646, 31.352,0, 30.556,0z M 21.584,16c0,3.084-2.5,5.584-5.584,5.584S 10.416,19.084, 10.416,16 c0-3.084, 2.5-5.584, 5.584-5.584S 21.584,12.916, 21.584,16z M 28,28L 4,28 L 4,14 l 2.634,0 C 6.496,14.646, 6.416,15.314, 6.416,16 c0,5.284, 4.3,9.584, 9.584,9.584s 9.584-4.3, 9.584-9.584c0-0.686-0.080-1.354-0.218-2L 28,14 L 28,28 z M 28,10l-6,0 L 22,4 l 6,0 L 28,10 z"></path></g></svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto ml-auto">
                        <div class="menu-wrapper font-rajdhani">
                            <div class="row align-items-center">
                                <div class="col-auto mr-auto d-block d-md-none">
                                    <button class="app-btn-for-child toggle-mobile-menu" (click)="mobileSidebarOpened = !mobileSidebarOpened; mobileSidebarOpenedChange.emit(mobileSidebarOpened);">
                                        <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g><path d="M 17,2C 8.716,2, 2,8.716, 2,17S 8.716,32, 17,32S 32,25.284, 32,17S 25.284,2, 17,2z M 25,24l-16,0 C 8.448,24, 8,23.552, 8,23C 8,22.448, 8.448,22, 9,22l 16,0 c 0.552,0, 1,0.448, 1,1C 26,23.552, 25.552,24, 25,24z M 25,18l-16,0 C 8.448,18, 8,17.552, 8,17C 8,16.448, 8.448,16, 9,16l 16,0 C 25.552,16, 26,16.448, 26,17C 26,17.552, 25.552,18, 25,18z M 25,12l-16,0 C 8.448,12, 8,11.552, 8,11C 8,10.448, 8.448,10, 9,10l 16,0 C 25.552,10, 26,10.448, 26,11C 26,11.552, 25.552,12, 25,12z"></path></g></svg>
                                    </button>
                                </div>
                                <div class="col-auto d-block d-md-none">
                                    <a class="email-wrapper d-block" href="mailto:cspmost@state.co.us">
                                        <svg width="15" height="15" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff"><g><path d="M 30,8L 2,8 C 0.896,8,0,8.896,0,10l0,3.358 l 16,6.4l 16-6.4L 32,10 C 32,8.896, 31.104,8, 30,8zM0,16.624L0,30 c0,1.104, 0.896,2, 2,2l 28,0 c 1.104,0, 2-0.896, 2-2L 32,16.624 l-16,6.4L0,16.624z"></path></g></svg>
                                        <span class="phone-number">cspmost@state.co.us</span>
                                    </a>
                                </div>
                                <div class="col-auto p-0 d-none d-md-block">
                                    <a routerLink="/courses" class="menu-item">
                                        COURSES
                                        <div class="item-divider">
                                            <div class="dot"></div>
                                            <div class="dot"></div>
                                            <div class="dot"></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-auto p-0 d-none d-md-block">
                                    <a href="javascript:;" class="menu-item">
                                        RESOURCES
                                        <div class="item-divider">
                                            <div class="dot"></div>
                                            <div class="dot"></div>
                                            <div class="dot"></div>
                                        </div>
                                        <div class="permanent-resource-wrapper">
                                            <div class="list-permanent-resource">
                                                <a class="permanent-resource-item d-block" *ngFor="let post of permanent_resources" [routerLink]="['/view-post', post.id]" target="_self">
                                                    {{post.title}}
                                                </a>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-auto p-0 d-none d-md-block">
                                    <a routerLink="/faq" class="menu-item">
                                        FAQ
                                        <div class="item-divider">
                                            <div class="dot"></div>
                                            <div class="dot"></div>
                                            <div class="dot"></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-auto p-0 d-none">
                                    <a href="javascript:;" (click)="scrollToEvents()" class="menu-item">
                                        EVENTS
                                        <div class="item-divider">
                                            <div class="dot"></div>
                                            <div class="dot"></div>
                                            <div class="dot"></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-auto p-0 d-none d-md-block">
<!--                                    <a routerLink="/view-post/25" class="menu-item">-->
                                    <a routerLink="/become-instructor" class="menu-item">
                                        BECOME AN INSTRUCTOR
                                        <div class="item-divider">
                                            <div class="dot"></div>
                                            <div class="dot"></div>
                                            <div class="dot"></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-auto p-0 d-none d-md-block">
                                    <a [routerLink]="['/contact']" class="menu-item">
                                        CONTACT
                                        <div class="item-divider">
                                            <div class="dot"></div>
                                            <div class="dot"></div>
                                            <div class="dot"></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-auto p-0 d-none d-md-block">
                                    <a href="javascript:;" class="menu-item position-relative">
                                        JOIN THE NEWSLETTER
                                        <div class="item-pan" (click)="activeJoinNewsletter()"></div>
                                        <div class="item-divider">
                                            <div class="dot"></div>
                                            <div class="dot"></div>
                                            <div class="dot"></div>
                                        </div>
                                        <div class="join-form-wrapper" (blur)="joinNewsletterActive = false;" #joinFormWrap id="header-join-form-wrap" [tabIndex]="joinNewsletterActive ? 0 : 10">
                                            <div class="row align-items-end">
                                                <div class="col">
                                                    <div class="input-wrapper">
                                                        <input type="email" class="form-control" placeholder="Enter your email address" name="newsletter_email" [(ngModel)]="newsletter_email"/>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <button class="home-btn font-lato-bold" (click)="sendNewsletterEmail()">SUBSCRIBE</button>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-auto p-0 d-none">
                                    <a routerLink="/list-post" class="menu-item">
                                        BLOG
                                        <div class="item-divider">
                                            <div class="dot"></div>
                                            <div class="dot"></div>
                                            <div class="dot"></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-auto pl-0 d-none d-md-block">
                                    <a routerLink="/auth/login" class="menu-item">INSTRUCTOR/VENDOR LOG IN</a>
                                </div>
                                <div class="col-auto d-none">
                                    <a href="javascript:;" class="search-item flex-center">
                                        <svg width="13" height="13" viewBox="0 0 32.24800109863281 32.24800109863281" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g><path d="M 19,0C 11.82,0, 6,5.82, 6,13c0,3.090, 1.084,5.926, 2.884,8.158l-8.592,8.592c-0.54,0.54-0.54,1.418,0,1.958 c 0.54,0.54, 1.418,0.54, 1.958,0l 8.592-8.592C 13.074,24.916, 15.91,26, 19,26c 7.18,0, 13-5.82, 13-13S 26.18,0, 19,0z M 19,24 C 12.934,24, 8,19.066, 8,13S 12.934,2, 19,2S 30,6.934, 30,13S 25.066,24, 19,24z"></path></g></svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
