.app-public-header{
    .header-top{
        background-image: url("./../../../assets/images/background/COLwelcome.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: white;
        padding-bottom: 55px;
        border-bottom: 6px solid var(--color-red-thick);
        .phone-wrapper, .email-wrapper{
            color: white;
            svg{
                vertical-align: middle;
            }
            span{
                vertical-align: middle;
                padding-left: 10px;
            }
        }
        .logo-wrapper{
            padding-top: 55px;
            img{
                width: 350px;
            }
        }
    }
    .header-nav{
        padding: 0px 0px 0px 0px;
        nav{
            .social-links{
                .social-link{
                    width: 32px;
                    height: 32px;
                    border: 1px solid var(--color-grey-light);
                    svg{
                        width: 16px !important;
                        height: auto;
                        g, path{
                            fill: var(--color-grey-light) !important;
                        }
                    }
                    &.active, &:hover{
                        background-color: var(--color-red-thick);
                        border-color: var(--color-red-thick);
                    }
                }
            }
            .menu-wrapper{
                .menu-item{
                    display: block;
                    padding: 25px 15px;
                    line-height: 1em;
                    position: relative;
                    font-family: rajdhani-regular, Helvetica, Arial, sans-serif;
                    font-size: 16px;
                    font-weight: 700;
                    color: black;
                    border-left: 2px solid transparent;
                    .item-pan{
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        width: 100%;
                        height: 100%;
                    }
                    .item-divider{
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        height: 100%;
                        width: auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .dot{
                            width: 2px;
                            height: 2px;
                            margin: 2px 0px;
                            border-radius: 50%;
                            background-color: var(--color-grey-light);
                        }
                    }
                    &.active, &:hover{
                        color: white;
                        border-left-color: red;
                        background-color: blue;
                        .item-divider{
                            display: none;
                        }
                        .permanent-resource-wrapper{
                            display: block;
                        }
                    }
                    .join-form-wrapper{
                        position: absolute;
                        top: calc(100% + 25px);
                        right: 0px;
                        width: 600px;
                        max-width: 100vw;
                        z-index: -1;
                        background-color: white;
                        opacity: .5;
                        .input-wrapper{
                            border-bottom: 1px solid var(--color-grey-light);
                            padding-bottom: 15px;
                            padding-left: 30px;
                            position: relative;
                            overflow: hidden;
                            transition: all .2s ease-out;
                            input{
                                border: none;
                                font-size: 16px;
                                &:focus{
                                    outline: none;
                                    box-shadow: none;
                                }
                                &::placeholder{
                                    color: var(--color-grey-light);
                                    font-style: italic;
                                }
                            }
                            &:before{
                                content: '';
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                width: 3%;
                                height: 100%;
                                background-color: var(--color-grey-light);
                                transform-origin: bottom right;
                                transform: rotate(-45deg);
                            }
                            &:focus-within{
                                padding-bottom: 0px;
                                padding-left: 10px;
                                border-color: var(--color-content);
                                &:before{
                                    background-color: var(--color-content);
                                }
                            }
                        }
                        .home-btn{
                            font-family: Lato;
                            padding: 20px 40px;
                            font-size: 14px;
                        }
                        &:focus, &:focus-within{
                            opacity: 1;
                            top: calc(100% + 5px);
                            z-index: 10;
                            transition: all .3s ease-out;
                        }
                    }
                    .permanent-resource-wrapper{
                        display: none;
                        position: absolute;
                        z-index: 10;
                        top: calc(100%);
                        left: -15px;
                        width: 600px;
                        max-width: 100vw;
                        padding: 10px 15px 20px;
                        .list-permanent-resource{
                            box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, .05);
                            background-color: white;
                            .permanent-resource-item{
                                padding: 10px 15px;
                                color: var(--color-content);
                                &:hover{
                                    background-color: var(--color-red-thick);
                                    color: white;
                                }
                            }
                        }
                    }
                }
                .search-item{
                    width: 32px;
                    height: 32px;
                    background-color: var(--color-red-thick);
                    svg{
                        g, path{
                            fill: var(--color-grey-light) !important;
                        }
                    }
                }
                .toggle-mobile-menu{
                    line-height: 0;
                    svg{
                        g, path{
                            fill: var(--color-red-thick);
                        }
                    }
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
    }
    .public-section-inner {
        width: var(--public-section-inner);
        max-width: 100%;
        margin: 0px auto;
        padding: 0px 15px;
    }
    @media all and (max-width: 991px) {
        .header-top{
            padding-bottom: 15px;
            .logo-wrapper{
                padding-top: 15px;
            }
        }
        .header-nav{
            padding: 15px 0px 15px 0px;
        }
    }
}