<router-outlet>
    <!--<app-spinner></app-spinner>-->
    <app-preloader></app-preloader>
</router-outlet>
<div id="external-script-wrap" hidden></div>
<!--<ngx-loading [show]="ajaxApi.showSpinner$ | async" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>-->