<section class="component-inner">
    <header class="component-header">
        <div class="row align-items-center">
            <div class="col">
                <div class="from-name">from {{from.charAt(0).toUpperCase() + from.substr(1)}}</div>
            </div>
            <div class="col-auto">
                <div class="found-count">
                    {{items.length}} items found
                </div>
            </div>
        </div>
    </header>
    <div class="component-body">
        <div class="row flex-nowrap">
            <div class="col-auto pt-5">
                <a href="javascript:;" (click)="slickModal.slickPrev()" class="nav-action app-arrow-icon-wrapper arrow-left">
                </a>
            </div>
            <div class="col min-width-0">
                <div class="slick-wrap">
                    <ngx-slick-carousel class="carousel"
                                        #slickModal="slick-carousel"
                                        [config]="slideConfig">
                        <div ngxSlickItem *ngFor="let item of items" class="slide">
                            <app-web-search-selectable-item [(item)]="item"></app-web-search-selectable-item>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
            <div class="col-auto pt-5">
                <a href="javascript:;" (click)="slickModal.slickNext()" class="nav-action app-arrow-icon-wrapper arrow-right">
                </a>
            </div>
        </div>
    </div>
</section>