@import "_variables.scss";
.component-inner{
    .component-header{
        margin-bottom: 20px;
        .from-name{
            margin: 0px;
            font-size: 1.4rem;
        }
        .found-count{
            color: $colorContent;
            text-decoration: underline;
        }
    }
    .component-body{
        .slick-wrap{

        }
    }
}