<div class="page-component">
    <header class="page-header pt-3 pb-3 text-center">
        <div class="title font-lato-light">Learn about <span class="most-txt-strong font-lato">MOST</span></div>
        <div class="content">
            <div class="most-courses-txt font-lato-light"><span class="font-weight-bold">MOST</span> Blog</div>
            <div class="lines-wrapper">
                <div class="line"></div>
                <div class="line active"></div>
            </div>
        </div>
    </header>
    <section class="page-content-wrapper">
        <div class="row justify-content-center">
            <div class="col-12 col-md mr-0 mr-md-5">
                <div class="post-wrap" #postWrap>
                    <div *ngIf="post.type !== 'video'">
<!--                        <div class="image-wrapper">-->
<!--                            <img [src]="post.image" class="w-100" alt="">-->
<!--                            <div class="hr-line-red"></div>-->
<!--                        </div>-->
                        <h2 class="post-title">{{post.title}}</h2>
                        <div class="post-description" [innerHTML]="post.content"></div>
                    </div>
                    <div *ngIf="post.type === 'video'" #videoBlog>
                        <h2 class="post-title">{{post.title}}</h2>
                    </div>
                    <div class="hidden" hidden>
                        <video #video
                               class="video-js vjs-default-skin"
                               controls
                               autoplay>
                        </video>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-auto ml-0 ml-md-5">
                <app-public-sidebar [courseTypes]="courseTypes" [socialFeed]="socialFeed"></app-public-sidebar>
            </div>
        </div>
    </section>
    <section class="signup-component-wrap">
        <app-signup-for-newsletter></app-signup-for-newsletter>
    </section>
</div>
