@import "_variables.scss";

.component-inner{
    .component-header{
        margin-bottom: 30px;
        text-align: left;
        .upload-items-title-wrapper{
            margin-bottom: 20px;
            .uploaded-items-txt{
                margin: 0px;
            }
        }
        .drag-title-wrapper{
            margin-bottom: 20px;
            img{
                width: 30px;
                vertical-align: middle;
                opacity: .7;
            }
            span{
                margin-left: 5px;
                font-size: 1.1rem;
                vertical-align: middle;
            }
        }
    }
    .component-content{
        .items-list{
            min-height: 300px;
            padding: 20px 30px;
            border: 1px dashed $colorLightGrey;
            border-radius: 10px;
        }
    }
    .component-footer{
        text-align: center;
        .button-wrapper{
            margin-top: 20px;
            margin-bottom: 25px;
            text-align: center;
            .save-btn{
                background-color: $colorGreen;
                border: none;
                outline: none;
                color: white;
                display: block;
                width: 290px;
                margin: 0px auto;
                text-align: center;
                padding: 12px 5px;
                border-radius: 30px;
                font-size: 1.3rem;
                font-weight: lighter;
                &:hover{
                    background-color: $colorGreenHover;
                }
                &.small{
                    display: inline-block;
                    width: auto;
                    padding: 10px 30px;
                    font-size: 1.1rem;
                }
                &[disabled]{
                    opacity: 0;
                }
            }
        }
        .changed-txt{
            margin-bottom: 10px;
        }
        .btn-wrapper{
            .cancel-all-btn{
                background-color: transparent;
                border: 1px solid $colorGreen;
                color: $colorContent;
                padding: 7px 20px;
                border-radius: 20px;
                font-size: 1.1rem;
                &:focus{
                    outline: none;
                }
                &:hover{
                    background-color: $colorGreen;
                    color: white;
                }
            }
        }
    }
}