<div class="component-inner">
    <header class="component-header">
        <div class="upload-items-title-wrapper">
            <div class="row align-items-center">
                <div class="col">
                    <h2 class="uploaded-items-txt">Uploaded Items</h2>
                </div>
                <div class="col-auto">
                    <div class="uploaded-cnt bottom-underline">
                        <span class="cnt-value">{{files.length}}</span> item{{files.length > 1 ? 's' : ''}} uploaded
                    </div>
                </div>
            </div>
        </div>
        <div class="drag-title-wrapper">
            <img src="./assets/images/icon/move.png" alt=""> <span class="drag-title-txt">Drag on items to change the order</span>
        </div>
    </header>
    <div class="component-content">
        <div class="items-list">
            <div class="item-wrapper" *ngFor="let file of files; let i=index">
                <app-file-upload-row #itemRow [file]="file" (itemDeleted)="onItemDeleted(i)"></app-file-upload-row>
            </div>
        </div>
    </div>
    <footer class="component-footer">
        <div class="button-wrapper">
            <button class="app-btn save-btn" [disabled]="!files.length" (click)="uploadAll()">Upload all</button>
        </div>
        <div class="changed-txt">if you changed your mind to upload</div>
        <div class="btn-wrapper">
            <button class="cancel-all-btn btn" (click)="cancelAll()">Cancel all</button>
        </div>
    </footer>
</div>