<div class="card">
    <div class="card-body">
        <form #f="ngForm" (ngSubmit)="save()">
            <div class="form-group app-form-group">
                <div class="media-action-header d-flex mb-2">
                    <div class="add-media-wrap">
                        <div class="add-txt">Add Photo/Video</div>
                        <input type="file" (change)="addMedia($event)"/>
                    </div>
                </div>
                <div class="list-media">
                    <div class="media-item" *ngFor="let m of media">
                        <img [src]="m.source" alt="" *ngIf="m.type === 'image'"/>
                        <video [src]="m.source" *ngIf="m.type === 'video'"></video>
                        <fa name="times" (click)="removeMedia(m)"></fa>
                    </div>
                </div>
            </div>
            <div class="form-group app-form-group">
                <label class="form-control-label">Describe the Incident:</label>
                <app-ngx-editor [config]="editorConfig" name="content" [placeholder]="'type your description...'"
                                [spellcheck]="true" [(ngModel)]="sets.description"></app-ngx-editor>
            </div>
            <div class="row" *ngIf="authService.auth.role.toLowerCase() === 'admin'">
                <div class="col-md-6">
                    <div class="form-group app-form-group">
                        <label for="" class="form-control-label">Vendor:</label>
                        <select name="vendor" [(ngModel)]="sets.vendor" class="form-control">
                            <option *ngFor="let vendor of vendors" [value]="vendor.id">{{vendor.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group app-form-group">
                        <label for="" class="form-control-label">Address of the Incident:</label>
                        <input type="text" class="form-control" name="address" [(ngModel)]="sets.address"/>
                    </div>
                </div>
            </div>
            <div class="form-group app-form-group" *ngIf="authService.auth.role.toLowerCase() === 'vendor'">
                <label for="" class="form-control-label">Address of the Incident:</label>
                <input type="text" class="form-control" name="address" [(ngModel)]="sets.address"/>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group app-form-group">
                        <label for="" class="form-control-label">City of the Incident:</label>
                        <input type="text" class="form-control" name="city" [(ngModel)]="sets.city"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group app-form-group">
                        <label for="" class="form-control-label">Zip code of the Incident:</label>
                        <input type="text" class="form-control" name="zip_code" [(ngModel)]="sets.zip_code"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group app-form-group">
                        <label for="" class="form-control-label">Date of the Incident:</label>
                        <input class="form-control" placeholder="" name="date"
                               [(ngModel)]="dateObj"
                               [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1"/>
                        <owl-date-time [pickerType]="'calendar'"
                                       [startView]="'year'" #dt1></owl-date-time>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group app-form-group">
                        <label for="" class="form-control-label">Time of the incident:</label>
                        <input class="form-control" placeholder="" name="time"
                               [(ngModel)]="timeObj"
                               [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2"/>
                        <owl-date-time [pickerType]="'timer'" #dt2></owl-date-time>
                    </div>
                </div>
            </div>
            <div>
                <button class="app-btn">{{ incident ? 'SAVE' : 'SUBMIT' }}</button>
            </div>
        </form>
    </div>
</div>
