@import "_variables.scss";

.add-media-wrap{
    padding: 3px 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid $colorLightGrey;
    border-radius: 3px;
    .add-txt{
    }
    input{
        width: 200%;
        height: 200%;
        position: absolute;
        bottom: 0px;
        right: 0px;
        opacity: 0;
        cursor: pointer;
    }
    &:hover{
        background-color: #f4f6f9;
    }
}
.list-media{
    display: flex;
    .media-item{
        margin: 5px;
        border: 1px solid rgba(0, 0, 0, .1);
        overflow: hidden;
        position: relative;
        img, video{
            width: 210px;
            height: 210px;
            object-fit: cover;
            object-position: center;
        }
        fa{
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 10px;
            opacity: 0;
        }
        &:hover{
            fa{
                opacity: 1;
            }
        }
    }
}