<div #postView class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" *ngIf="post.type !== 'video'">
                <h5 class="modal-title">{{post.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" #postViewBody [ngClass]="{'p-0': post.type === 'video'}">
                <div [hidden]="post.type !== 'video'" class="video-wrapper">
                    <video
                            class="video-js vjs-default-skin"
                            controls
                            autoplay>
                    </video>
                </div>
                <div *ngIf="post.type === 'text'" [innerHTML]="post.content"></div>
            </div>
            <div *ngIf="post.type !== 'video'" class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            <aside class="modal-aside">
                <div *ngIf="post.type === 'video'" class="close-top-right flex-center" data-dismiss="modal">
                    <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g><path d="M 17,2C 8.716,2, 2,8.716, 2,17S 8.716,32, 17,32S 32,25.284, 32,17S 25.284,2, 17,2z M 23.95,11.464L 18.376,17.038 l 4.932,5.498c 0.39,0.39, 0.39,1.024,0,1.414s-1.024,0.39-1.414,0L 16.962,18.452l-5.498,5.498c-0.39,0.39-1.024,0.39-1.414,0 c-0.39-0.39-0.39-1.024,0-1.414l 5.574-5.574L 10.692,11.464c-0.39-0.39-0.39-1.024,0-1.414c 0.39-0.39, 1.024-0.39, 1.414,0 l 4.932,5.498l 5.498-5.498c 0.39-0.39, 1.024-0.39, 1.414,0C 24.34,10.44, 24.34,11.074, 23.95,11.464z"></path></g></svg>
                </div>
            </aside>
        </div>
    </div>
</div>