.modal{
    .modal-dialog{
        .modal-body{
            .video-js{
                width: 100%;
            }
        }
        .modal-aside {
            .close-top-right {
                position: absolute;
                top: -15px;
                right: -15px;
                width: 30px;
                height: 30px;
                cursor: pointer;
                svg{
                    width: 100%;
                    height: 100%;
                    g, path {
                        fill: white;
                    }
                }
            }
        }
    }
}