<div class="card">
    <div class="card-body">
        <form  name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
            <div class="form-group">
                <label class="form-control-label">Name</label>
                <input type="text" class="form-control" [(ngModel)]="user.name" name="name" required/>
            </div>
            <div class="form-group">
                <label class="form-control-label">Email</label>
                <input type="text" class="form-control" [(ngModel)]="user.email" name="email"/>
            </div>
            <div class="form-group">
                <label class="form-control-label">Level</label>
                <select class="form-control"  [(ngModel)]="user.level" name="level">
                    <option *ngFor="let level of appCommonService.userLevels" [value]="level.id">{{level.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-control-label">Password</label>
                <input type="password" name="password" [(ngModel)]="password" class="form-control" />
            </div>
            <div class="form-group">
                <button class="btn btn-md btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>