:host {
    ::ng-deep{
        .app-table{
            .datatable-body{
                .datatable-row-wrapper{
                    .datatable-body-row{
                        .datatable-body-cell{
                            .datatable-body-cell-label{
                                .list-media{
                                    .media-item{
                                        width: 50px;
                                        height: 50px;
                                        margin: 2px;
                                        border: 1px solid rgba(0, 0, 0, .1);
                                        overflow: hidden;
                                        position: relative;
                                        img, video{
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                            object-position: center;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}