@import "_variables.scss";

.card{
    .card-body{
        width: 1380px;
        max-width: 100%;
        margin: 0px auto;
        .page-title{

        }
        .list-add-from{
            margin-bottom: 40px;
            .add-from-item{
                border: 1px solid $colorGrey;
                border-radius: 10px;
                color: $colorGrey;
                min-height: 100%;
                position: relative;
                cursor: pointer;
                .item-inner{
                    width: 250px;
                    max-width: 100%;
                    margin: 0px auto;
                    text-align: center;
                    padding: 20px;
                    .active-content{
                        display: none;
                    }
                    .item-img-wrapper{
                        margin-bottom: 20px;
                        img{
                            width: 210px;
                            max-width: 100%;
                            &.cloud-upload{
                                width: 120px;
                            }
                        }
                    }
                    .item-title{
                        font-size: 1.5rem;
                    }
                    form{
                        button{
                           img{
                               width: 30px;
                           }
                        }
                    }
                    &.inner-lg{
                        width: 300px;
                    }
                    [name=file_upload] {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        z-index: 1;
                        cursor: pointer;
                    }
                }
                &.active{
                    border-color: $colorBlueColor;
                    .item-inner{
                        .active-content{
                            display: block;
                        }
                        .inactive-content{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}