<div class="card">
    <div class="card-body">
        <h3 class="page-title">Add Content</h3>
        <div class="list-add-from">
            <div class="row">
                <div class="col-4">
                    <a routerLink="scratch" routerLinkActive="active" class="add-from-item d-block w-100">
                        <div class="item-inner">
                            <div class="item-img-wrapper">
                                <img src="./assets/images/icon/content.svg" alt="">
                            </div>
                            <div class="item-title">
                                Add content from scratch
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <div [routerLink]="'search/' + searchText" routerLinkActive="active" class="add-from-item d-flex w-100 flex-column justify-content-center">
                        <div class="item-inner inner-lg">
                            <div class="inactive-content">
                                <div class="item-img-wrapper">
                                    <img src="./assets/images/icon/global.svg" alt="">
                                </div>
                                <div class="item-title">
                                    Add content from search
                                </div>
                            </div>
                            <div class="active-content">
                                <div class="item-title mb-2">
                                    What would you like to search for?
                                </div>
                                <form #f="ngForm" (ngSubmit)="searchWeb()">
                                    <div class="row align-items-center">
                                        <div class="col pr-0">
                                            <input type="text" name="search_text" [(ngModel)]="searchText" class="app-input form-control" placeholder="search">
                                        </div>
                                        <div class="col-auto">
                                            <button class="app-btn-for-child">
                                                <img src="./assets/images/icon/search.svg" alt="" />
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div routerLink="upload" routerLinkActive="active" class="add-from-item flex-center w-100">
                        <div class="item-inner">
                            <div class="inactive-content">
                                <div class="item-img-wrapper">
                                    <img src="./assets/images/icon/folder.svg" alt="">
                                </div>
                                <div class="item-title">
                                    Upload content from your files
                                </div>
                            </div>
                            <div class="active-content">
                                <div class="item-title mb-1">
                                    Drag Files here to Upload
                                </div>
                                <div class="item-img-wrapper mb-0">
                                    <img src="./assets/images/icon/cloud-computing.svg" class="cloud-upload" alt="">
                                </div>
                                <input type="file" name="file_upload" [(ngModel)]="fileUpload" (change)="uploadFile($event)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="add-content-outlet-wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
