<div class="card">
    <div class="card-body">
        <div class="row align-items-end mb-3">
            <div class="col">
                <div class="form-group app-form-group mb-0">
                    <label for="" class="form-control-label">Personal Token</label>
                    <input type="text" class="form-control" placeholder="type your personal token" name="token" [(ngModel)]="personalToken"/>
                </div>
            </div>
            <div class="col-auto">
                <button class="app-btn small" (click)="tokenSaveApply()">Save and Apply</button>
            </div>
        </div>
        <div class="row align-items-end mb-3">
            <div class="col">
                <div class="app-form-group">
                    <label for="" class="form-control-label">Select Organization</label>
                    <select class="form-control" [(ngModel)]="organizationId">
                        <option *ngFor="let organization of organizations" [value]="organization.id">{{organization.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-auto">
                <button class="app-btn small" (click)="organizationSaveApply()">Save and Apply</button>
            </div>
        </div>
        <div class="event-table-wrapper">
            <div class="table-settings-header">
                <div class="row align-items-center">
                    <div class="col-auto mr-auto">
                        <div class="page-size-wrapper">
                            <span>Show</span>
                            <select name="table_page_size" [(ngModel)]="table_page_size" (ngModelChange)="refreshTable()">
                                <option [value]="10">10</option>
                                <option [value]="15">15</option>
                                <option [value]="20">20</option>
                                <option [value]="25">25</option>
                            </select>
                            <span>entries</span>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="search-wrapper d-flex align-items-end">
                            <label for="" class="mr-2">Search:</label>
                            <input type="text" class="app-input form-control" name="search_q" [(ngModel)]="search_q" (ngModelChange)="refreshTable()" />
                        </div>
                    </div>
                </div>
            </div>
            <ngx-datatable
                    [rows]="events | tableSearch : search_q"
                    [columns]="columns"
                    class='material app-table'
                    [limit]="table_page_size"
                    [columnMode]="'force'"
                    [headerHeight]="'auto'"
                    [footerHeight]="50"
                    [rowHeight]="'auto'">
                <ng-template #txtCellTemplate let-column="column" let-value="value" let-row="row">
                    {{value}}
                </ng-template>
                <ng-template #imgCellTemplate let-column="column" let-value="value" let-row="row">
                    <img [src]="value" alt="" />
                </ng-template>
                <ng-template #flgCellTemplate let-column="column" let-value="value" let-row="row">
                    <ui-switch [(ngModel)]="value" checkedLabel="F" (valueChange)="updateEvent(row, {featured: $event ? 1 : 0})"></ui-switch>
                </ng-template>
            </ngx-datatable>
        </div>
    </div>
</div>