<div #courseProviderEditorModal class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{mode === 'create' ? 'Create Course Type' : 'Edit Course Type'}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" (click)="cancel()">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" enctype="multipart/form-data" #f="ngForm">
                    <div class="app-form-group form-group">
                        <label for="" class="form-control-label">Company name:</label>
                        <input type="text" class="form-control" name="name" [(ngModel)]="courseProvider.name" />
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group app-form-group">
                                <label for="" class="form-control-label">Company Phone</label>
                                <input type="text" class="form-control" name="phone" [(ngModel)]="courseProvider.phone" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group app-form-group">
                                <label for="" class="form-control-label">Company Address</label>
                                <input type="text" class="form-control" name="address" [(ngModel)]="courseProvider.address" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group app-form-group">
                                <label for="" class="form-control-label">Company City</label>
                                <input type="text" class="form-control" name="city" [(ngModel)]="courseProvider.city" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group app-form-group">
                                <label for="" class="form-control-label">Company State</label>
                                <input type="text" class="form-control" name="state" [(ngModel)]="courseProvider.state" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group app-form-group">
                                <label for="" class="form-control-label">Company Contact Person</label>
                                <input type="text" class="form-control" name="contact_person" [(ngModel)]="courseProvider.contact_person" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group app-form-group">
                                <label for="" class="form-control-label">Company Contact Email:</label>
                                <input type="text" class="form-control" name="contact_email" [(ngModel)]="courseProvider.contact_email" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="app-form-group form-group">
                                <label for="" class="form-control-label">Origin ID:</label>
                                <input type="text" class="form-control" name="origin_id" [(ngModel)]="courseProvider.origin_id" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="app-form-group form-group">
                                <label for="" class="form-control-label">URL:</label>
                                <input type="text" class="form-control" name="url" [(ngModel)]="courseProvider.url" />
                            </div>
                        </div>
                    </div>
                    <div class="app-form-group form-group">
                        <label for="" class="form-control-label">Upload cover image for this course provider company(optional):</label>
                        <div class="cover-image-wrapper">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-auto">
                                    <div class="img-wrapper">
                                        <img [src]="coverImageSrc || courseProvider.image || './assets/images/icon/cloud-computing.svg'">
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="upload-helper-txt">Drag Image here to upload</div>
                                </div>
                            </div>
                            <input class="form-control" type="file" name="image" (change)="updateCoverImage($event)"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">Close</button>
                <button type="button" class="btn btn-primary" (click)="mode === 'create' ? createProvider() : saveCourseProvider()">Save changes</button>
            </div>
        </div>
    </div>
</div>