.app-public-footer{
    background-color: #222;
    padding: 25px 0px;
    .copy-right{
        font-size: 14px;
        line-height: 18px;
        color: #777777;
        font-family: Lato-light;
        span{
            font-family: Lato-bold;
        }
    }
    .footer-links{
        a{
            font-family: Lato-light;
            font-size: 14px;
            line-height: 18px;
            color: #777777;
            &:hover {
                color: var(--color-grey-light);
            }
        }
    }
    .social-links{
        .social-link{
            width: 32px;
            height: 32px;
            border: 1px solid #777777;
            svg{
                width: 16px !important;
                height: auto;
                g, path {
                    fill: #777777 !important;
                }
            }
            &.active, &:hover{
                border-color: var(--color-grey-light);
                svg{
                    g, path {
                        fill: var(--color-grey-light) !important;
                    }
                }
            }
        }
    }
    .public-section-inner {
        width: var(--public-section-inner);
        max-width: 100%;
        margin: 0px auto;
        padding: 0px 15px;
    }
}