<footer class="app-public-footer">
    <div class="public-section-inner">
        <div class="row align-items-center">
            <div class="col-auto">
                <div class="copy-right mb-1 mt-1">
                    © Copyright 2019 <span>Colorado State Patrol.</span> All rights reserved.
                </div>
            </div>
            <div class="col-auto ml-auto mr-auto">
                <div class="footer-links mb-1 mt-1">
                    <div class="row">
                        <div class="col-auto ml-auto">
                            <a href="javascript:;">Terms of Service</a>
                        </div>
                        <div class="col-auto mr-auto">
                            <a href="javascript:;">Privacy Policy</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="social-links mb-1 mt-1">
                    <div class="row align-items-center">
                        <div class="col-auto pr-0">
                            <a [href]="social.social_link_twitter" class="social-link flex-center" target="_self">
                                <svg width="13" height="13" viewBox="0 0 32.003997802734375 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g><path d="M 31.118,3.48c-1.268,0.752-2.674,1.298-4.17,1.594C 25.75,3.796, 24.044,3, 22.156,3 c-3.626,0-6.566,2.94-6.566,6.564c0,0.514, 0.058,1.016, 0.17,1.496c-5.456-0.274-10.294-2.888-13.532-6.86 C 1.662,5.168, 1.34,6.296, 1.34,7.5c0,2.278, 1.16,4.288, 2.92,5.464C 3.184,12.928, 2.172,12.632, 1.286,12.14c0,0.028,0,0.054,0,0.082 c0,3.18, 2.264,5.834, 5.266,6.438C 6.002,18.81, 5.422,18.89, 4.822,18.89c-0.424,0-0.834-0.042-1.236-0.118 c 0.836,2.608, 3.26,4.506, 6.132,4.56c-2.246,1.76-5.078,2.81-8.154,2.81c-0.53,0-1.052-0.032-1.566-0.092 C 2.904,27.912, 6.354,29, 10.062,29c 12.076,0, 18.68-10.004, 18.68-18.68c0-0.284-0.006-0.568-0.020-0.85 c 1.286-0.922, 2.4-2.078, 3.28-3.394c-1.178,0.522-2.442,0.876-3.77,1.034C 29.588,6.298, 30.628,5.010, 31.118,3.48z"></path></g></svg>
                            </a>
                        </div>
                        <div class="col-auto pr-0 pl-2">
                            <a [href]="social.social_link_facebook" class="social-link flex-center" target="_self">
                                <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g><path d="M 12.054,32l 5.996,0 l 0.004-16l 5.446-0.002l 0.584-5.514L 18.050,10.484 l 0.008-2.76c0-1.438, 0.098-2.208, 2.162-2.208l 3.812,0 L 24.032,0 L 18.566,0 C 13.268,0, 12.048,2.738, 12.048,7.236l 0.006,3.248L 8.032,10.486L 8.032,16 l 4.022,0 L 12.054,32 z"></path></g></svg>
                            </a>
                        </div>
                        <div class="col-auto pl-2">
                            <a [href]="social.social_link_instagram" class="social-link flex-center" target="_self">
                                <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g><path d="M 30.556,0L 1.444,0 C 0.648,0,0,0.646,0,1.442l0,29.116 C0,31.352, 0.648,32, 1.444,32l 29.112,0 C 31.352,32, 32,31.352, 32,30.558L 32,1.442 C 32,0.646, 31.352,0, 30.556,0z M 21.584,16c0,3.084-2.5,5.584-5.584,5.584S 10.416,19.084, 10.416,16 c0-3.084, 2.5-5.584, 5.584-5.584S 21.584,12.916, 21.584,16z M 28,28L 4,28 L 4,14 l 2.634,0 C 6.496,14.646, 6.416,15.314, 6.416,16 c0,5.284, 4.3,9.584, 9.584,9.584s 9.584-4.3, 9.584-9.584c0-0.686-0.080-1.354-0.218-2L 28,14 L 28,28 z M 28,10l-6,0 L 22,4 l 6,0 L 28,10 z"></path></g></svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>