@import "_variables.scss";
.component-inner{
    overflow: hidden;
    font-size: 1.1rem;
    .component-header{
        margin-bottom: 10px;
        .media-icon-wrapper{
            i.fa{
                vertical-align: middle;
            }
        }
        .item-action{
            display: block;
            line-height: 0;
            svg{
                width: 25px;
                height: 25px;
                g, path {
                    fill: $colorLightGrey;
                }
            }
            &.edit-action {
                display: flex;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                border: 1px solid $colorLightGrey;
                svg {
                    width: 12px;
                    height: 12px;
                }
            }
            &:hover{
                svg{
                    g, path {
                        fill: $colorContent;
                    }
                }
                &.edit-action {
                    border-color: $colorContent;
                }
            }
        }
    }
    .item-type-body{
        width: 100%;
        height: calc(100px + 3vw);
        position: relative;
        margin-bottom: 15px;
        cursor: move;
        .blog-type{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .item-title{}
}