<div class="component-inner">
    <header class="component-header">
        <div class="row align-items-center">
            <div class="col-auto mr-auto">
                <div class="media-icon-wrapper">
                    <i *ngIf="post.type == 'video'" class="fa fa-youtube-play video-icon"></i>
                    <i *ngIf="post.type == 'audio'" class="fa fa-volume-up audio-icon"></i>
                    <i *ngIf="post.type == 'text'" class="fa fa-file-text text-icon"></i>
                </div>
            </div>
            <div class="col-auto">
                <a class="item-action delete-action" href="javascript:;" (click)="deletePost()">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                             width="612px" height="612px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
                                                            <g>
                                                                <g>
                                                                    <polygon points="424.032,443.7 443.7,424.032 325.667,306 443.7,187.967 424.032,168.3 306,286.333 187.967,168.3 168.3,187.967
                                                                        286.333,306 168.3,424.032 187.967,443.7 306,325.667 		"/>
                                                                    <path d="M612,306C612,137.004,474.995,0,306,0C137.004,0,0,137.004,0,306c0,168.995,137.004,306,306,306
                                                                        C474.995,612,612,474.995,612,306z M27.818,306C27.818,152.36,152.36,27.818,306,27.818S584.182,152.36,584.182,306
                                                                        S459.64,584.182,306,584.182S27.818,459.64,27.818,306z"/>
                                                                </g>
                                                            </g>
                                                        </svg>
                </a>
            </div>
        </div>
    </header>
    <div class="item-type-body">
        <div class="blog-type">
            <img alt="" [src]="post.image || './assets/images/icon/folder.svg'" />
        </div>
    </div>
    <div class="item-title">{{post.title}}</div>
</div>