.component-inner {
    padding: 20px;
    .public-section-inner{
        max-width: 100%;
        margin: 0 auto;
        .section-title{
            font-size: 30px;
            svg{
                g, path{
                    fill: var(--color-red-thick) !important;
                }
            }
        }
        .subscribe-txt{
            padding-top: 10px;
            font-size: 14px;
            line-height: 28px;
        }
        .input-wrapper{
            border-bottom: 1px solid var(--color-grey-light);
            padding-bottom: 25px;
            padding-left: 30px;
            position: relative;
            overflow: hidden;
            transition: all .2s ease-out;
            input{
                border: none;
                font-size: 16px;
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
                &::placeholder{
                    color: var(--color-grey-light);
                    font-style: italic;
                }
            }
            &:before{
                content: '';
                position: absolute;
                top: 0px;
                left: 0px;
                width: 3%;
                height: 100%;
                background-color: var(--color-grey-light);
                transform-origin: bottom right;
                transform: rotate(-45deg);
            }
            &:focus-within{
                padding-bottom: 0px;
                padding-left: 10px;
                border-color: var(--color-content);
                &:before{
                    background-color: var(--color-content);
                }
            }
        }
        .home-btn{
            font-family: Lato;
            padding: 20px 40px;
            font-size: 14px;
        }
    }
}