<section class="component-inner">
    <div class="public-section-inner">
        <div class="section-title mb-4">
            <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g><path d="M 30,8L 2,8 C 0.896,8,0,8.896,0,10l0,20 c0,1.104, 0.896,2, 2,2l 28,0 c 1.104,0, 2-0.896, 2-2L 32,10 C 32,8.896, 31.104,8, 30,8z M 11.36,22.054l 4.644,3.156l 4.616-3.178L 28.586,30L 3.414,30 L 11.36,22.054z M 2,28.586L 2,15.69 l 7.676,5.218L 2,28.586z M 22.294,20.88 L 30,15.576l0,13.010 L 22.294,20.88z M 30,10l0,3.236 l-0.042-0.060l-13.962,9.614L 2,13.274L 2,10 L 30,10 z"></path></g></svg>
            &nbsp;&nbsp;
            <span class="font-lato-bold">SIGNUP</span>&nbsp;
            <span class="font-lato-light">for our Newsletter</span>
        </div>
        <div class="row align-items-end">
            <div class="col-12 col-md">
                <div class="subscribe-txt">Subscribe to our weekly newsletter to get notified about MOST events and opportunities.</div>
            </div>
            <div class="col-12 col-md">
                <div class="input-wrapper mb-2 mb-md-0">
                    <input type="email" class="form-control" placeholder="Enter your email address" name="newsletter_email" [(ngModel)]="newsletter_email"/>
                </div>
            </div>
            <div class="col-12 col-md-auto">
                <button class="home-btn font-lato-bold" (click)="sendNewsletterEmail()">SUBSCRIBE</button>
            </div>
        </div>
    </div>
</section>