<div class="loader" *ngIf="isSpinnerVisible || (ajaxApi.showSpinner$ | async)">
    <svg width="102.00000000000001" height="40" xmlns="http://www.w3.org/2000/svg" class="car">
        <g>
            <title>background</title>
            <rect fill="none" id="canvas_background" height="42" width="104" y="-1" x="-1" />
        </g>
        <title>Layer 1</title>
        <g id="svg_1">
            <path stroke="#000000" id="svg_11" stroke-width="3" d="M27.2,21.2h-20"
                  class="st1 car__line car__line--top" />
            <path stroke="#000000" id="svg_12" stroke-width="3" d="M25.2,28.2h-20"
                  class="st1 car__line car__line--middle" />
            <path stroke="#000000" fill="#000000" id="svg_13" stroke-width="3" d="M30.2,14.2h-19"
                  class="st1 car__line car__line--bottom" />
            <g id="svg_22">
                <path id="svg_19"
                      d="M44.1,19.9c-5.2,0-9.4,4.2-9.4,9.4c0,5.2,4.2,9.4,9.4,9.4s9.4-4.2,9.4-9.4C53.5,24.2,49.3,20,44.1,19.9z
                        M44.1,36.9c-4.2,0-7.6-3.4-7.6-7.6c0-4.2,3.4-7.6,7.6-7.6s7.6,3.4,7.6,7.6C51.7,33.6,48.3,36.9,44.1,36.9z" />
                <path id="svg_20"
                      d="M44.1,25.6c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8s3.8-1.7,3.8-3.8C47.9,27.3,46.2,25.6,44.1,25.6z
                        M44.1,31.3c-1,0-1.9-0.8-1.9-1.9c0-1,0.8-1.9,1.9-1.9s1.9,0.8,1.9,1.9C46,30.4,45.2,31.3,44.1,31.3z" />
                <path id="svg_19"
                      d="M44.1,19.9c-5.2,0-9.4,4.2-9.4,9.4c0,5.2,4.2,9.4,9.4,9.4s9.4-4.2,9.4-9.4C53.5,24.2,49.3,20,44.1,19.9z
                        M44.1,36.9c-4.2,0-7.6-3.4-7.6-7.6c0-4.2,3.4-7.6,7.6-7.6s7.6,3.4,7.6,7.6C51.7,33.6,48.3,36.9,44.1,36.9z" />
                <path id="svg_20"
                      d="M44.1,25.6c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8s3.8-1.7,3.8-3.8C47.9,27.3,46.2,25.6,44.1,25.6z
                        M44.1,31.3c-1,0-1.9-0.8-1.9-1.9c0-1,0.8-1.9,1.9-1.9s1.9,0.8,1.9,1.9C46,30.4,45.2,31.3,44.1,31.3z" />
                <path class="car__body"
                      d="M88.1,17c-1.9-1-4-1.5-6.1-1.5c0,0,0,0-0.1,0c0,0-0.1,0-0.1,0c-0.2,0-0.3,0-0.5,0c-1.5,0.1-2.9,0.4-4.3,0.9l-1.5-3.2
                       c0.9,0.3,1.8,0.4,2.7,0.4c0.5,0,0.9-0.4,0.9-0.9l0-7.6c0-0.5-0.4-0.9-0.9-0.9c-2.2-0.1-4.4,0.8-5.8,2.5l-1.8-3.8
                       c-0.2-0.3-0.5-0.5-0.8-0.5l-5.7,0c-0.5,0-0.9,0.4-0.9,0.9c0,0.5,0.4,0.9,0.9,0.9l5.1,0L70.4,7l-7.7,0c-2.5,0-4.8,1.5-5.8,3.8
                       c-0.2,0-0.3-0.1-0.5-0.1l-15.1,0c-2.1,0-3.8,1.7-3.8,3.8c0,1,0.8,1.8,1.8,1.9c-1.2,0.5-2.3,1.1-3.3,1.9c-0.4,0.3-0.5,0.9-0.2,1.3
                       c0.3,0.4,0.9,0.5,1.3,0.2c3.4-2.7,8.1-3.1,11.9-1.2c3.9,1.9,6.4,5.9,6.4,10.2l0,1.2c-0.1,0.7,0.1,1.5,0.5,2
                       c0.4,0.3,0.9,0.5,1.4,0.5l10.4,0c0.8,0,1.5-0.3,2-0.8c0.5-0.5,0.8-1.3,0.8-2l0-0.9c0-1.9,0.5-3.7,1.4-5.4c0.1-0.1,0.1-0.2,0.2-0.3
                       c0.8-1.4,2-2.7,3.3-3.6c0,0,0.1-0.1,0.1-0.1c0.1-0.1,0.2-0.1,0.3-0.2c0.1,0,0.1-0.1,0.2-0.1l0.8,1.7c0,0,0,0,0,0
                       C77,20.8,77,20.9,77,21c0,0,0,0.1,0.1,0.1c0.2,0.4,0.4,0.8,0.6,1.2c0,0,0,0.1,0,0.1c0,0,0,0,0,0l1.7,3.5c0,0,0,0,0,0
                       c0,0.1,0.1,0.2,0.1,0.2c0.1,0.2,0.2,0.4,0.3,0.6c0.1,0.1,0.1,0.2,0.1,0.3c0.1,0.2,0.2,0.3,0.2,0.4c0.1,0.1,0.1,0.1,0.2,0.2
                       c0,0,0,0,0,0c0.2,0.1,0.4,0.2,0.6,0.2c0.2,0,0.5-0.1,0.7-0.3c0.2-0.2,0.3-0.4,0.3-0.7h0c0,0,0,0,0,0c0-0.1,0-0.1,0-0.2
                       c0-0.2-0.1-0.4-0.2-0.5c-0.1-0.3-0.3-0.6-0.4-0.9c0-0.1,0-0.1,0-0.2c0,0,0,0,0,0l-1.7-3.5c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0
                       c-0.1-0.2-0.2-0.4-0.2-0.6c0-0.1-0.1-0.2-0.1-0.3c-0.1-0.3-0.3-0.5-0.4-0.8c0,0,0,0,0,0l-0.8-1.7c1.2-0.5,2.4-0.7,3.7-0.8
                       c0.1,0,0.2,0,0.3,0c1.9,0,3.7,0.4,5.4,1.3c0.5,0.2,1,0.1,1.3-0.4C88.7,17.8,88.5,17.3,88.1,17z M62.7,8.9l8.2,0l2.8,5.7l-14.2,0
                       c-0.7,0-1.3-0.6-1.3-1.3C58.3,10.9,60.2,8.9,62.7,8.9z M39.4,14.5c0-1,0.8-1.9,1.9-1.9l15.1,0l0,1.9L39.4,14.5z M70.5,22.1
                       c-0.1,0.1-0.2,0.3-0.2,0.4c0,0,0,0.1-0.1,0.1c0,0,0,0,0,0.1c-0.1,0.1-0.1,0.3-0.2,0.4l-8.8,0c-0.3,0-0.5-0.1-0.7-0.3
                       c-0.2-0.2-0.3-0.4-0.3-0.7l0-0.8c0-0.3,0.1-0.5,0.3-0.7c0.2-0.2,0.4-0.3,0.7-0.3l10.7,0C71.3,20.8,70.9,21.4,70.5,22.1z M75.1,17.4
                       c-0.2,0.1-0.4,0.2-0.6,0.3l0,0c-0.3,0.2-0.6,0.4-0.8,0.6c-0.1,0-0.2,0-0.3-0.1l-12.3,0c-0.8,0-1.5,0.3-2,0.9
                       c-0.5,0.5-0.8,1.3-0.8,2l0,0.8c0,0.8,0.3,1.5,0.8,2c0.5,0.5,1.3,0.9,2,0.9l8.1,0c-0.2,0.6-0.3,1.3-0.4,1.9l-5.8,0
                       c-0.5,0-0.9,0.4-0.9,0.9c0,0.5,0.4,0.9,0.9,0.9l5.7,0l0,0.9c0,0.3-0.1,0.5-0.3,0.7c-0.2,0.2-0.4,0.3-0.7,0.3l-10.4,0
                       c0-0.2,0-0.4,0-0.6l0-1.3c0-5.4-3.3-10.3-8.3-12.3l7.4,0c0.5,0,1-0.2,1.4-0.6c0.5,0.4,1.2,0.6,1.8,0.6l15.4,0l0.4,0.8
                       C75.2,17.3,75.1,17.4,75.1,17.4z M74.1,10.3l-0.7-1.4c0,0,0,0,0,0c0-1.3,1.7-2.5,3.8-2.8l0,5.5C76,11.6,74.9,11.1,74.1,10.3z" />
                <path id="svg_19_1_"
                      d="M81.7,19.9c-5.2,0-9.4,4.2-9.4,9.4c0,5.2,4.2,9.4,9.4,9.4s9.4-4.2,9.4-9.4C91.1,24.2,86.9,20,81.7,19.9z
                        M81.7,36.9c-4.2,0-7.6-3.4-7.6-7.6c0-4.2,3.4-7.6,7.6-7.6c4.2,0,7.6,3.4,7.6,7.6C89.2,33.6,85.9,36.9,81.7,36.9z" />
                <path id="svg_20_1_"
                      d="M81.7,25.6c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8s3.8-1.7,3.8-3.8C85.5,27.3,83.8,25.6,81.7,25.6z
                        M81.7,31.3c-1,0-1.9-0.8-1.9-1.9c0-1,0.8-1.9,1.9-1.9s1.9,0.8,1.9,1.9C83.6,30.4,82.7,31.3,81.7,31.3z" />
            </g>
        </g>
    </svg>
</div>