<div class="card">
    <div class="card-body">
        <header class="page-header mb-3">
            <div class="row align-items-center">
                <div class="col">
                    <h4 class="page-title">User Roles</h4>
                </div>
                <div class="col-auto">
                    <form (ngSubmit)="addNewRole()" ngNativeValidate>
                        <div class="row align-items-end">
                            <div class="col-auto pr-0">
                                <div class="app-form-group form-group mb-0">
                                    <input type="text" class="form-control" name="new_role" [(ngModel)]="newRole.name" required />
                                </div>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="app-btn">Add New Role</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </header>
        <div class="page-content">
            <ngx-datatable [rows]="appCommonService.userLevels"
                           [columns]="columns"
                           class='material app-table'
                           [limit]="10"
                           [columnMode]="'force'"
                           [headerHeight]="'auto'"
                           [footerHeight]="50"
                           [rowHeight]="'auto'">
                <ng-template #txtCellTemplate let-column="column" let-value="value" let-row="row">
                    {{value}}
                </ng-template>
                <ng-template #canFormLibraryCellTemplate let-column="column" let-value="value" let-row="row">
                    <ui-switch [(ngModel)]="value" checkedLabel="A" uncheckedLabel="" (valueChange)="updateRow(row, {can_form_library: $event ? 1 : 0})"></ui-switch>
                </ng-template>
                <ng-template #actionCellTemplate let-row="row" let-rowIndex="rowIndex">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <a class="row-action-item" href="javascript:;" (click)="confirmDelete(row)"><i class="fa fa fa-trash"></i></a>
                        </div>
                    </div>
                </ng-template>
            </ngx-datatable>
        </div>
    </div>
</div>
