<div class="item" [ngClass]="{selected: item.selected}">
    <div class="item-img-wrapper" (click)="toggleSelected()">
        <img class="item-img" [src]="item.image" />
        <aside class="blog-duration" *ngIf="false">
            waiting...
        </aside>
        <div class="hover-content d-flex align-items-center justify-content-center">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="49px" height="38px"
                                                     viewBox="0.5 0 49 38" enable-background="new 0.5 0 49 38" xml:space="preserve">
                <g id="Page-1" sketch:type="MSPage">
                    <g id="Check_1" transform="translate(115.000000, 102.000000)" sketch:type="MSLayerGroup">
                        <path id="Rectangle-4" sketch:type="MSShapeGroup" fill="#FFFFFF" d="M-99.8-72.6l28.3-28.3c1.4-1.4,3.6-1.4,4.9,0
                        c1.4,1.4,1.4,3.6,0,4.9l-31.2,31.1c-0.6,0.6-1.4,0.9-2.1,0.9c-0.8,0-1.5-0.3-2.1-0.9l-11.6-11.6c-1.4-1.4-1.4-3.6,0-4.9
                        c1.4-1.4,3.6-1.4,4.9,0L-99.8-72.6z"/>
                    </g>
                </g>
            </svg>
        </div>
    </div>
    <a href="javascript:;" class="item-title">
        {{item.title}}
    </a>
</div>