@import "_variables.scss";

.item{
    padding: 0px 10px;
    .item-img-wrapper{
        position: relative;
        margin-bottom: 15px;
        cursor: pointer;
        .item-img{
            width: 100%;
            height: 110px;
        }
        aside.blog-duration{
            position: absolute;
            bottom: 8px;
            right: 9px;
            padding: 7px 20px;
            z-index: auto;
            background: rgba(227, 228, 220, .8);
            border-radius: 10px;
            font-size: 1rem;
            line-height: 1.1;
        }
        .hover-content{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, .7);
            //background-color: red;
            opacity: 0;
            svg{
                width: 100px;
                max-width: 100%;
                opacity: .3;
                g, path{
                    fill: $colorGreen;
                }
            }
        }
        &:hover{
            .hover-content{
                opacity: 1;
            }
        }
    }
    .item-title{
        display: block;
        font-size: 1.1rem;
        color: $colorContent;
    }
    &.selected{
        .item-img-wrapper{
            aside.added-icon-wrapper{
                display: block;
            }
            .hover-content{
                background-color: rgba(255, 255, 255, 0);
                opacity: 1;
                svg{
                    opacity: 1;
                }
            }
        }
    }
    @media all and (max-width: 768px) {
        .item-img-wrapper{
            .item-img{
                width: 100%;
                height: 150px;
            }
        }
    }
}