<div class="card">
    <div class="card-body">
        <header class="page-header">
            <h4 class="page-title">FAQ</h4>
        </header>
        <div class="page-content">
            <div class="row__list" [sortablejs]="rows" [sortablejsOptions]="options">
                <div class="list__item mb-3" *ngFor="let row of rows; let i = index">
                    <header class="item__header mb-2">
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="item__title">{{row.question}}</div>
                            </div>
                            <div class="col-auto">
                                <div class="item__actions">
                                    <a href="javascript:;" class="mr-3"><i class="fa fa-list"></i></a>
                                    <a [routerLink]="'/admin/faq/edit/' + row.id" class="mr-3"><i class="fa fa-pencil"></i></a>
                                    <a href="javascript:;" (click)="deleteAction(row, i)"><i class="fa fa-trash"></i></a>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="item__content">
                        {{row.answer}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
