.page-header{

}
.page-content{
    .row__list{
        .list__item{
            background-color: #fff;
            box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, .01);
            border: 1px solid rgba(0, 0, 0, .1);
            border-radius: 3px;
            cursor: pointer;
            .item__header{
                padding: 5px 15px;
                border-bottom: 1px solid #00000009;
                .item__title {
                }
                .item__actions {
                    a {
                        display: inline-block;
                        color: inherit;
                        i {
                        }
                        &:hover{
                            color: black;
                        }
                    }
                }
            }
            .item__content{
                padding: 5px 15px;
            }
        }
    }
}
