<div #courseTypeEditorModal class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{mode === 'create' ? 'Create Course Type' : 'Edit Course Type'}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" (click)="cancel()">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" enctype="multipart/form-data" #f="ngForm">
                    <div class="app-form-group form-group">
                        <label for="" class="form-control-label">Course Name:</label>
                        <input type="text" class="form-control" name="name" [(ngModel)]="courseType.name" />
                    </div>
                    <div class="app-form-group form-group">
                        <label for="" class="form-control-label">Course Description:</label>
                        <app-ngx-editor [config]="editorConfig" name="description" [placeholder]="'type your description...'" [spellcheck]="true" [(ngModel)]="courseType.description"></app-ngx-editor>
                    </div>
                    <div class="app-form-group form-group">
                        <label for="" class="form-control-label">Origin ID:</label>
                        <input type="text" class="form-control" name="origin_id" [(ngModel)]="courseType.origin_id" />
                    </div>
                    <div class="app-form-group form-group">
                        <label for="" class="form-control-label">Upload cover image for this course type(optional):</label>
                        <div class="cover-image-wrapper">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-auto">
                                    <div class="img-wrapper">
                                        <img [src]="coverImageSrc || courseType.image || './assets/images/icon/cloud-computing.svg'">
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="upload-helper-txt">Drag Image here to upload</div>
                                </div>
                            </div>
                            <input class="form-control" type="file" name="image" (change)="updateCoverImage($event)"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">Close</button>
                <button type="button" class="btn btn-primary" (click)="mode === 'create' ? createType() : saveType()">Save changes</button>
            </div>
        </div>
    </div>
</div>