<form #f="ngForm" enctype="multipart/form-data" (ngSubmit)="f.form.valid && save($event)">
    <div class="app-form-group form-group">
        <label for="" class="control-label">Name your post:</label>
        <input type="text" name="title" [(ngModel)]="sets.title" #title="ngModel" class="form-control" placeholder="type the name here" required/>
        <div *ngIf="f.submitted && !title.valid" class="not-valid alert alert-danger">Title is required</div>
    </div>
    <div class="app-form-group form-group">
        <label for="" class="control-label">Describe it:</label>
        <app-ngx-editor [config]="editorConfig" name="content" [placeholder]="'type your description...'" [spellcheck]="true" [(ngModel)]="sets.content" (mediaUploaded)="onMediaUploaded($event)"></app-ngx-editor>
    </div>
    <div class="app-form-group form-group">
        <label class="control-label" for="">Post Type:</label>
        <select name="type" class="form-control" [(ngModel)]="sets.type">
            <option value="video">Video</option>
            <option value="audio">Audio</option>
            <option value="text">Text</option>
        </select>
    </div>
    <div class="app-form-group form-group">
        <label for="" class="control-label">Keywords (optional):</label>
        <input type="text" class="form-control" name="keywords" [(ngModel)]="sets.keyword" placeholder="subscribers will find your posts by keywords" />
    </div>
    <div class="app-form-group form-group">
        <label for="" class="control-label">Upload cover image for this Post (optional):</label>
        <div class="cover-image-wrapper">
            <div class="row justify-content-center align-items-center">
                <div class="col-auto">
                    <div class="img-wrapper">
                        <img [src]="coverImageSrc || './assets/images/icon/cloud-computing.svg'">
                    </div>
                </div>
                <div class="col-auto">
                    <div class="upload-helper-txt">Drag Image here to upload</div>
                </div>
            </div>
            <input class="form-control" type="file" name="image" [(ngModel)]="sets.image" (change)="updateCoverImage($event)"/>
        </div>
    </div>
    <div class="btn-wrapper">
        <button class="app-btn" type="submit">create</button>
    </div>
</form>
