<div class="card">
    <div class="card-body">
        <header class="page-header mb-4">
            <div class="row align-items-center mb-3">
                <div class="col">
                    <h2 class="page-title">Form Library</h2>
                </div>
                <div class="col-auto" *ngIf="canEdit">
                    <div class="upload__wrapper">
                        <button class="app-btn">Upload File</button>
                        <input type="file" class="upload__input" name="file_input" (change)="uploadFile($event)" />
                    </div>
                </div>
            </div>
        </header>
        <div class="page-content">
            <div class="table-settings-header">
                <div class="row align-items-center">
                    <div class="col-auto mr-auto">
                        <div class="page-size-wrapper">
                            <span>Show</span>
                            <select name="table_page_size" [(ngModel)]="table_page_size" (ngModelChange)="refreshTable()">
                                <option [value]="10">10</option>
                                <option [value]="15">15</option>
                                <option [value]="20">20</option>
                                <option [value]="25">25</option>
                            </select>
                            <span>entries</span>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="search-wrapper d-flex align-items-end">
                            <label for="" class="mr-2">Search:</label>
                            <input type="text" class="app-input form-control" name="search_q" [(ngModel)]="search_q" (ngModelChange)="refreshTable()" />
                        </div>
                    </div>
                </div>
            </div>
            <ngx-datatable [rows]="rows | tableSearch : search_q"
                           [columns]="columns"
                           class='material app-table'
                           [limit]="table_page_size"
                           [columnMode]="'force'"
                           [headerHeight]="'auto'"
                           [footerHeight]="50"
                           [rowHeight]="'auto'">
                <ng-template #fileCellTemplate let-column="column" let-value="value" let-row="row">
                    <a [href]="value" target="_blank" class="file-cell"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="#000000">
                        <path d="M 6 3 L 6 29 L 26 29 L 26 9.59375 L 25.71875 9.28125 L 19.71875 3.28125 L 19.40625 3 Z M 8 5 L 18 5 L 18 11 L 24 11 L 24 27 L 8 27 Z M 20 6.4375 L 22.5625 9 L 20 9 Z"/>
                    </svg> <span>{{row.media.name}}</span></a>
                </ng-template>
                <ng-template #addToVendorCellTemplate let-column="column" let-value="value" let-row="row">
                    <ui-switch [(ngModel)]="value" checkedLabel="Added To Vendor" uncheckedLabel="" (valueChange)="$event ? addToVendor(row) : removeFromVendor(row)"></ui-switch>
                </ng-template>
                <ng-template #addToInstructorCellTemplate let-column="column" let-value="value" let-row="row">
                    <ui-switch [(ngModel)]="value" checkedLabel="Added To Instructor" uncheckedLabel="" (valueChange)="$event ? addToInstructor(row) : removeFromInstructor(row)"></ui-switch>
                </ng-template>
                <ng-template #actionCellTemplate let-row="row" let-rowIndex="rowIndex">
                    <a class="row-action-item" href="javascript:;" (click)="confirmationDelete(row)"><i class="fa fa fa-trash"></i></a>
                </ng-template>
            </ngx-datatable>
        </div>
    </div>
</div>
