<div class="card">
    <div class="card-body">
        <div class="table-settings-header">
            <div class="row align-items-center">
                <div class="col-auto mr-auto">
                    <div class="page-size-wrapper">
                        <span>Show</span>
                        <select name="table_page_size" [(ngModel)]="table_page_size" (ngModelChange)="refreshTable()">
                            <option [value]="10">10</option>
                            <option [value]="15">15</option>
                            <option [value]="20">20</option>
                            <option [value]="25">25</option>
                        </select>
                        <span>entries</span>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="search-wrapper d-flex align-items-end">
                        <label for="" class="mr-2">Search:</label>
                        <input type="text" class="app-input form-control" name="search_q" [(ngModel)]="search_q" (ngModelChange)="refreshTable()" />
                    </div>
                </div>
            </div>
        </div>
        <ngx-datatable [rows]="users | tableSearch : search_q"
                       [columns]="columns"
                       class='material app-table'
                       [limit]="table_page_size"
                       [columnMode]="'force'"
                       [headerHeight]="'auto'"
                       [footerHeight]="50"
                       [rowHeight]="'auto'">
            <ng-template #txtCellTemplate let-column="column" let-value="value" let-row="row">
                {{value}}
            </ng-template>
            <ng-template #statusCellTemplate let-column="column" let-value="value" let-row="row">
                <ui-switch [(ngModel)]="value" checkedLabel="A" uncheckedLabel="P" (valueChange)="updateUser(row, {status: $event ? 'approved' : 'pending'})"></ui-switch>
            </ng-template>
          <ng-template #qualityCellTemplate let-column="column" let-value="value" let-row="row">
            <ui-switch [(ngModel)]="value" checkedLabel="A" uncheckedLabel="" (valueChange)="updateUser(row, {quality_assurance: $event ? 1 : 0})"></ui-switch>
          </ng-template>
            <ng-template #actionCellTemplate let-row="row" let-rowIndex="rowIndex">
                <div class="row align-items-center justify-content-center">
                    <div class="col-auto pr-0">
                        <a class="row-action-item" href="javascript:;" (click)="editUser(row)"><i class="fa fa-pencil"></i></a>
                    </div>
                    <div class="col-auto">
                        <a class="row-action-item" href="javascript:;" (click)="onDelete(row)"><i class="fa fa fa-trash"></i></a>
                    </div>
                </div>
            </ng-template>
        </ngx-datatable>
    </div>
</div>
