:host /deep/ ng2-smart-table{
  thead{
    .ng2-smart-action{
      padding: 8px 30px;
      background-color: #00a000;
    }
  }
  .ng2-smart-actions{
    width: 90px;
    ng2-st-tbody-edit-delete{
      width: 100%;
      display: flex;
      height: 100%;
      .ng2-smart-action{
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        font-size: 1.3rem!important;
        color: #a4abb3;
        text-decoration: none;
        &:hover{
          color: black;
        }
      }
    }
  }
}