<div class="card">
    <div class="card-body">
        <form #f="ngForm" (ngSubmit)="save()">
            <div class="form-group app-form-group">
                <label for="" class="form-control-label">Analytics Code:</label>
                <ngx-monaco-editor name="analytics_code" [options]="editorOptions" [(ngModel)]="options.analytics_code"></ngx-monaco-editor>
            </div>
            <div>
                <button class="app-btn" type="submit">SAVE</button>
            </div>
        </form>
    </div>
</div>