<div class="card">
    <div class="card-body">
        <form #f="ngForm" (ngSubmit)="save()">
            <div class="form-group app-form-group">
                <label class="form-control-label">Twitter</label>
                <input type="text" class="form-control" placeholder="type your twitter link" name="twitter" [(ngModel)]="social.social_link_twitter" />
            </div>
            <div class="form-group app-form-group">
                <label class="form-control-label">Facebook</label>
                <input type="text" class="form-control" placeholder="type your facebook link" name="facebook" [(ngModel)]="social.social_link_facebook" />
            </div>
            <div class="form-group app-form-group">
                <label class="form-control-label">Google</label>
                <input type="text" class="form-control" placeholder="type your google link" name="google" [(ngModel)]="social.social_link_google" />
            </div>
            <div class="form-group app-form-group">
                <label class="form-control-label">Pinterest</label>
                <input type="text" class="form-control" placeholder="type your pinterest link" name="pinterest" [(ngModel)]="social.social_link_pinterest" />
            </div>
            <div class="form-group app-form-group">
                <label class="form-control-label">Instagram</label>
                <input type="text" class="form-control" placeholder="type your instagram link" name="instagram" [(ngModel)]="social.social_link_instagram" />
            </div>
            <div class="button-box">
                <button class="app-btn" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>