<div class="container-fluid p-0">
    <header class="page-header pt-3 pb-3">
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="title font-lato-light">Learn about <span class="most-txt-strong font-lato">MOST</span></div>
                <div class="content">
                    <div class="most-courses-txt font-lato-light"><span class="font-weight-bold">MOST</span> Courses</div>
                    <div class="lines-wrapper">
                        <div class="line"></div>
                        <div class="line active"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="page-content-wrapper">
        <div class="row justify-content-center flex-wrap flex-sm-wrap">
            <div class="col-12 col-md content-col mr-0 mr-md-5">
                <div class="course-list">
                    <div class="course-item" *ngFor="let courseType of courseTypes | tableSearch : keyword | slice : 0 : 4">
                        <div class="image-wrapper">
                            <img [src]="courseType.image" class="w-100" alt="">
                            <div class="hr-line-red"></div>
                        </div>
                        <h2 class="course-title font-lato">{{courseType.name}}</h2>
                        <div class="course-description mb-3" [innerHTML]="courseType.sub_description"></div>
                        <a [routerLink]="['/course-detail/' + courseType.id]" target="_self" class="btn btn-outline-dark font-lato-bold read-more-btn">READ MORE</a>
                        <div class="hr-lines-wrapper">
                            <div class="hr-line-black"></div>
                            <div class="hr-line-red"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-auto sidebar-col ml-0 ml-md-5">
                <app-public-sidebar [courseTypes]="courseTypes" [socialFeed]="socialFeed"></app-public-sidebar>
            </div>
        </div>
    </section>
</div>