<div class="page-component">
    <header class="page-header pt-3 pb-3 text-center">
        <div class="title font-lato">Let's find the right course for you</div>
        <div class="content">
            <div class="most-courses-txt font-lato-light">Select your location</div>
            <div class="lines-wrapper">
                <div class="line"></div>
                <div class="line active"></div>
            </div>
        </div>
    </header>
    <section class="page-content-wrapper">
        <div class="where-are-title text-center mb-3">Where are you located?</div>
        <div class="list-location">
            <div class="row flex-sm-wrap">
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="javascript:;" class="location-item d-block" (click)="findCourse(81230)">
                        <div class="zip-code-wrap flex-center" style="background-image: url('./assets/images/page-location/west colorado (80477).jpg')">
                            <div class="zip-code"></div>
                        </div>
                        <div class="location-dir-wrap">
                            <div class="location-dir">
                                West
                                <br>Colorado
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="javascript:;" class="location-item d-block" (click)="findCourse(80403)">
                        <div class="zip-code-wrap flex-center" style="background-image: url('./assets/images/page-location/denver metro colorado (80020).jpg')">
                            <div class="zip-code"></div>
                        </div>
                        <div class="location-dir-wrap">
                            <div class="location-dir">
                                Denver Metro
                                <br>Colorado
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="javascript:;" class="location-item d-block" (click)="findCourse(80622)">
                        <div class="zip-code-wrap flex-center" style="background-image: url('./assets/images/page-location/north colorado (80521).jpg')">
                            <div class="zip-code"></div>
                        </div>
                        <div class="location-dir-wrap">
                            <div class="location-dir">
                                North<br>Colorado
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="javascript:;" class="location-item d-block" (click)="findCourse(80911)">
                        <div class="zip-code-wrap flex-center" style="background-image: url('./assets/images/page-location/south colorado (81001).jpg')">
                            <div class="zip-code"></div>
                        </div>
                        <div class="location-dir-wrap">
                            <div class="location-dir">
                                South<br>Colorado
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="section-divider"></div>
    <section class="signup-component-wrap">
        <app-signup-for-newsletter></app-signup-for-newsletter>
    </section>
</div>
