.page-component{
    .page-header {
        background-color: #F4F4F4;
        .title {
            font-size: 40px;
        }
        .content {
            display: inline-block;
            .most-courses-txt{
                font-size: 38px;
            }
            .lines-wrapper {
                display: flex;
                .line {
                    width: 50px;
                    height: 4px;
                    margin-right: 3px;
                    background-color: var(--color-content);
                    &.active {
                        background-color: var(--color-red-thick);
                    }

                }
            }
        }
    }
    .page-content-wrapper {
        width: 1300px;
        max-width: 100%;
        margin: 0px auto;
        padding: 50px 20px 50px 20px;
        .where-are-title{
            font-size: 24px;
            color: black;
        }
        .list-location{
            .location-item{
                margin-bottom: 15px;
                position: relative;
                text-align: center;
                overflow: hidden;
                .zip-code-wrap{
                    background-color: #cccccc;
                    padding: 90px 15px;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                    .zip-code{
                        font-size: 30px;
                        color: white;
                    }
                }
                .location-dir-wrap{
                    padding: 35px 15px;
                    position: relative;
                    .location-dir{
                        position: relative;
                        z-index: 3;
                        font-size: 24px;
                        color: black;
                        transition: all .2s ease-out;
                    }
                    &:before{
                        content: '';
                        position: absolute;
                        z-index: 2;
                        top: 0px;
                        left: 0px;
                        width: 5%;
                        height: 100%;
                        background-color: var(--color-red-thick);
                        transform-origin: bottom right;
                        transform: rotate(-45deg);
                        transition: all .2s ease-out;
                    }
                    &:after{
                        content: '';
                        position: absolute;
                        z-index: 1;
                        bottom: 0px;
                        left: 0px;
                        width: 100%;
                        height: 3px;
                        background-color: var(--color-red-thick);
                        transition: all 0s ease-out;
                    }
                }
                &:hover{
                    .location-dir-wrap{
                        .location-dir{
                            color: white;
                        }
                        &:before{
                            background-color: black;
                        }
                        &:after{
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
    .section-divider{
        border-bottom: 1px solid var(--color-grey-light);
    }
    .signup-component-wrap{
        width: 1300px;
        max-width: 100%;
        margin: 0px auto;
        padding: 50px 0px 20px;
    }
}