.app-public-wrapper{
    --color-red-thick: #bf0a30;
    --color-red-thick-hover: #a30a2a;
    --color-grey-light: #dddddd;
    --color-content: #333333;
    --public-section-inner: 1200px;

    section.mobile-sidebar{
        position: fixed;
        top: 0px;
        bottom: 0px;
        width: 300px;
        left: -300px;
        background-color: white;
        transition: all .3s ease-out;
        z-index: 300;
        .mobile-sidebar-header{
            padding: 20px;
            border-bottom: 1px solid var(--color-grey-light);
            .colorado-wrapper{
                img{
                    width: 250px;
                    max-width: 100%;
                }
            }
        }
        .mobile-sidebar-content{
            padding: 10px 0px;
            .mobile-menu{
                list-style: none;
                padding-left: 0px;
                li{
                    a{
                        display: block;
                        width: 100%;
                        padding: 10px 20px;
                        position: relative;
                        color: var(--color-content);
                        &:hover, &.active{
                            background-color: rgb(245, 245, 245);
                            .permanent-resource-wrapper{
                                display: block;
                            }
                        }
                        .permanent-resource-wrapper{
                            display: none;
                            position: absolute;
                            z-index: 10;
                            top: calc(100%);
                            left: 5px;
                            width: 600px;
                            max-width: calc(100vw - 5px);
                            padding: 10px 15px 20px;
                            .list-permanent-resource{
                                box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .05);
                                background-color: white;
                                .permanent-resource-item{
                                    padding: 10px 15px;
                                    color: var(--color-content);
                                    &:hover{
                                        background-color: var(--color-red-thick);
                                        color: white;
                                    }
                                }
                            }
                        }
                        .join-form-wrapper{
                            position: absolute;
                            top: calc(100% + 25px);
                            left: 0px;
                            width: 600px;
                            max-width: calc(100vw - 0px);
                            z-index: -1;
                            background-color: white;
                            opacity: 0;
                            display: none;
                            .input-wrapper{
                                border-bottom: 1px solid var(--color-grey-light);
                                padding-bottom: 15px;
                                padding-left: 15px;
                                position: relative;
                                overflow: hidden;
                                transition: all .2s ease-out;
                                input{
                                    border: none;
                                    font-size: 16px;
                                    &:focus{
                                        outline: none;
                                        box-shadow: none;
                                    }
                                    &::placeholder{
                                        color: var(--color-grey-light);
                                        font-style: italic;
                                    }
                                }
                                &:before{
                                    content: '';
                                    position: absolute;
                                    top: 0px;
                                    left: 0px;
                                    width: 3%;
                                    height: 100%;
                                    background-color: var(--color-grey-light);
                                    transform-origin: bottom right;
                                    transform: rotate(-45deg);
                                }
                                &:focus-within{
                                    padding-bottom: 0px;
                                    padding-left: 10px;
                                    border-color: var(--color-content);
                                    &:before{
                                        background-color: var(--color-content);
                                    }
                                }
                            }
                            .home-btn{
                                font-family: Lato;
                                padding: 20px 20px;
                                font-size: 14px;
                            }
                            &:focus, &:focus-within{
                                opacity: 1;
                                top: calc(100% + 5px);
                                z-index: 10;
                                transition: all .3s ease-out;
                            }
                        }
                    }
                }
            }
        }
    }
    .home-content{
    }
    .site-back-drop {
        display: none;
        position: fixed;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
        z-index: 200;
        background-color: rgba(0, 0, 0, 0.4);
    }

    &.mobile-sidebar-opened {
        section.mobile-sidebar{
            left: 0px;
            .mobile-sidebar-content{
                .mobile-menu{
                    li{
                        a{
                            .join-form-wrapper{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        .site-back-drop {
            display: block;
        }
    }
}
.most-txt-strong{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    line-height: 43.2px;
}