<div class="app-public-wrapper" [ngClass]="{'mobile-sidebar-opened': mobileSidebarOpened}">
    <app-public-header [social]="social" [permanent_resources]="permanentResources" [(mobileSidebarOpened)]="mobileSidebarOpened"></app-public-header>
    <section class="mobile-sidebar">
        <header class="mobile-sidebar-header">
            <div class="colorado-wrapper">
                <img src="./assets/images/icon/logo.png" alt="" />
            </div>
        </header>
        <div class="mobile-sidebar-content">
            <ul class="mobile-menu">
                <li class="">
                    <a routerLink="/courses" class="menu-item">
                        COURSES
                    </a>
                </li>
                <li class="">
                    <a href="javascript:;" class="menu-item">
                        RESOURCES
                        <div class="permanent-resource-wrapper">
                            <div class="list-permanent-resource">
                                <a class="permanent-resource-item d-block" *ngFor="let post of permanentResources" [routerLink]="['/view-post/' + post.id]" target="_self">
                                    {{post.title}}
                                </a>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="">
                    <a routerLink="/faq" class="menu-item">
                        FAQ
                    </a>
                </li>
                <li class="">
                    <a routerLink="/view-post/25" class="menu-item">
                        BECOME AN INSTRUCTOR
                    </a>
                </li>
                <li class="">
                    <a routerLink="/contact"  class="menu-item">
                        CONTACT
                    </a>
                </li>
                <li class="">
                    <a href="javascript:;" class="menu-item">
                        <div (click)="activeJoinNewsletter()">JOIN THE NEWSLETTER</div>
                        <div class="join-form-wrapper" (blur)="joinNewsletterActive = false;" #joinFormWrap id="header-join-form-wrap" [tabIndex]="joinNewsletterActive ? 0 : 10">
                            <div class="row align-items-end">
                                <div class="col">
                                    <div class="input-wrapper">
                                        <input type="email" class="form-control" placeholder="Enter your email address" name="newsletter_email" [(ngModel)]="newsletter_email"/>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button class="home-btn font-lato-bold" (click)="sendNewsletterEmail()">SUBSCRIBE</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="">
                    <a routerLink="/auth/login" class="menu-item">INSTRUCTOR/VENDOR LOG IN</a>
                </li>
            </ul>
        </div>
    </section>
    <div class="app-public-content">
        <router-outlet></router-outlet>
    </div>
    <app-public-footer [social]="social"></app-public-footer>
    <div class="site-back-drop" (click)="onSiteBackDropClick()"></div>
</div>