<div #approveRenewalModal class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Approve Renewal Application</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" (click)="cancel()">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" #f="ngForm">
                    <div class="app-form-group form-group">
                        <label for="" class="form-control-label">Message:</label>
                        <app-ngx-editor [config]="editorConfig" name="message" [placeholder]="'type your description...'" [spellcheck]="true" [(ngModel)]="message"></app-ngx-editor>
                    </div>
                    <div class="form-group app-form-group">
                        <label for="" class="form-control-label">Valid From:</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="start_date" [(ngModel)]="startDateObj" placeholder="2019-05-19" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" />
                            <div class="input-group-append" [owlDateTimeTrigger]="dt1">
                                <span class="input-group-text"><fa name="calendar"></fa></span>
                            </div>
                            <owl-date-time [pickerType]="'calendar'"
                                           [startView]="'year'" #dt1></owl-date-time>
                        </div>
                    </div>
                    <div class="form-group app-form-group">
                        <label for="" class="form-control-label">Valid Until:</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="end_date" [(ngModel)]="endDateObj" placeholder="2019-05-19" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" />
                            <div class="input-group-append" [owlDateTimeTrigger]="dt2">
                                <span class="input-group-text"><fa name="calendar"></fa></span>
                            </div>
                            <owl-date-time [pickerType]="'calendar'"
                                           [startView]="'year'" #dt2></owl-date-time>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="approve()">Approve</button>
            </div>
        </div>
    </div>
</div>