.card {
    .card-body {
        padding: 2rem;

        .page-header {
            .upload__wrapper {
                position: relative;

                input {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    cursor: pointer;
                }
            }

            .app-btn {
                font-size: 1.2rem;
            }
        }

        .page-content {
            .file-cell {
                svg {
                    vertical-align: middle;
                }

                span {
                    vertical-align: middle;
                }
            }

            .row-action-item.disabled {
                opacity: 0.8;
                cursor: not-allowed;
            }
        }
    }
}
