@import "_variables.scss";
.card{
    .card-body{
        padding: 2rem;
        .page-header{
            .app-btn{
                font-size: 1.2rem;
            }
            .select-layout{
                line-height: 0;
                cursor: pointer;
                svg{
                    width: 30px;
                    vertical-align: middle;
                    g, path, circle{
                        fill: $colorLightGrey !important;
                    }
                }
                &:hover{
                    svg{
                        g, path, circle{
                            fill: $colorContent !important;
                        }
                    }
                }
            }
        }
        .page-content{
            padding: 20px 30px;
            box-shadow: 0 0 10px 3px rgba(0,0,0,.03);
            .grid-layout{
                .items-list{
                    .grid-item{
                        flex-basis: 20%;
                        flex-shrink: 0;
                        padding: 20px;
                    }
                }
            }
        }
    }
}