<div class="card">
    <div class="card-body">
        <header class="page-header mb-4">
            <div class="row align-items-center mb-3">
                <div class="col">
                    <h2 class="page-title">Manage Content</h2>
                </div>
                <div class="col-auto">
                    <button class="app-btn" routerLink="/admin/add-content">Add Content</button>
                </div>
                <div class="col-auto">
                    <button class="app-btn" routerLink="/admin/form-library">Add Form</button>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <div class="drag-title-wrapper">
                        <img src="./assets/images/icon/move.png" class="" alt="">&nbsp;&nbsp;<span class="drag-title-txt">Drag on items to change the order</span>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="select-layout" (click)="tab='grid'" [hidden]="tab=='grid'">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 19.132 19.132" style="enable-background:new 0 0 19.132 19.132;" xml:space="preserve">
                                            <g>
                                                <g>
                                                    <path style="fill:#030104;" d="M9.172,9.179V0.146H0v9.033H9.172z"></path>
                                                    <path style="fill:#030104;" d="M19.132,9.179V0.146H9.959v9.033H19.132z"></path>
                                                    <path style="fill:#030104;" d="M19.132,18.986V9.955H9.959v9.032H19.132z"></path>
                                                    <path style="fill:#030104;" d="M9.172,18.986V9.955H0v9.032H9.172z"></path>
                                                </g>
                                            </g>
                                        </svg>
                    </div>
                    <div class="select-layout" (click)="tab='list'" [hidden]="tab=='list'">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                            <g>
                                                <path style="fill:#455A64;" d="M501.333,96H138.667C132.776,96,128,91.224,128,85.333c0-5.891,4.776-10.667,10.667-10.667h362.667
                                                    c5.891,0,10.667,4.776,10.667,10.667C512,91.224,507.224,96,501.333,96z"></path>
                                                <path style="fill:#455A64;" d="M501.333,266.667H138.667c-5.891,0-10.667-4.776-10.667-10.667c0-5.891,4.776-10.667,10.667-10.667
                                                    h362.667c5.891,0,10.667,4.776,10.667,10.667C512,261.891,507.224,266.667,501.333,266.667z"></path>
                                                <path style="fill:#455A64;" d="M501.333,437.333H138.667c-5.891,0-10.667-4.776-10.667-10.667c0-5.891,4.776-10.667,10.667-10.667
                                                    h362.667c5.891,0,10.667,4.776,10.667,10.667C512,432.558,507.224,437.333,501.333,437.333z"></path>
                                            </g>
                            <g>
                                <circle style="fill:#2196F3;" cx="53.333" cy="256" r="53.333"></circle>
                                <circle style="fill:#2196F3;" cx="53.333" cy="426.667" r="53.333"></circle>
                                <circle style="fill:#2196F3;" cx="53.333" cy="85.333" r="53.333"></circle>
                            </g>
                                        </svg>
                    </div>
                </div>
            </div>
        </header>
        <div class="page-content">
            <div class="list-layout type-content" [hidden]="tab=='grid'">
                <div class="items-list" [sortablejs]="posts" [sortablejsOptions]="options">
                    <div class="list-item mb-2" *ngFor="let post of posts; let i = index">
                        <app-post-list-row [post]="post" (updateClick)="openUpdate(post)" (delete)="afterDelete(i)"></app-post-list-row>
                    </div>
                </div>
            </div>
            <div class="grid-layout type-content" [hidden]="tab=='list'">
                <div class="items-list d-flex flex-sm-wrap" [sortablejs]="posts" [sortablejsOptions]="options">
                    <div class="grid-item" *ngFor="let post of posts; let i = index">
                        <app-post-grid-item [post]="post" (delete)="afterDelete(i)"></app-post-grid-item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-post-editor></app-post-editor>
