<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Edit Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" (click)="cancel()">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="app-form-group form-group">
            <label class="control-label" for="">Name your post</label>
            <input type="text" class="form-control" name="title" [(ngModel)]="post.title" />
        </div>
        <div class="app-form-group form-group">
            <label class="control-label" for="">Describe it:</label>
            <app-ngx-editor [config]="editorConfig" name="content" [placeholder]="'type your description...'" [spellcheck]="true" [(ngModel)]="post.content" (mediaUploaded)="onMediaUploaded($event)"></app-ngx-editor>
        </div>
        <div class="app-form-group form-group">
            <label class="control-label" for="">Post Type:</label>
            <select name="type" class="form-control" [(ngModel)]="post.type">
                <option value="video">video</option>
                <option value="audio">audio</option>
                <option value="text">text</option>
            </select>
        </div>
        <div class="app-form-group form-group">
            <label class="control-label" for="">Keywords (optional):</label>
            <input type="text" class="form-control" name="keywords" [(ngModel)]="post.keywords" />
        </div>
        <div class="app-form-group form-group">
            <label for="" class="control-label">Upload cover image for this Post (optional):</label>
            <div class="cover-image-wrapper">
                <div class="row justify-content-center align-items-center">
                    <div class="col-auto">
                        <div class="img-wrapper">
                            <img [src]="coverImageSrc || './assets/images/icon/cloud-computing.svg'">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="upload-helper-txt">Drag Image here to upload</div>
                    </div>
                </div>
                <input class="form-control" type="file" name="image" (change)="updateCoverImage($event)"/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cancel()">Close</button>
        <button type="button" class="btn btn-primary" (click)="savePost()">Save changes</button>
    </div>
</ng-template>
