.main-container{
    margin-top: 60px;
    margin-left: 235px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}

// begin customize

#main-wrapper{
    header.topbar{
        nav.navbar{
            .navbar-header{
                width: 300px;
                .navbar-brand{
                    .admin-logo{
                        line-height: 1.41;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
    .left-sidebar{
        .home-link{
            height: 50px;
            padding: 0px 35px 8px 15px;
            a{
            }
        }
        .scroll-sidebar{
            height: calc(100vh - 120px);
        }
    }
    footer.footer{
        font-size: 1.2rem;
    }
}
