.page-header {
    background-color: #F4F4F4;
    padding: 0px 15px;
    .title {
        font-size: 40px;
    }
}
.page-content{
    section.find-us{
        .section-title{
        }
        .hr-lines-wrapper {
            display: flex;
            margin-top: 5px;
            margin-bottom: 20px;
            div {
                height: 4px;
                margin-right: 3px;
                &.hr-line-black {
                    width: 50px;
                    background-color: var(--color-content);
                }
                &.hr-line-red {
                    width: 100px;
                    background-color: var(--color-red-thick);
                }
            }
        }
        .section-description {
        }
    }
    section.drop-us{
        .section-title{
        }
        .hr-lines-wrapper {
            display: flex;
            margin-top: 5px;
            margin-bottom: 20px;
            div {
                height: 4px;
                margin-right: 3px;
                &.hr-line-black {
                    width: 50px;
                    background-color: var(--color-content);
                }
                &.hr-line-red {
                    width: 100px;
                    background-color: var(--color-red-thick);
                }
            }
        }
        .section-description {
        }
        form{
            .btn.app-btn-for-child{
                border-radius: 0px;
                padding: 9px 25px;
                border: 1px solid var(--color-grey-light);
                font-size: 14px;
                color: black;
                &:hover{
                    border-color: var(--color-red-thick);
                    color: white;
                    background-color: var(--color-red-thick);
                }
            }
        }
    }
    section.list-social{
        display: flex;
        justify-content: center;
        margin: 140px auto 200px;
        .social-link{
            width: 230px;
            height: 140px;
            .social-inner{
                .social-icon-wrapper {
                    height: 50px;
                    margin-bottom: 10px;
                    svg{
                        g, path{
                            fill: white;
                        }
                    }
                }
                .social-txt{
                    color: white;
                }
            }
            &.facebook-link {
                background-color: #0253a2;
                &:hover{
                    background-color: #365899;
                }
            }
            &.tweet-link {
                background-color: #36d8ff;
                &:hover{
                    background-color: #1DA1F2;
                }
            }
            &.google-link {
                background-color: #d6492f;
                &:hover{
                    background-color: #BD3221;
                }
            }
            &.instagram-link {
                background-color: #ff8a00;
                &:hover{
                    background-color: #AF5E00;
                }
            }
            &.pinterest-link {
                background-color: #cc2127;
                &:hover{
                    background-color: #E1232A;
                }
            }
        }
    }
    section.contact-section{
        background-color: #f4f4f4;
        padding-bottom: 40px;
        .list-contact{
            .contact-item{
                margin-top: -55px;
                .item-icon-wrapper{
                    width: 110px;
                    height: 110px;
                    margin-left: auto;
                    margin-right: auto;
                    position: relative;
                    overflow: hidden;
                    font-size: 2.5rem;
                    line-height: 0;
                    background-color: white;
                    color: #ce0000;
                    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, .1);
                    svg{
                        max-width: 40px;
                        width: 40px;
                        height: 40px;
                        max-height: 40px;
                        g, path{
                            fill: #ce0000;
                        }
                    }
                    &:before{
                        content: '';
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 11%;
                        height: 100%;
                        background-color: var(--color-content);
                        transform-origin: bottom right;
                        transform: rotate(-45deg);
                    }
                }
                .item-name{
                }
            }
        }
    }
    .public-section-inner {
        width: var(--public-section-inner);
        max-width: 100%;
        margin: 0px auto;
        padding: 0px 15px;
    }
}