<div class="page-component">
    <header class="page-header py-3">
        <div class="title font-lato-light text-center"><span class="most-txt-strong font-lato">CONTACT</span> US</div>
    </header>
    <div class="page-content">
        <section class="py-3 py-md-5">
            <div class="public-section-inner">
                <div class="row">
                    <div class="col-12">
                        <section class="find-us">
                            <div class="section-title font-lato-bold">
                                HOW TO FIND US
                            </div>
                            <div class="hr-lines-wrapper"><div class="hr-line-black"></div><div class="hr-line-red"></div></div>
                            <div class="section-description mb-3">
                                <p> If this is pertaining to a Basic Rider Course that you have already signed up for please contact your vendor that you signed up with directly. If you need their contact information it is listed on the confirmation email they provided when you registered for the course. </p><p>
                                If this is pertaining to an E-course issue, please contact either the vendor that you signed up with or contact MSF at (800) 446-9227 and they will be able to assist you. 
                                Please note that MOST does not have upcoming registration records. </p>
                                <p>
                                If this is pertaining to a replacement Basic Rider Course Completion Card, please contact the vendor where you took the course. The MOST office is not able to provide replacement completion cards. 
                                If you topic something else, please contact us either through email or phone:<br>
                                </p>
                            </div>
                            <div class="map-wrapper">
                                <agm-map [latitude]="lat" [longitude]="lng" style="height: 600px;">
                                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                                </agm-map>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
        <section class="list-social">
            <a [href]="social.social_link_facebook" class="social-link facebook-link flex-center" target="_self">
                <div class="social-inner">
                    <div class="social-icon-wrapper mb-1 text-center">
                        <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g><path d="M 12.054,32l 5.996,0 l 0.004-16l 5.446-0.002l 0.584-5.514L 18.050,10.484 l 0.008-2.76c0-1.438, 0.098-2.208, 2.162-2.208l 3.812,0 L 24.032,0 L 18.566,0 C 13.268,0, 12.048,2.738, 12.048,7.236l 0.006,3.248L 8.032,10.486L 8.032,16 l 4.022,0 L 12.054,32 z"></path></g></svg>
                    </div>
                    <div class="social-txt text-center">LIKE US</div>
                </div>
            </a>
            <a [href]="social.social_link_twitter" class="social-link tweet-link flex-center" target="_self">
                <div class="social-inner">
                    <div class="social-icon-wrapper mb-1 flex-center">
                        <svg width="32.003997802734375" height="32" viewBox="0 0 32.003997802734375 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g><path d="M 31.118,3.48c-1.268,0.752-2.674,1.298-4.17,1.594C 25.75,3.796, 24.044,3, 22.156,3 c-3.626,0-6.566,2.94-6.566,6.564c0,0.514, 0.058,1.016, 0.17,1.496c-5.456-0.274-10.294-2.888-13.532-6.86 C 1.662,5.168, 1.34,6.296, 1.34,7.5c0,2.278, 1.16,4.288, 2.92,5.464C 3.184,12.928, 2.172,12.632, 1.286,12.14c0,0.028,0,0.054,0,0.082 c0,3.18, 2.264,5.834, 5.266,6.438C 6.002,18.81, 5.422,18.89, 4.822,18.89c-0.424,0-0.834-0.042-1.236-0.118 c 0.836,2.608, 3.26,4.506, 6.132,4.56c-2.246,1.76-5.078,2.81-8.154,2.81c-0.53,0-1.052-0.032-1.566-0.092 C 2.904,27.912, 6.354,29, 10.062,29c 12.076,0, 18.68-10.004, 18.68-18.68c0-0.284-0.006-0.568-0.020-0.85 c 1.286-0.922, 2.4-2.078, 3.28-3.394c-1.178,0.522-2.442,0.876-3.77,1.034C 29.588,6.298, 30.628,5.010, 31.118,3.48z"></path></g></svg>
                    </div>
                    <div class="social-txt text-center">FOLLOW</div>
                </div>
            </a>
            <a [href]="social.social_link_instagram" class="social-link instagram-link flex-center" target="_self">
                <div class="social-inner">
                    <div class="social-icon-wrapper mb-1 flex-center">
                        <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g><path d="M 30.556,0L 1.444,0 C 0.648,0,0,0.646,0,1.442l0,29.116 C0,31.352, 0.648,32, 1.444,32l 29.112,0 C 31.352,32, 32,31.352, 32,30.558L 32,1.442 C 32,0.646, 31.352,0, 30.556,0z M 21.584,16c0,3.084-2.5,5.584-5.584,5.584S 10.416,19.084, 10.416,16 c0-3.084, 2.5-5.584, 5.584-5.584S 21.584,12.916, 21.584,16z M 28,28L 4,28 L 4,14 l 2.634,0 C 6.496,14.646, 6.416,15.314, 6.416,16 c0,5.284, 4.3,9.584, 9.584,9.584s 9.584-4.3, 9.584-9.584c0-0.686-0.080-1.354-0.218-2L 28,14 L 28,28 z M 28,10l-6,0 L 22,4 l 6,0 L 28,10 z"></path></g></svg>
                    </div>
                    <div class="social-txt text-center">ADD TO CIRCLE</div>
                </div>
            </a>
        </section>
        <section class="contact-section">
            <div class="public-section-inner">
                <div class="list-contact d-flex flex-row justify-content-around">
                    <div class="contact-item">
                        <div class="item-icon-wrapper flex-center mb-4">
                            <fa name="mobile" size="lg"></fa>
                        </div>
                        <div class="item-name font-lato-bold text-center mb-3">PHONE</div>
                        <div class="item-value text-center">
                            <div>(303) 273-1844</div>
                        </div>
                    </div>
                    <div class="contact-item">
                        <div class="item-icon-wrapper flex-center mb-4">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M256,0C156.748,0,76,80.748,76,180c0,33.534,9.289,66.26,26.869,94.652l142.885,230.257
                                            c2.737,4.411,7.559,7.091,12.745,7.091c0.04,0,0.079,0,0.119,0c5.231-0.041,10.063-2.804,12.75-7.292L410.611,272.22
                                            C427.221,244.428,436,212.539,436,180C436,80.748,355.252,0,256,0z M384.866,256.818L258.272,468.186l-129.905-209.34
                                            C113.734,235.214,105.8,207.95,105.8,180c0-82.71,67.49-150.2,150.2-150.2S406.1,97.29,406.1,180
                                            C406.1,207.121,398.689,233.688,384.866,256.818z"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M256,90c-49.626,0-90,40.374-90,90c0,49.309,39.717,90,90,90c50.903,0,90-41.233,90-90C346,130.374,305.626,90,256,90z
                                             M256,240.2c-33.257,0-60.2-27.033-60.2-60.2c0-33.084,27.116-60.2,60.2-60.2s60.1,27.116,60.1,60.2
                                            C316.1,212.683,289.784,240.2,256,240.2z"/>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="item-name font-lato-bold text-center mb-3">ADDRESS</div>
                        <div class="item-value text-center">
                            <div>Colorado State Patrol Academy</div>
                            <div>15055 S. Golden Rd</div>
                            <div>Golden, CO 80401</div>
                        </div>
                    </div>
                    <div class="contact-item">
                        <div class="item-icon-wrapper flex-center mb-4">
                            <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g><path d="M 30,8L 2,8 C 0.896,8,0,8.896,0,10l0,20 c0,1.104, 0.896,2, 2,2l 28,0 c 1.104,0, 2-0.896, 2-2L 32,10 C 32,8.896, 31.104,8, 30,8z M 11.36,22.054l 4.644,3.156l 4.616-3.178L 28.586,30L 3.414,30 L 11.36,22.054z M 2,28.586L 2,15.69 l 7.676,5.218L 2,28.586z M 22.294,20.88 L 30,15.576l0,13.010 L 22.294,20.88z M 30,10l0,3.236 l-0.042-0.060l-13.962,9.614L 2,13.274L 2,10 L 30,10 z"></path></g></svg>
                        </div>
                        <div class="item-name font-lato-bold text-center mb-3">EMAIL</div>
                        <div class="item-value text-center">
                            <div>cspmost@state.co.us</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="signup-for-newsletter py-5">
            <div class="public-section-inner">
                <app-signup-for-newsletter></app-signup-for-newsletter>
            </div>
        </section>
    </div>
</div>