:host {
    ::ng-deep{
        .app-table{
            .datatable-body{
                .datatable-row-wrapper{
                    .datatable-body-row{
                        .datatable-body-cell{
                            .datatable-body-cell-label{
                                img, svg{
                                    width: 70px;
                                    height: auto;
                                    object-fit: cover;
                                    object-position: center;
                                }
                                a{
                                    color: inherit;
                                }
                                .approve-wrap{
                                    a{
                                        padding: 2px 10px 4px;
                                        border: 1px solid #29b6f6;
                                        border-radius: 2px;
                                        color: #29b6f6;
                                    }
                                }
                                .deny-wrap{
                                    a{
                                        padding: 2px 10px 4px;
                                        border-radius: 2px;
                                        border: 1px solid #67757c;
                                        color: #67757c;
                                    }
                                }
                                .pending-wrap{
                                    a{
                                        padding: 2px 10px 4px;
                                        border-radius: 2px;
                                        border: 1px solid #FAD55C;
                                        color: #FAD55C;
                                    }
                                }
                                .approved-wrap{
                                    .approved-txt{
                                        padding: 2px 10px 4px;
                                        border-radius: 2px;
                                        background-color: #29b6f6;
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}