.component-inner{
    .post-img-wrap{
        line-height: 0;
        cursor: move;
        img{
            width: 95px;
            height: 65px;
        }
    }
    .item-action{
        display: block;
        line-height: 0;
        opacity: .6;
        cursor: pointer;
        img{
            width: 32px;
        }
        &:hover{
            opacity: 1;
        }
    }
}