<div class="component-inner">
    <div class="row align-items-center flex-nowrap">
        <div class="col-auto">
            <div class="post-img-wrap">
                <img src="" alt="" [src]="post.image || './assets/images/icon/folder.svg'" />
            </div>
        </div>
        <div class="col-auto pr-0">
            <div class="media-icon-wrapper">
                <i *ngIf="post.type == 'video'" class="fa fa-youtube-play video-icon"></i>
                <i *ngIf="post.type == 'audio'" class="fa fa-volume-up audio-icon"></i>
                <i *ngIf="post.type == 'text'" class="fa fa-file-text text-icon"></i>
            </div>
        </div>
        <div class="col min-width-0">
            <div class="post-title">{{post.title}}</div>
        </div>
        <div class="col-auto pr-0">
            <ui-switch [(ngModel)]="post.featured" checkedLabel="F" (valueChange)="updatePost({featured: $event ? 1 : 0})"></ui-switch>
        </div>
        <div class="col-auto pr-0">
            <ui-switch [(ngModel)]="post.permanent_resource" checkedLabel="PR" (valueChange)="updatePost({permanent_resource: $event ? 1 : 0})"></ui-switch>
        </div>
        <div class="col-auto pr-0">
            <a class="item-action" [routerLink]="['/view-post/' + post.id]" target="_self">
                <img src="./assets/images/icon/open-book.svg" />
            </a>
        </div>
        <div class="col-auto pr-0">
            <a href="javascript:;" class="item-action" (click)="clickUpdate()">
                <img src="./assets/images/icon/edit-item.svg">
            </a>
        </div>
        <div class="col-auto">
            <a class="item-action" (click)="deletePost()">
                <img src="./assets/images/icon/cancel.svg" />
            </a>
        </div>
    </div>
</div>
