<div class="card">
    <div class="card-body">
        <form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
            <div class="form-group app-form-group">
                <label class="form-control-label">Name</label>
                <input type="text" class="form-control" [(ngModel)]="sets.name" name="name" placeholder="Full Name" required/>
            </div>
            <div class="form-group app-form-group">
                <label class="form-control-label">Email</label>
                <input type="text" class="form-control" [(ngModel)]="sets.email" name="email" placeholder="Email Address"/>
            </div>
            <div class="form-group app-form-group">
                <label class="form-control-label">Level</label>
                <select class="form-control"  [(ngModel)]="sets.level" name="level">
                    <option *ngFor="let level of appCommonService.userLevels" [value]="level.id">{{level.name}}</option>
                </select>
            </div>
            <div class="form-group app-form-group">
                <label class="form-control-label">Password</label>
                <input type="password" name="password" [(ngModel)]="sets.password" class="form-control" placeholder=""/>
            </div>
            <div class="form-group app-form-group">
                <button class="app-btn">Save</button>
            </div>
        </form>
    </div>
</div>