<div class="auth-wrap">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <alert></alert>
            <h2>Instructor/Vendor</h2>
            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" id="username" required />
                    <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" id="password" required />
                    <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                </div>
                <div class="form-group">
                    <div class="row align-items-end">
                        <div class="col-1">
                            <button [disabled]="loading" class="btn btn-primary">Login</button>
                        </div>
                        <div class="col-11">
                            <a class="btn btn-link" routerLink="/auth/forgot-password">
                                Forgot Your Password?
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>