<div class="card">
    <div class="card-body">
        <form #f="ngForm" (ngSubmit)="faq ? update() : insert()">
            <div class="form-group app-form-group">
                <label for="" class="form-control-label">Question:</label>
                <input class="form-control" name="question" [(ngModel)]="sets.question" />
            </div>
            <div class="form-group app-form-group">
                <label for="" class="form-control-label">Answer:</label>
                <textarea class="form-control" name="answer" [(ngModel)]="sets.answer"></textarea>
            </div>
            <div>
                <button class="app-btn">{{faq ? 'Save' : 'Add'}}</button>
            </div>
        </form>
    </div>
</div>