<div class="card">
    <div class="card-body">
        <div class="app-form-group form-group">
            <label for="" class="form-control-label">Client ID</label>
            <input name="client_id" class="form-control" [(ngModel)]="client_id" placeholder="type instagram developer client id" (blur)="saveClientID();"/>
        </div>
        <div class="app-form-group form-group">
            <label for="" class="form-control-label">Client Secrete</label>
            <input name="client_secrete" class="form-control" [(ngModel)]="client_secrete"  placeholder="type instagram developer client secrete" (blur)="saveSecrete();"/>
        </div>
        <div class="connect-wrapper mb-4">
            <a [href]="connectHref">Connect your Instagram</a>&nbsp;
            <span *ngIf="connectedTokenObj">{{connectedTokenObj.user.full_name}} has been connected successfully</span>
        </div>
        <h3 class="select-photos-txt">Select Photos</h3>
        <div class="recent-photos d-flex">
            <div class="photo-item" *ngFor="let image of recentImages" [ngClass]="{selected: image.selected}" (click)="image.selected = !image.selected; updatePhotos();">
                <img [src]="image.src" />
                <div class="hover-content flex-center">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="49px" height="38px"
                         viewBox="0.5 0 49 38" enable-background="new 0.5 0 49 38" xml:space="preserve">
                        <g id="Page-1" sketch:type="MSPage">
                            <g id="Check_1" transform="translate(115.000000, 102.000000)" sketch:type="MSLayerGroup">
                                <path id="Rectangle-4" sketch:type="MSShapeGroup" fill="#FFFFFF" d="M-99.8-72.6l28.3-28.3c1.4-1.4,3.6-1.4,4.9,0
                                        c1.4,1.4,1.4,3.6,0,4.9l-31.2,31.1c-0.6,0.6-1.4,0.9-2.1,0.9c-0.8,0-1.5-0.3-2.1-0.9l-11.6-11.6c-1.4-1.4-1.4-3.6,0-4.9
                                        c1.4-1.4,3.6-1.4,4.9,0L-99.8-72.6z"/>
                            </g>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>