@import "_variables.scss";

.connect-wrapper{
    a{
        padding: 5px 15px;
        background-image: linear-gradient(to bottom, #517fa4, #306088);
        color: white;
        border-radius: 2px;
        &:focus{
            background-image: linear-gradient(to top, #517fa4, #306088);
        }
    }
}

.recent-photos{
    flex-wrap: wrap;
    .photo-item{
        border: 1px solid white;
        position: relative;
        cursor: pointer;
        img{
            width: 180px;
            height: 180px;
        }
        .hover-content{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, .7);
            opacity: 0;
            svg{
                width: 100px;
                max-width: 100%;
                opacity: .3;
                g, path{
                    fill: $colorGreen;
                }
            }
        }
        &:hover{
            .hover-content{
                opacity: 1;
            }
        }
        &.selected{
            .hover-content{
                background-color: rgba(255, 255, 255, 0);
                opacity: 1;
                svg{
                    opacity: 1;
                }
            }
        }
    }
}