<div #denyRenewalModal class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Deny Renewal Application</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" (click)="cancel()">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" #f="ngForm">
                    <div class="app-form-group form-group">
                        <label for="" class="form-control-label">Message:</label>
                        <app-ngx-editor [config]="editorConfig" name="message" [placeholder]="'type your description...'" [spellcheck]="true" [(ngModel)]="message"></app-ngx-editor>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="deny()">Deny</button>
            </div>
        </div>
    </div>
</div>