@import "_variables.scss";

.list-link{
    .link-item{
        font-size: 1rem;
        margin-bottom: 5px;
    }
}

.add-media-wrap{
    padding: 30px 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 1px dashed $colorLightGrey;
    border-radius: 5px;
    .add-txt{
        font-size: 1.2rem;
        text-align: center;
    }
    input{
        width: 200%;
        height: 200%;
        position: absolute;
        bottom: 0px;
        right: 0px;
        opacity: 0;
        cursor: pointer;
    }
    .media-display{
        text-align: center;
        img, svg{
            width: 150px;
        }
    }
    &:hover{
        background-color: #f4f6f9;
    }
}