<div class="page-component">
    <header class="page-header pt-3 pb-3">
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="title font-lato-light">Learn about <span class="most-txt-strong font-lato">MOST</span></div>
                <div class="content">
                    <div class="most-courses-txt font-lato-light"><span class="font-weight-bold">MOST</span> Blog</div>
                    <div class="lines-wrapper">
                        <div class="line"></div>
                        <div class="line active"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="page-content-wrapper">
        <div class="row flex-sm-wrap">
            <div class="col-md col-12 mr-0 mr-md-5">
                <div class="post-list">
                    <div class="post-item" *ngFor="let post of posts">
                        <div class="image-wrapper">
                            <img [src]="post.image" class="w-100" alt="" />
                            <div class="hr-line-red"></div>
                        </div>
                        <h2 class="item-title">{{post.title}}</h2>
<!--                        <div *ngIf="post.type=='text'" class="item-description" [innerHTML]="post.content"></div>-->
                        <a [routerLink]="['/view-post/' + post.id]" target="_self" class="btn btn-outline-dark font-lato-bold read-more-btn">READ MORE</a>
                        <div class="hr-lines-wrapper">
                            <div class="hr-line-black"></div>
                            <div class="hr-line-red"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-auto col-12 ml-0 ml-md-5">
                <app-public-sidebar [courseTypes]="courseTypes" [socialFeed]="socialFeed"></app-public-sidebar>
            </div>
        </div>
    </section>
</div>