.page-header {
    background-color: #F4F4F4;
    text-align: center;
    .title {
        font-size: 40px;
    }
    .content {
        display: inline-block;
        .most-courses-txt{
            font-size: 38px;
        }
        .lines-wrapper {
            display: flex;
            .line {
                width: 50px;
                height: 4px;
                margin-right: 3px;
                background-color: var(--color-content);
                &.active {
                    background-color: var(--color-red-thick);
                }

            }
        }
    }
}
.page-content-wrapper{
    width: 1300px;
    max-width: 100%;
    margin: 0px auto;
    padding: 50px 20px 20px 20px;
    .post-list {
        .post-item{
            .image-wrapper {
                .hr-line-red {
                    width: 60%;
                    height: 4px;
                    margin-right: 3px;
                    background-color: var(--color-red-thick);
                }
            }
            .item-title {
                color: black;
                margin-top: 20px;
            }
            .item-description{
                margin-bottom: 1em;
            }
            .read-more-btn{
                font-size: 14px;
                border-color: #dddddd;
            }
            .hr-lines-wrapper {
                display: flex;
                margin-top: 50px;
                margin-bottom: 50px;
                div {
                    height: 4px;
                    margin-right: 3px;
                    &.hr-line-black {
                        width: 50px;
                        background-color: var(--color-content);
                    }
                    &.hr-line-red {
                        width: 150px;
                        background-color: var(--color-red-thick);
                    }
                }
            }
        }
    }
}

