$colorGrey: #808080;
$colorRed: #f26d7e;
$colorRedHover: #ff6a8f;
$colorLightGrey: #c8cabc;
$colorContent: #737661;
$colorGreen: #1fcd98;
$colorGreenHover: #1eb785;
$colorLightGreen: #f6fffc;
$colorYellow: #feba19;
$colorDarkBlue: #a4c1e3;
$colorBlueColor: #a4c1e3;