/* You can add global styles to this file, and also import other style files */

@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import "_variables.scss";

.ps .ps__scrollbar-y-rail {
    left: 3px;
    right: auto;
}
@font-face {
    font-family: Lato;
    src: url(./assets/fonts/lato/Lato-Regular.ttf) format("opentype");
}
@font-face {
    font-family: Lato-light;
    src: url(./assets/fonts/lato/Lato-Light.ttf) format("opentype");
}
@font-face {
    font-family: Lato-bold;
    src: url(./assets/fonts/lato/Lato-bold.ttf) format("opentype");
}
@font-face {
    font-family: rajdhani-light;
    src: url(./assets/fonts/rajdhani/rajdhani-light.ttf);
}
@font-face {
    font-family: rajdhani-regular;
    src: url(./assets/fonts/rajdhani/rajdhani-regular.ttf);
}
@font-face {
    font-family: rajdhani-bold;
    src: url(./assets/fonts/rajdhani/rajdhani-bold.ttf);
}
html{
    font-family: Lato;
    body{
        font-family: Lato;
        .font-lato{
            font-family: Lato;
        }
        .font-lato-light{
            font-family: Lato-light;
        }
        .font-lato-bold{
            font-family: Lato-bold;
        }
        .font-rajdhani{
            font-family: rajdhani-regular;
        }
        .font-rajdhani-light{
            font-family: rajdhani-light;
        }
        .font-rajdhani-bold{
            font-family: rajdhani-bold;
        }
    }
}
.app-form-group.form-group{
    label.control-label, label.form-control-label{
        display: block;
        position: relative;
        padding: 7px 15px 0px 0px;
        font-weight: normal;
        font-size: 1rem;
        &.required:after {
            content: "*";
            position: absolute;
            top: 0px;
            right: 0px;
            color: $colorRed;
        }
        &.margin-bottom{
            margin-bottom: 10px;
        }
        &.margin-bottom-2{
            margin-bottom: 15px;
        }
    }
    input.form-control{
        padding-left: 0px;
        border: none;
        border-bottom: 1px solid $colorLightGrey;
        box-shadow: none;
        border-radius: 0px;
        font-size: 1rem;
        &::placeholder{
            color: $colorLightGrey;
        }
    }
    .alert.not-valid{
        padding: 5px;
        background-color: transparent;
        border: none;
    }
    .cover-image-wrapper{
        margin: 10px 0px;
        padding: 50px 20px;
        text-align: center;
        position: relative;
        border: 1px dashed $colorLightGrey;
        border-radius: 20px;
        color: $colorLightGrey;
        .img-wrapper{
            img{
                width: 80px;
                opacity: .3;
            }
        }
        input{
            position: absolute;
            display: block;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }
    }
}
.app-input.form-control {
    padding-left: 0px;
    border: none;
    border-bottom: 1px solid $colorLightGrey;
    box-shadow: none;
    border-radius: 0px;
    font-size: 1rem;
    &::placeholder{
        color: $colorLightGrey;
    }
    &:focus{
        border-color: $colorLightGrey;
        box-shadow: none;
        border-radius: 0px;
    }
}
.app-btn{
    background-color: $colorGreen;
    border: none;
    outline: none;
    color: white;
    display: block;
    min-width: 250px;
    margin: 0px auto;
    text-align: center;
    padding: 12px 5px;
    border-radius: 30px;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: normal;
    cursor: pointer;
    &:hover{
        background-color: $colorGreenHover;
    }
    &:focus{
        outline: none;
    }
    &.small{
        display: inline-block;
        width: auto;
        padding: 10px 30px;
        font-size: 1.3rem;
    }
}
.app-btn-for-child{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.app-arrow-icon-wrapper {
    $angle: 30deg;
    width: 22px;
    height: 48px;
    position: relative;
    display: block;

    opacity: .7;

    &:before, &:after{
        content: '';
        display: block;
        width: 40%;
        height: 50%;
        position: absolute;
        background-color: $colorLightGrey;
    }
    &:before{
        top: 0px;
    }
    &:after{
        bottom: 0px;
    }

    &.arrow-left{
        &:before{
            right: 0px;
            transform-origin: top right;
            -ms-transform: skew(-$angle, 0deg);
            -webkit-transform: skew(-$angle, 0deg);
            transform: skew(-$angle, 0deg);
        }
        &:after{
            right: 0px;
            transform-origin: bottom right;
            -ms-transform: skew($angle, 0deg);
            -webkit-transform: skew($angle, 0deg);
            transform: skew($angle, 0deg);
        }
    }
    &.arrow-right{
        &:before{
            left: 0px;
            transform-origin: top left;
            -ms-transform: skew($angle, 0deg);
            -webkit-transform: skew($angle, 0deg);
            transform: skew($angle, 0deg);
        }
        &:after{
            left: 0px;
            transform-origin: bottom left;
            -ms-transform: skew(-$angle, 0deg);
            -webkit-transform: skew(-$angle, 0deg);
            transform: skew(-$angle, 0deg);
        }
    }
    &:hover{
        opacity: 1;
    }
}
.min-width-0 {
    min-width: 0px;
}
.flex-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.table-settings-header{
    margin-bottom: 15px;
    .page-size-wrapper{
        span{
            vertical-align: middle;
        }
        select{
            width: 100px;
            margin: 0px 10px;
            padding: 4px 5px;
            vertical-align: middle;
        }
    }
    .search-wrapper{
        label{
            margin-bottom: 0px;
        }
        input{
            padding-bottom: 0px;
        }
    }
}
.app-table{
    .datatable-header{
        border-bottom-color: rgb(244, 245, 248) !important;
        .datatable-header-inner{
            .datatable-header-cell{
                border-right: 1px solid rgb(244, 245, 248) !important;
                padding: .7rem .5rem !important;
                font-size: .9rem !important;
                &:last-of-type{
                    border-right: none !important;
                }
            }
        }
    }
    .datatable-body{
        line-height: 0;
        .datatable-row-wrapper{
            .datatable-body-row{
                .datatable-body-cell{
                    display: inline-flex;
                    align-items: center;
                    border-top: 1px solid rgb(244, 245, 248) !important;
                    border-right: 1px solid rgb(244, 245, 248) !important;
                    padding: .5rem !important;
                    .datatable-body-cell-label{
                        width: 100%;
                        font-size: 1rem !important;
                        img, video{
                            width: 100%;
                            height: 50px;
                            object-fit: cover;
                        }
                        .row-action-item{
                            color: #7A7D67;
                            i{
                                font-size: 1.3rem;
                            }
                            &:hover{
                                color: #5D604B;
                            }
                        }
                    }
                    &:last-of-type{
                        border-right: none !important;
                    }
                }
            }
        }
    }
    .datatable-footer{
        font-size: 1rem !important;
    }
}
.btn, button{
    &:focus{
        box-shadow: none !important;
    }
}
.home-btn{
    background-color: var(--color-red-thick);
    color: white;
    overflow: hidden;
    position: relative;
    border: none !important;
    border-radius: 0px !important;
    transition: none;
    cursor: pointer;
    &:before{
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 7%;
        height: 100%;
        background-color: var(--color-content);
        transform-origin: bottom right;
        transform: rotate(-45deg);
    }
    &:hover{
        background-color: var(--color-red-thick-hover);
    }
}
ui-switch{
    .switch{
        box-sizing: content-box;
        &.checked{
            .switch-pane{
                overflow: hidden;
            }
        }
    }
}
.cdk-overlay-container{
    z-index: 1100 !important;
}