<div class="page-component">
    <header class="component-header text-center pt-5 pb-3">
        <h2 class="component-title mb-3">{{courseType.name}}</h2>
        <div class="find-title d-inline-block">
            <span class="most-txt-strong">MOST</span>&nbsp;<span
            class="font-lato-light">Find the right course for you</span>
            <div class="lines-wrapper mb-4">
                <div class="line"></div>
                <div class="line active"></div>
            </div>
        </div>
    </header>
    <div class="component-body course-search-wrapper">
        <header class="course-search-header">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item d-block d-md-none">
                    <button class="app-btn-for-child toggle-sidebar"
                            (click)="searchSidebarOpened = !searchSidebarOpened">
                        <svg fill="#828689" height="32" viewBox="0 0 32 32" width="32"
                             xmlns="http://www.w3.org/2000/svg">
                            <g _ngcontent-c3="">
                                <path _ngcontent-c3=""
                                      d="M 17,2C 8.716,2, 2,8.716, 2,17S 8.716,32, 17,32S 32,25.284, 32,17S 25.284,2, 17,2z M 25,24l-16,0 C 8.448,24, 8,23.552, 8,23C 8,22.448, 8.448,22, 9,22l 16,0 c 0.552,0, 1,0.448, 1,1C 26,23.552, 25.552,24, 25,24z M 25,18l-16,0 C 8.448,18, 8,17.552, 8,17C 8,16.448, 8.448,16, 9,16l 16,0 C 25.552,16, 26,16.448, 26,17C 26,17.552, 25.552,18, 25,18z M 25,12l-16,0 C 8.448,12, 8,11.552, 8,11C 8,10.448, 8.448,10, 9,10l 16,0 C 25.552,10, 26,10.448, 26,11C 26,11.552, 25.552,12, 25,12z"></path>
                            </g>
                        </svg>
                    </button>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/find-course/' + courseType.id + '/list/' + centerLocation"
                       routerLinkActive="active" role="tab" aria-controls="home" aria-selected="true"
                       (click)="tableRecalculate(); tab = 'list'">
                        <fa name="list-ul"></fa>
                        LIST VIEW
                    </a>
                </li>
                <li class="nav-item mr-auto">
                    <a class="nav-link" data-toggle="tab"
                       [routerLink]="'/find-course/' + courseType.id + '/map/' + centerLocation"
                       routerLinkActive="active" role="tab" aria-controls="profile" aria-selected="false"
                       (click)="tableRecalculate(); tab = 'map';">
                        <fa name="map"></fa>
                        MAP VIEW
                    </a>
                </li>
                <li class="nav-item">
                    <div
                        class="searched-size">{{(listCourses | tableSearch : keyword).length + ' Courses Available'}}</div>
                </li>
            </ul>
        </header>
        <div class="course-search-body">
            <div class="row d-block d-md-flex">
                <div class="col-auto sidebar-col" [ngClass]="{opened: searchSidebarOpened}">
                    <div class="course-search-sidebar d-flex flex-column h-100">
                        <div class="sidebar-filter-section mb-4">
                            <header class="font-lato-light">SEARCH BY</header>
                            <div class="form-group">
                                <label class="form-control-label">CHANGE MAP CENTER POINT</label>
                                <input type="text" class="form-control" name="center_location"
                                       placeholder="Enter Location" [(ngModel)]="centerLocation"
                                       (keyup)="$event.key === 'Enter' && refreshCenter()"/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Select Radius</label>
                                <select name="radius" class="form-control" [(ngModel)]="radius"
                                        (ngModelChange)="selectedLocation = false; applyFilter();">
                                    <option value="10">10 mile</option>
                                    <option value="25">25 mile</option>
                                    <option value="50">50 mile</option>
                                    <option value="75">75 mile</option>
                                    <option value="100">100 mile</option>
                                    <option value="150">150 mile</option>
                                </select>
                            </div>
                        </div>
                        <div class="sidebar-filter-section flex-grow-1">
                            <header class="font-lato-light">REFINE SEARCH</header>
                            <div class="form-group">
                                <label class="form-control-label">FILTER BY KEYWORD</label>
                                <input type="text" class="form-control" placeholder="Enter Keyword" name="keyword"
                                       [(ngModel)]="keyword"
                                       (ngModelChange)="applyFilter()"/>
                            </div>
                            <div class="line"></div>
                            <div class="form-group">
                                <label class="form-control-label">FILTER BY DAYS</label>
                                <div class="list-day">
                                    <div class="day-item" *ngFor="let dayItem of days"
                                         [ngClass]="{selected: dayItem.selected}"
                                         (click)="dayItem.selected = !dayItem.selected; applyDayFilter();">
                                        {{dayItem.name}}
                                    </div>
                                </div>
                            </div>
                            <div class="line"></div>
                        </div>
                    </div>
                    <div class="search-sidebar-back-drop" (click)="searchSidebarOpened = false;"></div>
                </div>
                <div class="col min-width-0">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" *ngIf="tab==='map'" id="map-view" role="tabpanel">
                            <div class="search-result-map-view">
                                <agm-map [latitude]="lat" [longitude]="lng" style="height: 700px;">
                                    <agm-circle [latitude]="lat" [longitude]="lng"
                                                [radius]="appHelper.mileToMeter(radius)"
                                                [fillColor]="'red'">
                                    </agm-circle>
                                    <agm-marker *ngFor="let course of mapCourses | tableSearch : keyword"
                                                [latitude]="course.geolocation_lat" [longitude]="course.geolocation_lng"
                                                [opacity]="course.mapOpacity">
                                        <agm-info-window>
                                            <div class="map-address text-center mb-1">
                                                <img [src]="course.provider.image" alt="" style="width: 100px">
                                            </div>
                                            <div class="map-address mb-1">{{course.provider.name}}</div>
                                            <div class="map-address mb-1">{{course.address}}</div>
                                            <div class="map-address mb-1">{{course.provider.phone}}</div>
                                            <a href="javascript:;"
                                               (click)="keyword = course.address; selectedLocation=course.address; applyLocationFilter(); scrollToMapTable();">view
                                                courses at this location</a>
                                        </agm-info-window>
                                    </agm-marker>
                                    <agm-marker *ngFor="let provider of mapProviders | tableSearch : keyword"
                                                [latitude]="provider.geolocation_lat"
                                                [longitude]="provider.geolocation_lng" [opacity]="provider.mapOpacity">
                                        <agm-info-window>
                                            <div class="map-address text-center mb-1">
                                                <img [src]="provider.image" alt="" style="width: 100px">
                                            </div>
                                            <div class="map-address mb-1">{{provider.name}}</div>
                                            <div class="map-address mb-1">{{provider.address}}</div>
                                            <div class="map-address mb-1">{{provider.phone}}</div>
                                            <a href="javascript:;"
                                               (click)="keyword = provider.address; selectedLocation = provider.address; applyLocationFilter(); scrollToMapTable();">view
                                                courses at this location</a>
                                        </agm-info-window>
                                    </agm-marker>
                                    <agm-marker [latitude]="lat" [longitude]="lng"
                                                iconUrl="./assets/images/icon/shopping-center.svg"></agm-marker>
                                </agm-map>
                                <div class="map-listing-wrapper mt-2" id="map-table-wrapper">
                                    <header>
                                        <div class="available-title font-light"><span
                                            class="font-lato-bold">AVAILABLE</span> Courses
                                        </div>
                                        <div class="hr-lines-wrapper">
                                            <div class="hr-line-black"></div>
                                            <div class="hr-line-red"></div>
                                        </div>
                                    </header>
                                    <div class="search-result-list-view d-none d-md-block">
                                        <ngx-datatable #mapTable [rows]="listCourses | tableSearch : keyword"
                                                       *ngIf="tab === 'map'"
                                                       [columns]="columns"
                                                       class='material app-table'
                                                       [limit]="table_page_size"
                                                       [columnMode]="'force'"
                                                       [headerHeight]="'auto'"
                                                       [footerHeight]="50"
                                                       [reorderable]="false"
                                                       [rowHeight]="'auto'">
                                        </ngx-datatable>
                                    </div>
                                    <div class="search-result-list-view-mobile d-block d-md-none">
                                        <header class="list-view-header mb-3">
                                            <div class="row align-items-center">
                                                <div class="col-auto">Sort By:</div>
                                                <div class="col-auto">
                                                    <div ngbDropdown class="mobile-sort-by-drop-down">
                                                        <button class="btn btn-outline-primary"
                                                                ngbDropdownToggle>{{mobileSortBy.name}}</button>
                                                        <div ngbDropdownMenu aria-labelledby="dropdownConfig">
                                                            <div class="sort-by-item pl-3 pr-3" ngbDropdownItem
                                                                 *ngFor="let item of mobileSortItems"
                                                                 (click)="setSortBy(item)">
                                                                <span class="item-name">{{item.name}}</span>&nbsp;
                                                                <fa name="chevron-up"
                                                                    *ngIf="mobileSortBy.prop == item.prop && !mobileSortByDir"></fa>
                                                                <fa name="chevron-down"
                                                                    *ngIf="mobileSortBy.prop == item.prop && mobileSortByDir"></fa>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </header>
                                        <div class="list-view-body">
                                            <div class="list-item"
                                                 *ngFor="let course of listCourses | tableSearch : keyword | arraySort : mobileSortBy.prop : mobileSortByDir"
                                                 [ngClass]="{opened: course.opened}"
                                                 (click)="course.opened = !course.opened">
                                                <div class="row align-items-center">
                                                    <div class="col-6">
                                                        <div class="field-value">{{course.provider_name}}</div>
                                                    </div>
                                                    <div class="col-5">
                                                        <div class="field-value">
                                                            <div>{{course.origin.dateRangeDisplay}}</div>
                                                            <div>{{course.origin.dayRangeDisplay}}</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-1">
                                                        <div class="field-value">
                                                            <fa name="angle-right" [hidden]="course.opened"></fa>
                                                            <fa name="angle-down" [hidden]="!course.opened"></fa>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item-detail" [hidden]="!course.opened">
                                                    <div class="field-value">{{course.costDisplay}}</div>
                                                    <div class="field-value">
                                                        <div>{{course.provider.address}}</div>
                                                        <div>{{course.origin.classLocation}}</div>
                                                    </div>
                                                    <div class="field-value">{{course.distance + ' mi'}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show active" *ngIf="tab === 'list'" id="list-view" role="tabpanel">
                            <div class="search-result-list-view d-none d-md-block">
                                <div class="table-settings-header">
                                    <div class="row align-items-center">
                                        <div class="col-auto mr-auto">
                                            <div class="page-size-wrapper">
                                                <span>Show</span>
                                                <select name="table_page_size" [(ngModel)]="table_page_size"
                                                        (ngModelChange)="refreshTable()">
                                                    <option [value]="10">10</option>
                                                    <option [value]="15">15</option>
                                                    <option [value]="20">20</option>
                                                    <option [value]="25">25</option>
                                                </select>
                                                <span>entries</span>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="search-wrapper d-flex align-items-end">
                                                <label for="" class="mr-2">Search:</label>
                                                <input type="text" class="app-input form-control" name="search_q"
                                                       [(ngModel)]="keyword" (ngModelChange)="refreshTable()"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ngx-datatable #listTable [rows]="listCourses | tableSearch : keyword"
                                               [columns]="columns"
                                               class='material app-table'
                                               [limit]="table_page_size"
                                               [columnMode]="'force'"
                                               [headerHeight]="'auto'"
                                               [footerHeight]="50"
                                               [rowHeight]="'auto'">
                                </ngx-datatable>
                            </div>
                            <div class="search-result-list-view-mobile d-block d-md-none">
                                <header class="list-view-header mb-3">
                                    <div class="row align-items-center">
                                        <div class="col-auto">Sort By:</div>
                                        <div class="col-auto">
                                            <div ngbDropdown class="mobile-sort-by-drop-down">
                                                <button class="btn btn-outline-primary" id="dropdownConfig"
                                                        ngbDropdownToggle>{{mobileSortBy.name}}</button>
                                                <div ngbDropdownMenu aria-labelledby="dropdownConfig">
                                                    <div class="sort-by-item pl-3 pr-3" ngbDropdownItem
                                                         *ngFor="let item of mobileSortItems" (click)="setSortBy(item)">
                                                        <span class="item-name">{{item.name}}</span>&nbsp;
                                                        <fa name="chevron-up"
                                                            *ngIf="mobileSortBy.prop == item.prop && !mobileSortByDir"></fa>
                                                        <fa name="chevron-down"
                                                            *ngIf="mobileSortBy.prop == item.prop && mobileSortByDir"></fa>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </header>
                                <div class="list-view-body">
                                    <div class="list-item"
                                         *ngFor="let course of listCourses | tableSearch : keyword | arraySort : mobileSortBy.prop : mobileSortByDir"
                                         [ngClass]="{opened: course.opened}" (click)="course.opened = !course.opened">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <div class="field-value">{{course.provider_name}}</div>
                                            </div>
                                            <div class="col-5">
                                                <div class="field-value">
                                                    <div>{{course.origin.dateRangeDisplay}}</div>
                                                    <div>{{course.origin.dayRangeDisplay}}</div>
                                                </div>
                                            </div>
                                            <div class="col-1">
                                                <div class="field-value">
                                                    <fa name="angle-right" [hidden]="course.opened"></fa>
                                                    <fa name="angle-down" [hidden]="!course.opened"></fa>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-detail" [hidden]="!course.opened">
                                            <div class="field-value">{{course.costDisplay}}</div>
                                            <div class="field-value">
                                                <div>{{course.provider.address}}</div>
                                                <div>{{course.origin.classLocation}}</div>
                                            </div>
                                            <div class="field-value">{{course.distance + ' mi'}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #txtCellTemplate let-column="column" let-value="value" let-row="row">
    {{value}}
</ng-template>
<ng-template #dateCellTemplate let-column="column" let-value="value" let-row="row">
    <div *ngIf="row.origin.dateRangeDisplay">{{row.origin.dateRangeDisplay}}</div>
    <div *ngIf="row.origin.dayRangeDisplay">{{row.origin.dayRangeDisplay}}</div>
    <div *ngIf="!row.origin.dayRangeDisplay && !row.origin.dateRangeDisplay">{{row.start_at}}</div>
</ng-template>
<ng-template #locationCellTemplate let-column="column" let-value="value" let-row="row">
    <div>{{row.address}}</div>
    <div>{{row.city + ', ' + row.state}}</div>
</ng-template>
<ng-template #actionCellTemplate let-row="row" let-rowIndex="rowIndex">
    <a (click)="studentRegister(row)" href="javascript:;">Register</a>
</ng-template>
