.page-component{
    .component-header{
        background-color: #f4f4f4;
        .component-title{
            font-size: 50px;
        }
        .find-title{
            font-size: 40px;
        }
        .lines-wrapper{
            display: flex;
            justify-content: left;
            .line{
                width: 50px;
                height: 4px;
                margin-right: 3px;
                background-color: var(--color-content);
                &.active{
                    background-color: var(--color-red-thick);
                }

            }
        }
    }
    .course-search-wrapper{
        padding: 30px 15px;
        .course-search-header{
            padding-bottom: 25px;
            .nav.nav-tabs{
                .nav-item{
                    .nav-link{
                        padding: 5px 15px;
                        color: inherit;
                        &.active{
                            background-color: #828689;
                            color: white;
                        }
                    }
                    .searched-size{
                        padding: 5px 15px;
                        font-size: 1.1rem;
                        color: var(--color-red-thick);
                    }
                    .toggle-sidebar{
                        &:focus{
                            outline: none;
                        }
                    }
                }
            }
        }
        .course-search-body{
            position: relative;
            //overflow: hidden;
            .course-search-sidebar{
                width: 300px;
                min-height: 500px;
                max-height: 700px;
                background: white;
                position: sticky;
                top: 0px;
                z-index: 2;
                .sidebar-filter-section{
                    background-color: #eeeeee;
                    > header{
                        padding: 10px 24px;
                        background-color: #828689;
                        color: white;
                        font-size: 1.1rem;
                    }
                    .form-group{
                        padding: 12px;
                        margin-bottom: 0px;
                        .form-control-label{
                            font-size: 1.1rem;
                        }
                        .form-control{
                            border-radius: 0px;
                            font-size: 1.1rem;
                            &:focus{
                                box-shadow: none;
                            }
                            &::placeholder{
                                color: #cccccc;
                                font-style: italic;
                            }
                        }
                    }
                    .line{
                        height: 1px;
                        background-color: white;
                    }
                    .list-day{
                        display: flex;
                        flex-wrap: wrap;
                        .day-item{
                            margin: 3px;
                            padding: 3px 7px;
                            border: 1px solid var(--color-grey-light);
                            border-radius: 2px;
                            cursor: pointer;
                            &.selected, &:hover{
                                background-color: #828689;
                                color: white;
                            }
                            &:first-child{
                                margin-left: 0px;
                            }
                            &:last-child{
                                margin-right: 0px;
                            }
                        }
                    }
                }
            }
            .search-result-list-view{
                width: 1500px;
                max-width: 100%;
                margin: 25px auto;
                > header{
                    margin-bottom: 30px;
                    padding: 25px 0px;
                    background-color: #666666;
                    color: white;
                    text-align: center;
                    border-radius: 2px;
                    .field-name{

                    }
                }
                .course-list{
                    text-align: center;
                    .course-item{
                        margin-bottom: 30px;
                        padding: 30px 0px;
                        border-radius: 2px;
                        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .05);
                    }
                    .show-more{
                        cursor: pointer;
                        svg{
                            vertical-align: middle;
                            g, path{
                                fill: currentColor;
                            }
                        }
                        span{
                            vertical-align: middle;
                        }
                        &:hover{
                            color: black;
                        }
                    }
                }
            }
            .search-result-map-view{
                .map-listing-wrapper{
                    > header{
                        margin-top: 30px;
                        margin-bottom: 15px;
                        .available-title{
                            font-size: 35px;
                        }
                        .hr-lines-wrapper {
                            display: flex;
                            div {
                                height: 4px;
                                margin-right: 3px;
                                &.hr-line-black {
                                    width: 50px;
                                    background-color: var(--color-content);
                                }
                                &.hr-line-red {
                                    width: 50px;
                                    background-color: var(--color-red-thick);
                                }
                            }
                        }
                    }
                    .search-result-list-view{
                        width: 100%;
                        margin: 20px auto;
                    }
                }
            }
            .sidebar-col{
                transition: left .3s ease-out;
                .search-sidebar-back-drop {
                    display: none;
                    position: fixed;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, .1);
                    z-index: 1;
                }
                @media all and (max-width: 768px){
                    position: absolute;
                    top: 0px;
                    left: -315px;
                    width: 300px;
                    z-index: 100;
                    padding: 0px;
                    &.opened {
                        left: 0px;
                        box-shadow: 10px 10px 50px 20px rgba(0, 0, 0, .1);
                        .search-sidebar-back-drop{
                            display: block;
                        }
                    }
                }
            }
            .search-result-list-view-mobile {
                .list-view-header {
                    .field-name {
                        font-family: Lato-bold;
                    }
                    .mobile-sort-by-drop-down{
                        button.btn.btn-outline-primary{
                            padding-top: 5px;
                            padding-bottom: 5px;
                        }
                    }
                }
                .list-view-body {
                    .list-item {
                        margin-bottom: 15px;
                        padding: 5px 15px;
                        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, .05);
                        .item-detail{
                            .field-value{

                            }
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width: 768px) {
        .component-header{
            .component-title{
                font-size: 35px;
            }
            .find-title{
                font-size: 23px;
            }
            .lines-wrapper{
                .line{
                    //display: none;
                    width: 40px;
                    height: 2px;
                    margin-right: 3px;
                }
            }
        }
    }
}