<div class="page-component">
    <header class="page-header pt-3 pb-3 text-center">
        <div class="title font-lato-light"><span class="font-lato">BECOME</span> AN INSTRUCTOR</div>
    </header>
    <section class="page-content-wrapper">
        <p><font size="4" style="font-size: 16pt">Becoming a MOST Instructor</font></p>
        <p style="margin-bottom: 0.11in; line-height: 108%"><b>If you are NOT
            a Motorcycle Instructor YET:</b></p>
        <p style="margin-bottom: 0.11in; line-height: 108%">Please reach out
            to <font color="#0000ff"><u><a href="mailto:cspmost@state.co.us">cspmost@state.co.us</a></u></font>
            with the subject line: <b>New MOST Coach</b></p>
        <p style="margin-bottom: 0.11in; line-height: 108%">and provide the
            following information:</p>
        <ul>
            <li>
                <p style="margin-bottom: 0.14in"><font face="Calibri, serif">Name</font></p>
            </li>
            <li>
                <p style="margin-bottom: 0.14in"><font face="Calibri, serif">City
                    you reside</font></p>
            </li>
            <li>
                <p style="margin-bottom: 0.14in"><font face="Calibri, serif">Contact
                    phone number </font>
                </p>
            </li>
            <li>
                <p style="margin-bottom: 0.14in"><font face="Calibri, serif">Contact
                    email address</font></p>
            </li>
            <li>
                <p style="margin-bottom: 0.14in"><font face="Calibri, serif">Do
                    you already have a vendor that you will be working with? </font>
                </p>
                <ul>
                    <li>
                        <p style="margin-bottom: 0.14in"><font face="Calibri, serif">If
                            so please provide the name of the vendor.</font></p>
                    </li>
                </ul>
            </li>
        </ul>
        <p style="margin-bottom: 0.11in; line-height: 108%">Once we receive
            your request you will be contacted by the MOST office with the
            following:</p>
        <ul>
            <li>
                <p style="margin-bottom: 0.14in"><font face="Calibri, serif">If
                    you do not have a vendor lined up yet to teach at, we will provide
                    you a list of local vendors you can speak with in order to get
                    sponsored</font></p>
            </li>
            <li>
                <p style="margin-bottom: 0.14in"><font face="Calibri, serif">List
                    of upcoming coach/instructor courses</font></p>
            </li>
            <li>
                <p style="margin-bottom: 0.14in"><font face="Calibri, serif">An
                    overview of the course pertaining to times and length of school</font></p>
            </li>
            <li>
                <p style="margin-bottom: 0.14in"><font face="Calibri, serif">General
                    guidelines of the next steps and list of mentoring requirements
                    prior to the start of the course</font></p>
            </li>
        </ul>
        <p style="margin-bottom: 0.11in; line-height: 108%"> THEN</p>
        <p style="margin-bottom: 0.11in; line-height: 108%"><b>Once you have
            received your Motorcycle Coaches/Instructor Certification then you
            can apply to become a NEW MOST Instructor:</b></p>
        <p style="margin-bottom: 0.11in; line-height: 108%"><b>MOST PROGRAM
            INSTRUCTOR CERTIFICATION REQUIREMENTS.</b> A person must first be
            certified as a MOST Program Instructor by the CSP prior to
            instructing any MOST Courses. Certifications will be effective for a
            period of no longer than one (1) year and expiring February 28/29th.
            To obtain MOST Program Instructor Certification from the CSP, a
            person must:</p>
        <ul>
            <li>
                <p style="margin-bottom: 0.14in"><font face="Calibri, serif"><font face="Calibri, serif">Complete
                </font>a <font color="#2e74b5"><u>MOST Instructor Application</u></font>;</font></p>
            </li>
            <li>
                <p style="margin-bottom: 0.14in"><font face="Calibri, serif">Be
                    at least 21 years old;</font></p>
            </li>
            <li>
                <p style="margin-bottom: 0.14in"><font face="Calibri, serif"><font face="Calibri, serif">Submit
                    proof of successful completion of a MOST Program Instructor Training
                    Course approved by the CSP;</font></font></p>
            </li>
            <li>
                <p style="margin-bottom: 0.14in"><font face="Calibri, serif"><font face="Calibri, serif">Possess
                    a valid driver license issued by the state of Colorado having a
                    Motorcycle endorsement. </font></font>
                </p>
            </li>
            <li>
                <p style="margin-bottom: 0.14in"><font face="Calibri, serif"><font face="Calibri, serif">Submit
                    a completed CDOR Form DR2559, </font><font color="#2e74b5"><font face="Calibri, serif"><u>“Permission
                    for Release of Individual Records,”</u></font></font><font color="#2e74b5"><font
                    face="Calibri, serif">
                </font></font><font face="Calibri, serif">to the MOST Program Office
                    that evidences an acceptable driving record or an MVR for the three
                    (3) year period prior to the application submission date. A driving
                    record will not be found acceptable and an applicant will be
                    determined ineligible:</font></font></p>
                <ul>
                    <li>
                        <p style="margin-bottom: 0.14in"><font face="Calibri, serif"><font face="Calibri, serif">If,
                            within the three (3) years prior to the date of the application
                            submission, the license issued to the applicant by the state of
                            Colorado has been revoked or suspended;</font></font></p>
                    </li>
                    <li>
                        <p style="margin-bottom: 0.14in"><font face="Calibri, serif"><font face="Calibri, serif">If,
                            within the three (3) years prior to the date of application
                            submission, an applicant has been convicted for an offense assigned
                            eight (8) or more points; or</font></font></p>
                    </li>
                    <li>
                        <p style="margin-bottom: 0.14in"><font face="Calibri, serif"><font face="Calibri, serif">If,
                            within the three (3) years prior to the date of the application
                            submission, a driver’s license issued to the applicant from any
                            other state has been revoked or suspended.</font></font></p>
                    </li>
                </ul>
            </li>
            <li>
                <p style="margin-bottom: 0.14in"><font face="Calibri, serif">Submit
                    a current CPR card/certification</font></p>
            </li>
            <li>
                <p style="margin-bottom: 0.14in"><font face="Calibri, serif">Submit
                    all paperwork via email to: <a
                        href="mailto:cspmost@state.co.us?subject=MOST%20Website%20-%20instructor%20application%20submission"><font
                        color="#0062a0"><u>cspmost@state.co.us</u></font></a></font></p>
            </li>
        </ul>
        <p style="margin-bottom: 0.11in; line-height: 108%"><br><br></p>
        <p style="margin-bottom: 0.11in; line-height: 108%"><u>To </u><u><b>RENEW</b></u><u>
            your MOST instructor status:</u></p>
        <p style="margin-bottom: 0.11in; line-height: 108%">D<b>uring the
            renewal season (January 1 - 31)</b> 
        </p>
        <p style="margin-bottom: 0.11in; line-height: 108%">To RENEW your
            MOST Program Instructor Certification from the CSP, a person must:</p>
        <ul>
            <li>
                <p style="margin-bottom: 0.14in"><font face="Calibri, serif"><font face="Calibri, serif">Complete
                </font>a <font color="#2e74b5"><u>MOST Instructor Application</u></font>;</font></p>
            </li>
            <li>
                <p style="margin-bottom: 0.14in"><font face="Calibri, serif"><font face="Calibri, serif">Submit
                    a non-expired Coach/Instructor card from your current curriculum
                    provider;</font></font></p>
            </li>
            <li>
                <p style="margin-bottom: 0.14in"><font face="Calibri, serif"><font face="Calibri, serif">Possess
                    a valid driver license issued by the state of Colorado having a
                    Motorcycle endorsement. </font></font>
                </p>
            </li>
            <li>
                <p style="margin-bottom: 0.14in"><font face="Calibri, serif"><font face="Calibri, serif">Submit
                    a completed CDOR Form DR2559, </font><font color="#2e74b5"><font face="Calibri, serif"><u>“Permission
                    for Release of Individual Records,”</u></font></font><font color="#2e74b5"><font
                    face="Calibri, serif">
                </font></font><font face="Calibri, serif">to the MOST Program Office
                    that evidences an acceptable driving record or an MVR for the three
                    (3) year period prior to the application submission date. A driving
                    record will not be found acceptable and an applicant will be
                    determined ineligible:</font></font></p>
                <ul>
                    <li>
                        <p style="margin-bottom: 0.14in"><font face="Calibri, serif"><font face="Calibri, serif">If,
                            within the three (3) years prior to the date of the application
                            submission, the license issued to the applicant by the state of
                            Colorado has been revoked or suspended;</font></font></p>
                    </li>
                    <li>
                        <p style="margin-bottom: 0.14in"><font face="Calibri, serif"><font face="Calibri, serif">If,
                            within the three (3) years prior to the date of application
                            submission, an applicant has been convicted for an offense assigned
                            eight (8) or more points; or</font></font></p>
                    </li>
                    <li>
                        <p style="margin-bottom: 0.14in"><font face="Calibri, serif"><font face="Calibri, serif">If,
                            within the three (3) years prior to the date of the application
                            submission, a driver’s license issued to the applicant from any
                            other state has been revoked or suspended.</font></font></p>
                    </li>
                </ul>
            </li>
            <li>
                <p style="margin-bottom: 0.14in"><font face="Calibri, serif">Submit
                    a current CPR card/certification</font></p>
            </li>
            <li>
                <p style="margin-bottom: 0.14in"><font face="Calibri, serif">Submit
                    all paperwork via email to: <a
                        href="mailto:cspmost@state.co.us?subject=MOST%20Website%20-%20instructor%20application%20submission"><font
                        color="#0062a0"><u>cspmost@state.co.us</u></font></a></font></p>
            </li>
            <li>
                <p style="margin-bottom: 0.14in"></p>
            </li>
        </ul>
        <p style="margin-bottom: 0.11in; line-height: 108%"><br><br></p>
        <p style="margin-bottom: 0.11in; line-height: 108%"><u>To </u><u><b>RENEW</b></u><u>
            your MOST instructor status:</u></p>
        <p style="margin-bottom: 0.11in; line-height: 108%"><b>OUTSIDE of
            the renewal season</b> <b>(Feb 1 -28/29)</b>
        </p>
        <p style="margin-bottom: 0.11in; line-height: 108%">To RENEW your
            MOST Program Instructor Certification from the CSP, a person must:</p>
        <ul>
            <li>
                <p style="margin-bottom: 0.14in"><font face="Calibri, serif"><font face="Calibri, serif">Complete
                </font>a <font color="#2e74b5"><u>MOST Instructor Application</u></font>;</font></p>
            </li>
            <li>
                <p style="margin-bottom: 0.14in"><font face="Calibri, serif"><font face="Calibri, serif">Submit
                    a non-expired Coach/Instructor card from your current curriculum
                    provider;</font></font></p>
            </li>
            <li>
                <p style="margin-bottom: 0.14in"><font face="Calibri, serif"><font face="Calibri, serif">Possess
                    a valid driver license issued by the state of Colorado having a
                    Motorcycle endorsement. </font></font>
                </p>
            </li>
            <li>
                <p style="margin-bottom: 0.14in"><font face="Calibri, serif">Purchase
                    your current driver record <a
                        href="https://www.colorado.gov/pacific/dmv/purchase-motor-vehicle-record-mvr-letter-clearance"
                        target="_self"><font color="#0062a0"><u>here</u></font></a> and
                    submit with application <font face="Calibri, serif">to the MOST
                        Program Office that evidences an acceptable driving record or an MVR
                        for the three (3) year period prior to the application submission
                        date. A driving record will not be found acceptable and an
                        applicant will be determined ineligible:</font></font></p>
                <ul>
                    <li>
                        <p style="margin-bottom: 0.14in"><font face="Calibri, serif"><font face="Calibri, serif">If,
                            within the three (3) years prior to the date of the application
                            submission, the license issued to the applicant by the state of
                            Colorado has been revoked or suspended;</font></font></p>
                    </li>
                    <li>
                        <p style="margin-bottom: 0.14in"><font face="Calibri, serif"><font face="Calibri, serif">If,
                            within the three (3) years prior to the date of application
                            submission, an applicant has been convicted for an offense assigned
                            eight (8) or more points; or</font></font></p>
                    </li>
                    <li>
                        <p style="margin-bottom: 0.14in"><font face="Calibri, serif"><font face="Calibri, serif">If,
                            within the three (3) years prior to the date of the application
                            submission, a driver’s license issued to the applicant from any
                            other state has been revoked or suspended.</font></font></p>
                    </li>
                </ul>
            </li>
            <li>
                <p style="margin-bottom: 0.14in"><font face="Calibri, serif">Submit
                    a current CPR card/certification</font></p>
            </li>
            <li>
                <p style="margin-bottom: 0.14in"><font face="Calibri, serif">Submit
                    all paperwork via email to: <a
                        href="mailto:cspmost@state.co.us?subject=MOST%20Website%20-%20instructor%20application%20submission"><font
                        color="#0062a0"><u>cspmost@state.co.us</u></font></a></font></p>
            </li>
        </ul>
    </section>
    <section class="form-wrapper">
        <h3 class="already-instructor">
            <a routerLink="/auth/login">Already a Vendor/Instructor?</a>
        </h3>
        <h4 class="register-here-subtitle">Register here to begin using the online resources from CSP MOST</h4>
        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && rePassword.value === password.value && register()">
            <div *ngIf="f.submitted && registerError" class="not-valid alert alert-danger">{{registerError}}</div>
            <div *ngIf="f.submitted && registerSuccess" class="alert alert-success">{{registerSuccess}}</div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="app-form-group form-group">
                        <label for="" class="control-label">Full Name:</label>
                        <input type="text" class="form-control" #title="ngModel" name="name" [(ngModel)]="sets.name"
                               placeholder="type your name" required/>
                        <div *ngIf="f.submitted && !title.valid" class="not-valid alert alert-danger">Name is
                            required
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="app-form-group form-group">
                        <label for="" class="control-label">Email address:</label>
                        <input type="email" class="form-control" name="email" #email="ngModel"
                               [(ngModel)]="sets.email"
                               placeholder="type your email" required/>
                        <div *ngIf="f.submitted && !email.valid" class="not-valid alert alert-danger">Email is
                            required
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="app-form-group form-group">
                        <label for="" class="control-label">Company:</label>
                        <input type="text" class="form-control" name="company" [(ngModel)]="sets.company"
                               placeholder="type your company"/>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="app-form-group form-group">
                        <label for="" class="control-label">Phone Number:</label>
                        <input type="text" class="form-control" name="phone" [(ngModel)]="sets.phone"
                               placeholder="type your phone number"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="app-form-group form-group">
                        <label for="" class="control-label">Vendor / Instructor:</label>
                        <select class="form-control" name="role" [(ngModel)]="sets.level">
                            <option *ngFor="let level of vendorInstructorLevels"
                                    [value]="level.id">{{level.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="app-form-group form-group">
                        <label for="" class="control-label">Password:</label>
                        <input type="password" class="form-control" name="password" #password="ngModel"
                               [(ngModel)]="sets.password" placeholder="type your password" required/>
                        <div *ngIf="f.submitted && !password.valid" class="not-valid alert alert-danger">Password is
                            required
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="app-form-group form-group">
                        <label for="" class="control-label">Confirm Password:</label>
                        <input type="password" class="form-control" name="re_password" #rePassword="ngModel"
                               [(ngModel)]="confirmPassword" placeholder="repeat your password" required/>
                        <div *ngIf="f.submitted && rePassword.value !== password.value"
                             class="not-valid alert alert-danger">Password Not Matched
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-wrap">
                <button type="submit" class="register-btn home-btn font-lato">Sign Up</button>
            </div>
        </form>
    </section>

    <section class="signup-component-wrap">
        <app-signup-for-newsletter></app-signup-for-newsletter>
    </section>
</div>
