.page-component{
    .page-header {
        background-color: #F4F4F4;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        .title {
            font-size: 40px;
        }
    }
    .page-content-wrapper{
        width: 1300px;
        max-width: 100%;
        margin: 0px auto;
        padding: 50px 20px 20px 20px;
        text-align: left;
        .lines-wrapper {
            display: flex;
            justify-content: center;
            .line {
                width: 50px;
                height: 4px;
                margin-right: 3px;
                background-color: var(--color-content);
                &.active {
                    background-color: var(--color-red-thick);
                }

            }
        }
        .content {
            font-style: italic;
        }
    }
    .form-wrapper{
        width: 1300px;
        max-width: 100%;
        margin: 0px auto;
        padding: 50px 20px 20px 20px;
        .already-instructor{
            a {

            }
        }
        .register-here-subtitle{

        }
        form {
            .register-btn{
                padding: 10px 40px;
            }
        }
    }
    .signup-component-wrap{
        width: 1300px;
        max-width: 100%;
        margin: 0px auto;
        padding: 50px 0px 20px;
    }
}

