<section class="home-section section-hero">
    <div class="hero-slide-wrapper">
        <ngx-slick-carousel class="carousel"
                            #slickModal="slick-carousel"
                            [config]="heroSlideConfig">
            <div *ngFor="let feature of featuredPosts" ngxSlickItem class="slide">
                <div class="slide-content">
                    <div class="slide-content-inner">
                        <h3 class="get-your-txt">{{feature.title}}</h3>
                        <div class="line-wrapper mb-5">
                            <div class="line active"></div>
                            <div class="line"></div>
                        </div>
                        <a href="javascript:;" class="btn home-btn" (click)="viewPost(feature)">{{feature.type == 'text' ? 'Learn more' : 'WATCH VIDEO'}}</a>
                    </div>
                </div>
                <img [src]="feature.image" class="slide-background" alt="" />
            </div>
        </ngx-slick-carousel>
    </div>
    <a href="javascript:;" class="flex-center slick-action action-prev" (click)="slickModal.slickPrev()">
        <svg width="20" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g><path d="M 12.3,17.71l 6.486,6.486c 0.39,0.39, 1.024,0.39, 1.414,0c 0.39-0.39, 0.39-1.024,0-1.414L 14.418,17 L 20.2,11.218c 0.39-0.39, 0.39-1.024,0-1.414c-0.39-0.39-1.024-0.39-1.414,0L 12.3,16.29C 12.104,16.486, 12.008,16.742, 12.008,17 C 12.008,17.258, 12.104,17.514, 12.3,17.71z"></path></g></svg>
    </a>
    <a href="javascript:;" class="flex-center slick-action action-next" (click)="slickModal.slickNext()">
        <svg width="20" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g><path d="M 13.8,24.196c 0.39,0.39, 1.024,0.39, 1.414,0l 6.486-6.486c 0.196-0.196, 0.294-0.454, 0.292-0.71 c0-0.258-0.096-0.514-0.292-0.71L 15.214,9.804c-0.39-0.39-1.024-0.39-1.414,0c-0.39,0.39-0.39,1.024,0,1.414L 19.582,17 L 13.8,22.782C 13.41,23.172, 13.41,23.806, 13.8,24.196z"></path></g></svg>
    </a>
</section>
<section class="home-section section-most-courses">
    <div class="public-section-inner">
        <header class="section-header mb-4">
            <div class="row mb-4">
                <div class="col-auto mr-auto">
                    <div class="section-title"><span class="most-txt-strong">MOST</span><span class="font-lato-light">Courses</span></div>
                </div>
            </div>
            <div class="lines-wrapper">
                <div class="line"></div>
                <div class="line active"></div>
            </div>
        </header>
        <div class="your-best-txt font-lato-light mb-5">
            Your best option for getting a motorcycle endorsement is through MOST. Riders who pass a MOST class can simply take their completion card to a state driver's license office to get an endorsement with no further testing needed.
        </div>
        <div class="courses-list">
            <div class="row">
                <div *ngFor="let courseType of courseTypes | slice : 0 : 3" class="col-12 col-md">
                    <a class="course-item" href="javascript:;" (click)="findCourse(courseType.id);" target="_self">
                        <div class="item-img-wrapper">
                            <img [src]="courseType.image" alt="" />
                        </div>
                        <div class="item-content">
                            <div class="item-title font-lato-bold">{{courseType.name}}</div>
                            <div class="item-description" [innerHTML]="courseType.small_description"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="home-section section-about-most">
    <div class="public-section-inner">
        <div class="section-title mb-4">
            <span>ABOUT</span>&nbsp;&nbsp;<span class="most-txt-strong">MOST</span>
        </div>
        <div class="lines-wrapper mb-4">
            <div class="line"></div>
            <div class="line active"></div>
        </div>
        <div class="section-description font-lato-light mb-5">
            For every rider, both new and experienced, the best way to enjoy the ride is to get trained. Training helps you ride safely, ride further and stay alive.  Sign up for a class today to learn how you can ride safely.
        </div>
        <div class="row mb-5">
            <div class="col-12 col-md-6">
                <img class="grid-item-img mb-3" src="./assets/images/page-home/about-most-sample.png" />
                <div class="grid-item-content flex-center">
                    <div class="item-content-inner">
                        <div class="item-title mb-4">
                            <span class="font-lato-bold">TEACH</span>&nbsp;&nbsp;<span class="font-lato-light">Motorcycle Safety</span>
                        </div>
                        <div class="item-description mb-4">Want to become a MOST instructor?
                            Follow these steps to apply today.</div>
                        <div class="item-btn-wrapper">
                            <a [routerLink]="['/become-instructor']" target="_self" class="item-btn btn app-btn-for-child font-lato-bold">GET STARTED</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="grid-item-content flex-center mb-3">
                    <div class="item-content-inner">
                        <div class="item-title mb-4">
                            <span class="font-lato-light">GETTING</span>&nbsp;&nbsp;<span class="font-lato-bold">ENDORSED</span>
                        </div>
                        <div class="item-description mb-4">Take the first step toward riding by getting endorsed.
                            Find the MOST course that is near you and at a time
                            that works around your schedule.</div>
                        <div class="item-btn-wrapper">
                            <a href="javascript:;" (click)="findCourse()" target="_self" class="item-btn btn app-btn-for-child font-lato-bold">FIND A CLASS</a>
                        </div>
                    </div>
                </div>
                <img class="grid-item-img" src="./assets/images/page-home/about-most-sample-2.png" />
            </div>
        </div>
        <div class="show-more-wrapper">
            <a [routerLink]="['/list-post']" class="show-more-btn font-lato-bold">Read Our Blog</a>
        </div>
    </div>
</section>
<section class="home-section section-most-videos">
    <div class="row m-0 flex-wrap flex-md-nowrap">
        <div class="col p-0 lef-col">
            <div class="section-left flex-center">
                <div class="left-inner">
                    <div class="section-title mb-4">
                        <span class="most-txt-strong">MOST</span>
                        <span class="font-lato-light">Videos</span>
                    </div>
                    <div class="line line-red mb-5"></div>
                    <div class="learn-about-txt mb-2 font-lato-light">Learn about MOST and see videos from our latest events.</div>
                    <div class="line line-white mb-5"></div>
                    <div class="view-all-wrapper pt-5">
                        <a routerLink="/list-video" class="view-all-link font-lato-bold btn">VIEW ALL</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col p-0 videos-col">
            <div class="section-videos-list">
                <div class="row m-0">
                    <div *ngFor="let post of videoPosts | slice : 0 : 4" class="col-12 col-md-6 p-0">
                        <div class="video-item">
                            <img class="item-img" [src]="post.image" alt="" />
                            <div class="item-content">
                                <div class="row align-items-center">
                                    <div class="col-auto pr-0">
                                        <a href="javascript:;" (click)="viewPost(post)" class="play-btn"></a>
                                    </div>
                                    <div class="col">
                                        <div class="item-title font-lato-bold">{{post.title}}</div>
                                        <div class="item-date">
                                            <svg width="16" height="16" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g><path d="M 31.882,5.624C 31.63,4.81, 30.898,4.208, 30,4.208l-2,0 l0,2 l0,1.104 c0,1.654-1.346,3-3,3S 22,8.966, 22,7.312 L 22,6.208 l0-2 L 9.99,4.208 l0,2 l0,1.104 c0,1.654-1.346,3-3,3c-1.654,0-3-1.346-3-3L 3.99,6.208 l0-2 L 2,4.208 c-0.898,0-1.63,0.602-1.882,1.416L0,5.624 l0,0.584 l0,6.23 L0,30 c0,1.104, 0.896,2, 2,2l 28,0 c 1.104,0, 2-0.896, 2-2L 32,12.438 L 32,6.208 L 32,5.624 L 31.882,5.624 z M 30,30L 2,30 L 2,14 l 28,0 L 30,30 zM 6.99,8.312c 0.552,0, 1-0.448, 1-1L 7.99,1 c0-0.552-0.448-1-1-1s-1,0.448-1,1l0,6.312 C 5.99,7.864, 6.438,8.312, 6.99,8.312zM 25,8.312c 0.552,0, 1-0.448, 1-1L 26,1 C 26,0.448, 25.552,0, 25,0S 24,0.448, 24,1l0,6.312 C 24,7.864, 24.448,8.312, 25,8.312z"></path></g></svg>
                                            <span>JUNE 18, 2018</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="home-section section-social">
    <div class="public-section-inner">
        <div class="row">
            <div class="col-12 col-lg-3 col-md-6">
                <div class="upcoming-events" id="upcoming-events">
                    <h3 class="social-title">
                        UPCOMING EVENTS
                    </h3>
                    <div class="event-list">
                        <a class="event-item d-block" *ngFor="let event of eventbriteEvents" [href]="event.url" target="_self">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h4 class="item-title">{{event.title}}</h4>
                                    <div class="item-des">{{event.eventDur}} day{{event.eventDur > 1 ? 's' : ''}} Event. Starting {{event.startTime | date : 'MMMM d, h a'}}</div>
                                </div>
                                <div class="col-auto">
                                    <div class="item-day flex-center">{{event.startTime | date : 'd'}}</div>
                                </div>
                            </div>
                            <div class="hove-content">
                                <div class="event-description">{{event.description.text}}</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-6">
                <div class="twitter-feed">
                    <h3 class="social-title">
                        TWITTER FEED
                    </h3>
                    <div class="social-des font-lato-light">
                      <a data-height="500" class="twitter-timeline" href="https://twitter.com/CSP_MOST?ref_src=twsrc%5Etfw">Tweets by CSP_MOST</a>
<!--                        <a class="tweet-item d-block mb-1" *ngFor="let tweet of twitterTweets" [href]="tweet.link" target="_self">-->
<!--                            {{tweet.text}}-->
<!--                        </a>-->
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-6">
                <div class="instagram-feed">
                    <h3 class="social-title">
                        INSTAGRAM FEED
                    </h3>
                    <div class="social-grid" #socialInstagramGrid [ngStyle]="{height: socialInstagramHeight}">
                        <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/96d5d323296c590dbf388089d0cedddc.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-6">
                <div class="facebook-feed">
                    <h3 class="social-title">FACEBOOK FEED</h3>
                    <div class="social-des font-lato-light" #socialFacebook>
                        <div *ngIf="facebookReady">
                            <iframe [src]="facebookEmbedUrl" [width]="socialFacebookWidth" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="home-section section-most-partners">
    <div class="public-section-inner">
        <div class="section-title mb-4">
            <span class="most-txt-strong">MOST</span>&nbsp;&nbsp;<span>Partners</span>
        </div>
        <div class="lines-wrapper mb-4">
            <div class="line"></div>
            <div class="line active"></div>
        </div>
        <div class="section-description font-lato-light mb-5">
            The Colorado State Patrol is committed to motorcycle safety and has teamed up with the following curriculum providers to offer outstanding courses for you.
        </div>
        <div class="row justify-content-around align-items-center">
            <div class="col-auto mr-md-2">
                <ul class='circle-container' [style.width.px]="circleD" [style.height.px]="circleD">
                    <li *ngFor="let p of courseProviders | slice : 0 : courseProviderCnt; let i = index;" [ngStyle]="{'transform': 'rotate(' + 360 / courseProviderCnt * i + 'deg) translate(' + circleD / 2 + 'px) rotate(-' + 360 / courseProviderCnt * i + 'deg)'}">
                        <a [href]="p.url" target="_self"><img [src]="p.image ? p.image : './assets/images/page-home/about-most-sample.png'"></a>
                    </li>
                    <li class="item-center flex-center">
                        <img class="m-2" src="./assets/images/page-home/most-partners-1.png" alt="" />
                        <img class="m-2" src="./assets/images/page-home/most-partners-3.png" alt="" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="home-section section-sign-up">
    <div class="public-section-inner">
        <div class="section-title mb-4">
            <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g><path d="M 30,8L 2,8 C 0.896,8,0,8.896,0,10l0,20 c0,1.104, 0.896,2, 2,2l 28,0 c 1.104,0, 2-0.896, 2-2L 32,10 C 32,8.896, 31.104,8, 30,8z M 11.36,22.054l 4.644,3.156l 4.616-3.178L 28.586,30L 3.414,30 L 11.36,22.054z M 2,28.586L 2,15.69 l 7.676,5.218L 2,28.586z M 22.294,20.88 L 30,15.576l0,13.010 L 22.294,20.88z M 30,10l0,3.236 l-0.042-0.060l-13.962,9.614L 2,13.274L 2,10 L 30,10 z"></path></g></svg>
            &nbsp;&nbsp;
            <span class="font-lato-bold">SIGNUP</span>&nbsp;
            <span class="font-lato-light">for our Newsletter</span>
        </div>
        <div class="row align-items-end">
            <div class="col-12 col-md">
                <div class="subscribe-txt">Subscribe to our weekly newsletter to get notified about MOST events and opportunities.</div>
            </div>
            <div class="col">
                <div class="input-wrapper">
                    <input type="email" class="form-control" placeholder="Enter your email address" name="newsletter_email" [(ngModel)]="newsletter_email"/>
                </div>
            </div>
            <div class="col-auto">
                <button class="home-btn font-lato-bold" (click)="sendNewsletterEmail()">SUBSCRIBE</button>
            </div>
        </div>
    </div>
</section>
<app-post-view></app-post-view>
