:host{
    .section-hero{
        //background-image: url("./../../../assets/images/page-home/hero-slide-1.png");
        background-size: cover;
        background-position: center;
        color: white;
        position: relative;

        .hero-slide-wrapper{
            .slide{
                //padding: 130px 0px;
                position: relative;
                height: 380px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .slide-content{
                    width: 1200px;
                    max-width: 100%;
                    margin: 0px auto;
                    padding: 0px 15px;
                    position: relative;
                    z-index: 2;
                    .slide-content-inner{
                        width: 700px;
                        max-width: 100%;
                        .get-your-txt{
                            color: white;
                            text-transform: uppercase;
                        }
                        .start-title{
                            color: white;
                        }
                        .line-wrapper{
                            display: flex;
                            align-items: center;
                            .line{
                                width: 100px;
                                height: 4px;
                                background: white;
                                &.active{
                                    background: var(--color-red-thick);
                                }
                            }
                        }
                        .earn-your-txt{
                            width: 335px;
                            max-width: 100%;
                            font-size: 20px;
                            font-weight: lighter;
                        }
                        .feature-content{
                            width: 700px;
                            max-width: 100%;
                            max-height: 200px;
                            overflow: hidden;
                            font-size: 20px;
                            font-weight: lighter;
                        }
                        .home-btn{
                            padding: 18px 20px;
                        }
                    }
                }
                .slide-background{
                    position: absolute;
                    z-index: 1;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
        .slick-action{
            position: absolute;
            width: 50px;
            height: 50px;
            top: calc((100% - 50px) / 2);
            background-color: rgba(25, 27, 39, .3);
            svg{
                g, path{
                    fill: white;
                }
            }
            &.action-prev{
                left: 0px;
            }
            &.action-next{
                right: 0px;
            }
            &:hover{
                background-color: rgba(25, 27, 39, .4);
            }
        }
    }
    .section-most-courses{
        padding: 70px 0px;
        .section-header{
            .section-title{
                font-size: 36px;
            }
            .btn{
                font-size: 11px;
                padding: 10px 26px;
            }
            .btn.app-btn-for-child{
                border-radius: 0px;
                padding: 9px 25px;
                border: 1px solid var(--color-grey-light);
            }
            .lines-wrapper{
                display: flex;
                .line{
                    width: 50px;
                    height: 4px;
                    margin-right: 3px;
                    background-color: var(--color-content);
                    &.active{
                        background-color: var(--color-red-thick);
                    }

                }
            }
        }
        .your-best-txt{
            font-size: 20px;
            line-height: 1.5;
        }
        .courses-list{
            .course-item{
                display: block;
                height: 315px;
                position: relative;
                overflow: hidden;
                color: inherit;
                .item-img-wrapper{
                    max-height: 100%;
                    img{
                        width: 100%;
                        min-height: 300px;
                        max-height: 100%;
                        object-fit: cover;
                    }
                }
                .item-content{
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    width: 100%;
                    height: auto;
                    background-color: #f4f4f4;
                    border-bottom: 4px solid var(--color-red-thick);
                    text-align: center;
                    padding: 30px 15px 5px;
                    overflow: hidden;
                    transition: all .2s ease-out;
                    .item-title{
                        margin-bottom: 5px;
                    }
                    .item-description{
                        opacity: 0;
                        white-space: pre;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    &:before{
                        content: '';
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 7%;
                        height: 100%;
                        background-color: var(--color-red-thick);
                        transform-origin: bottom right;
                        transform: rotate(-45deg);
                        transition: all .3s ease-out;
                    }
                }
                &:hover{
                    .item-content{
                        color: white;
                        background-color: var(--color-red-thick);
                        padding-bottom: 30px;
                        border-bottom: 0px;
                        .item-description{
                            opacity: 1;
                        }
                        &:before{
                            background-color: var(--color-content);
                        }
                    }
                }
            }
        }
    }
    .section-most-videos{
        .section-left{
            height: 100%;
            padding: 30px;
            background-color: var(--color-content);
            color: white;
            .left-inner{
                .section-title{
                    font-size: 36px;
                    line-height: 42px;
                }
                .learn-about-txt{
                    width: 310px;
                    max-width: 100%;
                    font-size: 16px;
                    line-height: 24px;
                }
                .view-all-link{
                    padding: 15px 25px;
                    background-color: var(--color-red-thick);
                    color: white;
                    font-size: 11px;
                    border-radius: 0;
                }
                .line{
                    height: 4px;
                    width: 100px;
                    background-color: var(--color-red-thick);
                    &.line-white{
                        width: 50px;
                        background-color: white;
                    }
                }
            }
        }
        .section-videos-list{
            .video-item{
                height: 250px;
                position: relative;
                .item-img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .item-content{
                    position: absolute;
                    left: 25px;
                    right: 25px;
                    bottom: 30px;
                    color: white;
                    opacity: 0;
                    .play-btn{
                        display: block;
                        border-width: 24px 0px 24px 36px;
                        border-style: solid;
                        border-color: transparent;
                        border-left-color: var(--color-red-thick);
                    }
                    .item-title{
                        font-size: 20px;
                    }
                    .item-date{
                        svg{
                            margin-right: 3px;
                            g, path{
                                fill: white;
                            }
                        }
                        span{
                        }
                    }
                }
                &:hover{
                    .item-content{
                        opacity: 1;
                    }
                }
            }
        }
        .row{
            .lef-col{
                flex-basis: 450px;
            }
            .videos-col{
                flex-basis: 1150px;
            }
        }
    }
    .section-about-most{
        padding: 100px 0px 40px;
        .section-title{
            font-size: 36px;
            line-height: 42px;
        }
        .section-description{
            font-size: 20px;
        }
        .lines-wrapper{
            display: flex;
            .line{
                width: 50px;
                height: 4px;
                margin-right: 3px;
                background-color: var(--color-content);
                &.active{
                    background-color: var(--color-red-thick);
                }

            }
        }
        .grid-item-img{
            width: 100%;
            height: 375px;
            object-fit: cover;
        }
        .grid-item-content{
            height: 250px;
            background-color: #f4f4f4;
            padding: 15px;
            .item-title{
                font-size: 24px;
            }
            .item-description{
                width: 375px;
                max-width: 100%;
                font-size: 16px;
            }
            .item-btn{
                border-radius: 0px;
                padding: 9px 25px;
                border: 1px solid var(--color-grey-light);
                font-size: 11px;
                color: black;
                &:hover{
                    border-color: var(--color-red-thick);
                    color: white;
                    background-color: var(--color-red-thick);
                }
            }
            .item-content-inner{
                max-width: 100%;
            }
        }
        .show-more-wrapper{
            text-align: center;
            .show-more-btn{
                border-radius: 0;
                padding: 15px 25px;
                border: 1px solid var(--color-red-thick);;
                font-size: 13px;
                color: white;
                background-color: var(--color-red-thick);
            }
        }
    }
    .section-most-partners{
        padding: 100px 0px 35px;
        background-image: linear-gradient(to top, white 40%, #ececec);
        border-bottom: 1px solid var(--color-grey-light);
        position: relative;
        overflow: hidden;
        text-align: center;
        .section-title{
            font-size: 30px;
            .most-txt-strong{
                font-size: 30px;
            }
        }
        .section-description{
            width: 750px;
            margin: 0px auto;
        }
        .lines-wrapper{
            display: flex;
            justify-content: center;
            .line{
                width: 50px;
                height: 4px;
                margin-right: 3px;
                background-color: var(--color-content);
                &.active{
                    background-color: var(--color-red-thick);
                }

            }
        }
        .public-section-inner {
            position: relative;
            z-index: 2;
        }
        &:before{
            content: '';
            display: block;
            position: absolute;
            bottom: 100%;
            right: 40%;
            width: 100%;
            height: 200%;
            transform-origin: bottom right;
            background-color: rgba(255, 255, 255, .5);
            transform: rotate(-35deg);
            z-index: 1;
        }

        @mixin on-circle($item-count, $circle-size, $item-size) {
            position: relative;
            width:  $circle-size;
            height: $circle-size;
            border-radius: 50%;
            padding: 0;
            list-style: none;

            > * {
                display: block;
                position: absolute;
                top:  50%;
                left: 50%;
                margin: -($item-size / 2);
                width:  $item-size;
                height: $item-size;

                $angle: (360 / $item-count);
                $rot: 0;

                //@for $i from 1 through $item-count {
                //    &:nth-of-type(#{$i}) {
                //        transform: rotate($rot * 1deg) translate($circle-size / 2) rotate($rot * -1deg);
                //    }
                //
                //    $rot: $rot + $angle;
                //}
            }
        }

        .circle-container {
            @include on-circle($item-count: 8, $circle-size: 26em, $item-size: 6em);
            margin: 4em;
            border: solid 5px transparent;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: scale-down;
                object-position: center;
                filter: grayscale(100%);
                border: solid 0px tomato;
                transition: .15s;

                &:hover {
                    filter: grayscale(0);
                }
            }
            > li.item-center {
                display: flex;
                top: 0px;
                left: 0px;
                margin: 0px;
                width: 100%;
                height: 100%;
                z-index: -1;
                img{
                    max-width: 150px;
                    height: auto;
                    border: none;
                    border-radius: 0px;
                    filter: grayscale(0);
                }
            }
        }
    }
    .section-sign-up{
        padding: 75px 0px 95px;
        .section-title{
            font-size: 30px;
            svg{
                g, path{
                    fill: var(--color-red-thick) !important;
                }
            }
        }
        .subscribe-txt{
            padding-top: 10px;
            font-size: 14px;
            line-height: 28px;
        }
        .input-wrapper{
            border-bottom: 1px solid var(--color-grey-light);
            padding-bottom: 25px;
            padding-left: 30px;
            position: relative;
            overflow: hidden;
            transition: all .2s ease-out;
            input{
                border: none;
                font-size: 16px;
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
                &::placeholder{
                    color: var(--color-grey-light);
                    font-style: italic;
                }
            }
            &:before{
                content: '';
                position: absolute;
                top: 0px;
                left: 0px;
                width: 3%;
                height: 100%;
                background-color: var(--color-grey-light);
                transform-origin: bottom right;
                transform: rotate(-45deg);
            }
            &:focus-within{
                padding-bottom: 0px;
                padding-left: 10px;
                border-color: var(--color-content);
                &:before{
                    background-color: var(--color-content);
                }
            }
        }
        .home-btn{
            font-family: Lato;
            padding: 20px 40px;
            font-size: 14px;
        }
        .public-section-inner{
            width: 1070px;
        }
    }
    .section-social{
        padding: 80px 0px 60px;
        background-image: url("./../../../../assets/images/page-home/hero-slide-1.png");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        .upcoming-events{
            padding: 7px;
            .social-title{
                color: white;
                margin-bottom: 20px;
            }
            .event-list{
                .event-item{
                    margin-bottom: 25px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #888888;
                    position: relative;
                    //overflow: hidden;
                    .item-title{
                        color: #cccccc;
                    }
                    .item-des{
                        color: #888888;
                        font-style: italic;
                    }
                    .item-day{
                        width: 50px;
                        height: 50px;
                        position: relative;
                        overflow: hidden;
                        background-color: #363636;
                        font-size: 22px;
                        color: white;
                        border: 0px;
                        &:before{
                            content: '';
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            width: 15%;
                            height: 100%;
                            background-color: var(--color-red-thick);
                            transform-origin: bottom right;
                            transform: rotate(-45deg);
                        }
                    }
                    .hove-content{
                        display: none;
                        position: absolute;
                        bottom: -1px;
                        left: 0px;
                        width: 100%;
                        min-height: 100%;
                        opacity: 0;
                        background-color: var(--color-red-thick);
                        color: white;
                        transition: all ease-out .2s;
                        padding: 5px;
                    }
                    &:hover{
                        .hove-content{
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .twitter-feed{
            padding: 7px;
            .social-title{
                color: white;
                margin-bottom: 50px;
            }
            .social-des{
                color: #888888;
                font-size: 1.2rem;
                .tweet-item{
                    color: #888888;
                    border-bottom: 1px solid #888888;
                    &:hover{
                        color: lightblue;
                    }
                }
            }
        }
        .instagram-feed{
            padding: 5px;
            .social-title{
                color: white;
                margin-bottom: 25px;
            }
            .social-grid{
                display: flex;
                flex-wrap: wrap;
                .instagram-item{
                    min-width: 0px;
                    flex-basis: calc(100% / 3);
                    box-sizing: border-box;
                    border: 1px solid white;
                    flex-shrink: 0;
                    flex-grow: 0;
                    img{
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }
        .facebook-feed{
            padding: 5px;
            .social-title{
                color: white;
                margin-bottom: 25px;
            }
            .social-des{
                color: #888888;
                font-size: 1.2rem;
                .feed-item{
                    color: #888888;
                    border-bottom: 1px solid #888888;
                    &:hover{
                        color: lightblue;
                    }
                }
            }
        }
        .public-section-inner{
            width: 1552px;
        }
        &:before{
            content: '';
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: .8;
        }
        @media all and (max-width: 768px){
            .instagram-feed{
                .social-title{
                }
                .social-grid{
                    .instagram-item{
                        min-width: 0px;
                        flex-basis: calc(100% / 2);
                    }
                }
            }
        }
    }
    .public-section-inner {
        width: var(--public-section-inner);
        max-width: 100%;
        margin: 0px auto;
        padding: 0px 15px;
    }
    .most-txt-strong{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 36px;
        line-height: 43.2px;
    }
}