<div class="card">
    <div class="card-body">
        <form #f="ngForm" (ngSubmit)="save()">
            <div class="form-group app-form-group">
                <div class="media-action-header mb-2">
                    <div class="add-media-wrap">
                        <div class="media-display mb-3" *ngIf="sets.source">
                            <img [src]="sets.source" *ngIf="mediaType === 'image'" alt="" />
                            <div *ngIf="mediaType === 'document'">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                <path style="fill:#FAD55C;" d="M256,0c141.4,0,256,114.6,256,256S397.4,512,256,512S0,397.4,0,256S114.6,0,256,0z"/>
                                    <path style="fill:#E3C04D;" d="M510.8,280.4C498.5,410.4,389.1,512,256,512c-9.2,0-18.4-0.5-27.3-1.5l-96.1-96.1L379.5,149
                                    L510.8,280.4z"/>
                                    <polygon style="fill:#F8F8F8;" points="132.6,97.6 328,97.6 379.4,149.1 379.4,414.4 132.6,414.4 "/>
                                    <polygon style="fill:#FF8C8A;" points="132.6,97.6 328,97.6 379.4,149.1 379.4,173.8 132.6,173.8 "/>
                                    <polygon style="fill:#EBECEC;" points="328,97.6 328,149.1 379.4,149.1 "/>
                                    <path style="fill:#F8F8F8;" d="M150.2,158.6v-44.7h14.5c5.5,0,9.1,0.2,10.7,0.7c2.6,0.7,4.7,2.1,6.4,4.4c1.7,2.2,2.6,5.2,2.6,8.7
                                c0,2.7-0.5,5-1.5,6.9s-2.3,3.3-3.8,4.4c-1.5,1.1-3.1,1.8-4.7,2.1c-2.2,0.4-5.3,0.6-9.4,0.6h-5.9v16.9H150.2z M159.3,121.4v12.7h4.9
                                c3.6,0,5.9-0.2,7.1-0.7c1.2-0.5,2.1-1.2,2.8-2.2s1-2.2,1-3.5c0-1.6-0.5-3-1.4-4c-1-1.1-2.2-1.7-3.6-2c-1.1-0.2-3.2-0.3-6.5-0.3
                                C163.6,121.4,159.3,121.4,159.3,121.4z M191.9,113.8h16.5c3.7,0,6.5,0.3,8.5,0.9c2.6,0.8,4.9,2.1,6.7,4.1c1.9,2,3.3,4.4,4.3,7.3
                                c1,2.9,1.5,6.4,1.5,10.6c0,3.7-0.5,6.8-1.4,9.5c-1.1,3.3-2.7,5.9-4.8,7.9c-1.6,1.5-3.7,2.7-6.3,3.6c-2,0.6-4.6,1-8,1h-17V113.8z
                                 M201,121.4V151h6.7c2.5,0,4.3-0.1,5.4-0.4c1.5-0.4,2.7-1,3.6-1.9c1-0.9,1.8-2.3,2.4-4.3c0.6-2,0.9-4.7,0.9-8.2s-0.3-6.1-0.9-8
                                c-0.6-1.9-1.5-3.3-2.5-4.3c-1.1-1-2.5-1.7-4.2-2.1c-1.3-0.3-3.7-0.4-7.4-0.4C205,121.4,201,121.4,201,121.4z M237,158.6v-44.7h30.7
                                v7.6H246V132h18.7v7.6H246v19H237z"/>
                                    <path style="fill:#FA7876;" d="M335.5,325.5c5.5,0.1,13.9,0.1,18.1,3.8l3.5,3.7c2-2.5,2.4-7.2-0.6-10.2c-10.3-10.4-48.1-4.4-61.5-3
                                c-1.5,0.1-3.3-1.5-4.4-2.3c-4.9-3.1-13-10.4-16.8-14.8l-7.8-9.8c-5.9-8.1-10.9-17.8-14.7-27.4c-1.2-2.9-0.9-2.5-0.2-5.6
                                c0.4-1.9,0.8-3.9,1.1-5.9c1.5-8.1,2.5-17.1,2.1-25.6c-1.7-0.3-1.3,0.6-1.7,2l-5.3,17.2c-0.2,0.5-0.3,0.9-0.5,1.4
                                c-0.1,0.2-0.2,0.5-0.2,0.7l-0.4,0.6c-0.9-1.9-1.9-7.1-2.4-9.5c-2.1-9.7-3.5-22.1-2.9-32c0.4-6.7,2.8-17.4,8.3-8.1
                                c1.5,2.4,2.7,5,3.9,7.8l3.1,8.6c0.9-3.5,1-7,0.3-10.6c-1.1-5.2-2.5-5.8-3.8-7.9c-0.8-0.4-1.1-1-2-1.6c-0.7-0.5-1.4-0.8-2.2-1.3
                                c-4.5-1.4-5.3-1.9-10.2-0.7c-0.6,0.3-1.2,0.6-1.8,0.9l-1.2,0.9c-0.3,0.3,0,0.1-0.5,0.3c-0.3,0.6-0.9,0.9-1.9,2.7
                                c-1.9,3.4-2.2,7.4-2.3,11.3c-0.5,16.7,4,38.7,9.1,54.4c0.5,1.5-0.1,2.1-0.6,3.5c-2.1,5.2-4.6,10.6-6.8,15.7
                                c-5.1,11.9-17.8,36.7-24.2,48.2c-4.3,7.7-8.2,15.9-12.6,23.5c-2.3,3.9-4.8,7.6-7.3,11c-1.9,2.6-10.1,12.8-12.4,14.8
                                c-1.6,1.3-2.9,3-4.5,4.4c-0.9,0.8-1.4,1.5-2.4,2.3c-0.8,0.7-1.5,1.4-2.4,2.1c-1,0.8-3.8,3.8-5.4,2.7c-3.1-3.2,12.3-23,16-26.6
                                l12.7-13.1c-5.3,1.8-11.8,5.8-15.8,8.6c-6.3,4.5-20.4,18.9-21.1,27.2c-0.7,8.6,12.7,13.4,23.2,6.5c1-0.6,2.8-2,3.4-2.7
                                c5.6-6,8.5-10.1,13.2-17c5.8-8.6,11-17.1,16.3-26.1c0.8-1.4,2-1.6,3.5-2.3c21.8-10.7,51.8-17.4,76.5-20.3c2-0.2,2.6,0.6,4.2,1.5
                                c1.4,0.8,2.5,1.4,3.9,2.2c7.3,3.9,17.3,8.3,25.4,10.7c11.4,3.3,33.1,7.5,34.2-7.6l-1.2,1c-5.4,4.2-19.7,0.9-25.2-0.7
                                c-4.5-1.3-19.9-6.3-23.2-8.5C316.5,325.8,326.5,325.4,335.5,325.5z M263.3,325.5c-13.2,3-28.9,7.2-41.2,12.6c-2.2,1-5.3,2.7-7.2,3.3
                                c0.4-1.1,1.4-2.7,2.1-3.8c4.2-7,19-34.9,21.8-41.2c1.2-2.7,2.3-5.2,3.5-8c1.1-2.7,2-5.6,3.2-8.3c1,1.4,2.4,4.8,3.3,6.4
                                c3.7,7,7.2,11.3,12,17c1.5,1.8,3.2,3.5,4.7,5.1l10.2,9c1.6,1.3,4.1,2.8,5.5,4.1L263.3,325.5z"/>
                            </svg>
                            </div>
                        </div>
                        <div class="add-txt font-lato-light">Upload Image or Pdf</div>
                        <input type="file" name="source" (change)="setMedia($event)"/>
                    </div>
                </div>
                <div class="media-item" *ngIf="media">
                    <div class="file-info text-center">
                        <span class="file-name">{{media.name}}</span>&nbsp;&nbsp;
                        <span class="file-type">{{media.type}}</span>
                    </div>
                </div>
            </div>
            <div class="form-group app-form-group" *ngIf="authService.auth.role.toLowerCase() === 'admin'">
                <label for="instructor" class="form-control-label">Select Instructor:</label>
                <select name="instructor" id="instructor" class="form-control" [(ngModel)]="sets.instructor">
                    <option *ngFor="let instructor of instructors" [value]="instructor.id">{{instructor.name}}</option>
                </select>
            </div>
            <div>
                <button class="app-btn">{{ row ? 'SAVE' : 'SUBMIT' }}</button>
            </div>
        </form>
    </div>
</div>
