.component-inner{
    .component-header{
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    .component-content{
        app-web-search-selectable-row{
            display: block;
            margin-bottom: 15px;
        }
    }
    .component-footer{

    }
}