<div class="component-inner">
    <header class="component-header">Your Search Results</header>
    <div class="component-content mb-3">
        <app-web-search-selectable-row #youtubeRow [(items)]="searchData.youtube.items" from="youtube"></app-web-search-selectable-row>
        <app-web-search-selectable-row #podcastsRow [(items)]="searchData.spreaker.items" from="podcasts"></app-web-search-selectable-row>
        <app-web-search-selectable-row #blogsRow [(items)]="searchData.blogs.items" from="blog"></app-web-search-selectable-row>
    </div>
    <footer class="component-footer">
        <div class="btn-wrapper">
            <button class="app-btn" type="button" (click)="addSelected()">Add selected</button>
        </div>
    </footer>
</div>