<div #courseEditorModal class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{mode === 'create' ? 'Create Course' : 'Edit Course'}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" (click)="cancel()">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #f="ngForm" enctype="multipart/form-data" (ngSubmit)="f.form.valid && saveCourse()">
                    <div class="app-form-group form-group">
                        <label for="" class="control-label">Name of Course:</label>
                        <input type="text" class="form-control" name="name" [(ngModel)]="course.name"/>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="app-form-group form-group">
                                <label for="" class="control-label">Type of Course:</label>
                                <select class="form-control" name="type" [(ngModel)]="course.type" id="">
                                    <option *ngFor="let type of types" [value]="type.id">{{type.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="app-form-group form-group">
                                <label for="" class="control-label">Course Provider Company</label>
                                <select name="provider_company" [(ngModel)]="course.provider_company" class="form-control">
                                    <option *ngFor="let provider of providers" [value]="provider.id">{{provider.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="app-form-group form-group">
                        <label for="" class="form-control-label">Description of Course:</label>
                        <app-ngx-editor [config]="editorConfig" name="content" [placeholder]="'type your description...'" [spellcheck]="true" [(ngModel)]="course.description"></app-ngx-editor>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="app-form-group form-group">
                                <label for="" class="form-control-label">Instructor:</label>
                                <input type="text" class="form-control" name="instructor" [(ngModel)]="course.instructor" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="app-form-group form-group">
                                <label for="" class="form-control-label">Date and time:</label>
                                <input type="text" class="form-control" name="date_time" [(ngModel)]="course.date_time" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="app-form-group form-group">
                                <label for="" class="control-label">Address:</label>
                                <input type="text" class="form-control" name="address" [(ngModel)]="course.address"/>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="app-form-group form-group">
                                <label for="" class="control-label">City:</label>
                                <input type="text" class="form-control" name="city" [(ngModel)]="course.city"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="app-form-group form-group">
                                <label for="" class="control-label">State:</label>
                                <input type="text" class="form-control" name="state" [(ngModel)]="course.state"/>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="app-form-group form-group">
                                <label for="" class="control-label">Zip:</label>
                                <input type="text" class="form-control" name="zip" [(ngModel)]="course.zip"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="app-form-group form-group">
                                <label for="" class="control-label">Phone:</label>
                                <input type="text" class="form-control" name="phone" [(ngModel)]="course.phone"/>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="app-form-group form-group">
                                <label for="" class="control-label">Email:</label>
                                <input type="text" class="form-control" name="email" [(ngModel)]="course.email"/>
                            </div>
                        </div>
                    </div>
                    <div class="app-form-group form-group">
                        <label for="" class="control-label">Upload cover image for this Course (optional):</label>
                        <div class="cover-image-wrapper">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-auto">
                                    <div class="img-wrapper">
                                        <img [src]="coverImageSrc || './assets/images/icon/cloud-computing.svg'">
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="upload-helper-txt">Drag Image here to upload</div>
                                </div>
                            </div>
                            <input class="form-control" type="file" name="image" (change)="updateCoverImage($event)"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">Close</button>
                <button type="button" class="btn btn-primary" (click)="mode === 'create' ? createCourse() : saveCourse()">Save changes</button>
            </div>
        </div>
    </div>
</div>