<div class="page-component">
    <header class="page-header pt-3 pb-3">
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="title font-lato-light">Learn about <span class="most-txt-strong font-lato">MOST</span></div>
                <div class="content">
                    <div class="most-courses-txt font-lato-light"><span class="font-weight-bold">Frequently Asked Questions</span></div>
                    <div class="lines-wrapper">
                        <div class="line"></div>
                        <div class="line active"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="page-content-wrapper">
        <div class="row flex-sm-wrap">
            <div class="col-md col-12 mr-0 mr-md-5">
                <div class="faq-list">
                    <div class="faq-item" *ngFor="let faq of faqs">
                        <h2 class="item-title">{{faq.question}}</h2>
                        <p class="item-description">{{faq.answer}}</p>
                        <div class="hr-lines-wrapper">
                            <div class="hr-line-black"></div>
                            <div class="hr-line-red"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-auto col-12 ml-0 ml-md-5">
                <app-public-sidebar [courseTypes]="courseTypes" [socialFeed]="socialFeed"></app-public-sidebar>
            </div>
        </div>
    </section>
</div>