.connect-wrapper{
    margin-bottom: 15px;
    a {
        background-color: #4267b2;
        border-radius: 2px;
        padding: 8px 20px;
        color: white;
        &:hover {
            background-color: #365899;
        }
    }
}
.feed-list{
    display: block;
    .feed-item{
        width: 300px;
        max-width: 100%;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .12);
        margin-bottom: 10px;
        word-wrap: break-word;
        background-color: #fff;
        border-radius: 3px;
        .media-wrap{
            width: 100%;
            video, img{
                width: 100%;
            }
        }
        .context-wrap{
            display: block;
            padding: 15px;
            .item-title{
                color: black;
                font-size: 1.2em;
                margin-bottom: 10px;
            }
            .item-description{
                color: #333;
            }
        }
    }
}