<div class="card">
    <div class="card-body">
        <div class="form-group app-form-group">
            <label for="" class="form-control-label">APP ID:</label>
            <input type="text" class="form-control" name="app_id" [(ngModel)]="appId" (blur)="saveOption('facebook_app_id', appId)"/>
        </div>
        <div class="form-group app-form-group">
            <label for="" class="form-control-label">APP SECRET:</label>
            <input type="text" class="form-control" name="app_secret" [(ngModel)]="appSecret" (blur)="saveOption('facebook_app_secret', appSecret)"/>
        </div>
        <div class="connect-wrapper">
            <a [href]="redirectUrl">Connect your Facebook</a>
        </div>
        <div class="feed-list" *ngIf="feeds">
            <div class="feed-item" *ngFor="let feed of feeds">
                <div class="media-wrap" *ngIf="feed.attachment.media_type === 'video' || feed.attachment.media_type === 'photo'">
                    <video [src]="feed.attachment.media.source" *ngIf="feed.attachment.media_type === 'video'" controls></video>
                    <img [src]="feed.full_picture" *ngIf="feed.attachment.media_type === 'photo'" alt="" />
                </div>
                <a class="context-wrap" [href]="feed.permalink_url" target="_blank">
                    <div class="item-title" *ngIf="feed.attachment.media_type === 'link'">{{feed.attachment.title}}</div>
                    <div class="item-description" *ngIf="feed.attachment.media_type === 'link'">{{feed.attachment.description}}</div>
                    <div class="item-title" *ngIf="feed.attachment.media_type === 'video'">{{feed.message}}</div>
                    <div class="item-title" *ngIf="feed.attachment.media_type === 'photo'">{{feed.message ? feed.message : feed.attachment.title}}</div>
                </a>
            </div>
        </div>
    </div>
</div>