<div class="card">
    <div class="card-body">
        <form #f="ngForm" (ngSubmit)="save()">
            <div class="form-group app-form-group">
                <label for="" class="form-control-label">Name:</label>
                <input type="text" class="form-control" name="name" placeholder="" [(ngModel)]="sets.name"/>
            </div>
            <div class="form-group app-form-group">
                <label for="" class="form-control-label">Body:</label>
                <textarea type="text" class="form-control" name="body" [(ngModel)]="sets.body"></textarea>
            </div>
            <div class="form-group app-form-group">
                <label for="" class="form-control-label">Group:</label>
                <select class="form-control" name="group" [(ngModel)]="sets.group">
                    <option value="instructor">Instructor</option>
                    <option value="provider">Provider</option>
                    <option value="instructor&provider">Instructor and Provider</option>
                </select>
            </div>
            <div class="form-group app-form-group">
                <label for="" class="form-control-label">Type:</label>
                <select type="text" class="form-control" name="type" [(ngModel)]="sets.type">
                    <option value="email">Email</option>
                    <option value="sms">SMS</option>
                    <option value="email&sms">Email and SMS</option>
                </select>
            </div>
            <div class="form-group app-form-group">
                <label for="" class="form-control-label">Date Time:</label>
                <input class="form-control" placeholder="" name="datetime"
                       [(ngModel)]="dateTime"
                       [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" />
                <owl-date-time [pickerType]="'calendar'"
                               [startView]="'year'" #dt1></owl-date-time>
            </div>
            <div class="button-box"><button class="app-btn" type="submit">{{reminder ? 'Save' : 'Create'}}</button></div>
        </form>
    </div>
</div>