.overview-board{
    width: 1350px;
    max-width: 100%;
    margin: 0px auto 20px;
    .board-item{
        min-height: 100%;
        padding: 15px 20px;
        border-radius: 3px;
        color: white;
        font-family: 'lato-bold';
        .item-name{
            font-size: 1.5rem;
            margin-bottom: 10px;
            height: 70px;
        }
        .item-value-wrap{
            text-align: center;
            .item-value{
                font-size: 70px;
                line-height: 1;
                margin-bottom: 5px;
                letter-spacing: 3px;
            }
            .item-divider{
                margin-bottom: 10px;
                height: 1px;
                background-image: linear-gradient(to left, white 2px, transparent 0px);
                background-size: 4px 1px;
                background-repeat: repeat-x;
            }
            .item-overall{
                font-size: 1.2rem;
            }
        }
        &.course-views{
            background-color: #26a69a;
        }
        &.click-courses{
            background-color: #ec407a;
        }
        &.conversion-rate{
            background-color: #29b6f6;
        }
        &.monthly-change{
            background-color: #7f00ff;
        }
    }
}

.card > .card-body section{
    margin-bottom: 20px;
    .section-title{
        font-family: 'lato-bold';
    }
}
:host {
    ::ng-deep{
        .app-table{
            .datatable-body{
                .datatable-row-wrapper{
                    .datatable-body-row{
                        .datatable-body-cell{
                            .datatable-body-cell-label{
                                img, svg{
                                    width: 70px;
                                    height: auto;
                                    object-fit: cover;
                                    object-position: center;
                                }
                                a{
                                    color: inherit;
                                }
                                .approve-wrap{
                                    a{
                                        padding: 2px 10px 4px;
                                        border: 1px solid #29b6f6;
                                        border-radius: 2px;
                                        color: #29b6f6;
                                    }
                                }
                                .deny-wrap{
                                    a{
                                        padding: 2px 10px 4px;
                                        border-radius: 2px;
                                        border: 1px solid #67757c;
                                        color: #67757c;
                                    }
                                }
                                .approved-wrap{
                                    .approved-txt{
                                        padding: 2px 10px 4px;
                                        border-radius: 2px;
                                        background-color: #29b6f6;
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}