.page-component{
    .page-header {
        background-color: #F4F4F4;
        .title {
            font-size: 40px;
        }
        .content {
            display: inline-block;
            .most-courses-txt{
                font-size: 38px;
            }
            .lines-wrapper {
                display: flex;
                .line {
                    width: 50px;
                    height: 4px;
                    margin-right: 3px;
                    background-color: var(--color-content);
                    &.active {
                        background-color: var(--color-red-thick);
                    }

                }
            }
        }
    }
    .page-content-wrapper {
        width: 1300px;
        max-width: 100%;
        margin: 0px auto;
        padding: 50px 20px 50px 20px;
        .section-header{
            .section-title{
                font-size: 36px;
            }
            .btn{
                font-size: 11px;
                padding: 10px 26px;
            }
            .btn.app-btn-for-child{
                border-radius: 0px;
                padding: 9px 25px;
                border: 1px solid var(--color-grey-light);
            }
            .lines-wrapper{
                display: flex;
                .line{
                    width: 50px;
                    height: 4px;
                    margin-right: 3px;
                    background-color: var(--color-content);
                    &.active{
                        background-color: var(--color-red-thick);
                    }

                }
            }
        }
        .list-course{
            .course-item{
                display: block;
                height: 315px;
                position: relative;
                overflow: hidden;
                color: inherit;
                .item-img-wrapper{
                    max-height: 100%;
                    img{
                        width: 100%;
                        min-height: 300px;
                        max-height: 100%;
                        object-fit: cover;
                    }
                }
                .item-content{
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    width: 100%;
                    height: auto;
                    background-color: #f4f4f4;
                    border-bottom: 4px solid var(--color-red-thick);
                    text-align: center;
                    padding: 30px 15px 5px;
                    overflow: hidden;
                    transition: all .2s ease-out;
                    .item-title{
                        margin-bottom: 5px;
                    }
                    .item-description{
                        opacity: 0;
                        white-space: pre;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    &:before{
                        content: '';
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 7%;
                        height: 100%;
                        background-color: var(--color-red-thick);
                        transform-origin: bottom right;
                        transform: rotate(-45deg);
                        transition: all .3s ease-out;
                    }
                }
                &:hover{
                    .item-content{
                        color: white;
                        background-color: var(--color-red-thick);
                        padding-bottom: 30px;
                        border-bottom: 0px;
                        .item-description{
                            opacity: 1;
                        }
                        &:before{
                            background-color: var(--color-content);
                        }
                    }
                }
            }
        }
    }
    .section-divider{
        border-bottom: 1px solid var(--color-grey-light);
    }
    .signup-component-wrap{
        width: 1300px;
        max-width: 100%;
        margin: 0px auto;
        padding: 50px 0px 20px;
    }
}