<div class="page-component">
    <header class="page-header pt-3 pb-3 text-center">
        <div class="title font-lato">Let's find the right course for you</div>
        <div class="content">
            <div class="most-courses-txt font-lato-light">Select your Course</div>
            <div class="lines-wrapper">
                <div class="line"></div>
                <div class="line active"></div>
            </div>
        </div>
    </header>
    <section class="page-content-wrapper">
        <header class="section-header mb-4">
            <div class="row mb-4">
                <div class="col-auto mr-auto">
                    <div class="section-title"><span class="most-txt-strong">MOST</span><span class="font-lato-light">Courses</span></div>
                </div>
            </div>
            <div class="lines-wrapper">
                <div class="line"></div>
                <div class="line active"></div>
            </div>
        </header>
        <div class="list-course">
            <div class="row">
                <div *ngFor="let courseType of courseTypes | slice : 0 : 3" class="col-12 col-sm-6 col-md-3 col-lg">
                    <a class="course-item" href="javascript:;" (click)="findCourse(courseType.id)" target="_self">
                        <div class="item-img-wrapper">
                            <img [src]="courseType.image" alt="" />
                        </div>
                        <div class="item-content">
                            <div class="item-title font-lato-bold">{{courseType.name}}</div>
                            <div class="item-description" [innerHTML]="courseType.small_description"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="section-divider"></div>
    <section class="signup-component-wrap">
        <app-signup-for-newsletter></app-signup-for-newsletter>
    </section>
</div>