<div class="page-component">
    <header class="page-header pt-3 pb-3">
        <div class="d-flex flex-column align-items-center">
            <div class="title font-lato-light">{{courseType.name}}</div>
            <div class="content">
                <div class="most-courses-txt font-lato-light"><span class="font-weight-bold">MOST</span> About the Courses</div>
                <div class="lines-wrapper">
                    <div class="line"></div>
                    <div class="line active"></div>
                </div>
            </div>
        </div>
    </header>
    <section class="page-content-wrapper">
        <div class="row justify-content-center flex-wrap flex-sm-wrap">
            <div class="col-12 col-md content-col mr-0 mr-md-5">
                <div class="course-detail">
                    <div class="image-wrapper">
                        <img [src]="courseType.image" class="w-100" alt="">
                        <div class="hr-line-red"></div>
                    </div>
                    <h2 class="course-title font-lato">{{courseType.name}}</h2>
                    <div class="course-description mb-4" [innerHTML]="courseType.description"></div>
                    <div class="text-center">
                        <a href="javascript:;" (click)="findCourse()" target="_self" class="find-btn btn app-btn-for-child font-lato-bold">FIND A COURSE</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-auto sidebar-col ml-0 ml-md-5">
                <app-public-sidebar [courseTypes]="courseTypes" [socialFeed]="socialFeed"></app-public-sidebar>
            </div>
        </div>
    </section>
    <section class="signup-component-wrap">
        <app-signup-for-newsletter></app-signup-for-newsletter>
    </section>
</div>