.page-header {
    background-color: #F4F4F4;
    padding: 0px 15px;
    .title {
        font-size: 40px;
    }
    .content {
        .most-courses-txt{
            font-size: 38px;
        }
        .lines-wrapper {
            display: flex;
            .line {
                width: 50px;
                height: 4px;
                margin-right: 3px;
                background-color: var(--color-content);
                &.active {
                    background-color: var(--color-red-thick);
                }

            }
        }
    }
}
.page-content-wrapper {
    width: 1300px;
    max-width: 100%;
    margin: 0px auto;
    padding: 50px 20px 20px 20px;
    .course-detail {
        .image-wrapper {
            .hr-line-red {
                width: 60%;
                height: 4px;
                margin-right: 3px;
                background-color: var(--color-red-thick);
            }
        }
        .course-title {
            color: black;
            margin-top: 20px;
        }
        .hr-lines-wrapper {
            display: flex;
            margin-top: 50px;
            margin-bottom: 50px;
            div {
                height: 4px;
                margin-right: 3px;
                &.hr-line-black {
                    width: 50px;
                    background-color: var(--color-content);
                }
                &.hr-line-red {
                    width: 150px;
                    background-color: var(--color-red-thick);
                }
            }
        }
        .find-btn{
            border-radius: 0px;
            padding: 10px 25px;
            background-color: var(--color-red-thick);
            border: 1px solid var(--color-red-thick);
            font-size: 11px;
            color: white;
            &:hover{
                border-color: var(--color-red-thick-hover);
                color: white;
                background-color: var(--color-red-thick-hover);
            }
        }
    }
}
.signup-component-wrap{
    width: 1300px;
    max-width: 100%;
    margin: 0px auto;
    padding: 50px 0px 20px;
}
.most-txt-strong{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    line-height: 43.2px;
}

